<%= simple_nested_form_for @staff, url: staff_path(@staff), method: :put, wrapper: :default do |f| %>
<%= render "shared/errors", object: @staff %>
<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      Biodata Staf
    </div>
  </div>
  <div class="card-content">
    <div class="card">
      <div class="card-content has-background-white-ter">
        <%= f.simple_fields_for :staff_profile do |staff_profile| %>
          <%= render partial: 'staffs/form/profile', locals:{staff: f, staff_profile: staff_profile} %>
        <% end %>
        <%= f.simple_fields_for :alamat_tinggal do |address| %>
          <%= render partial: 'staffs/form/address', locals:{f: f, address: address} %>
        <% end %>
      </div>
  </div>
  <div class="card-content">
      <div class="buttons is-right">
        <%= f.submit "Simpan", class:'button is-primary is-small'  %>
        <%= link_to "Kembali", staff_path(@staff), class: 'button is-danger is-small' %>
      </div>
  </div>
</div>
<% end %>
