<section class="section">
    <div class="columns">
        <div class="column">
            <div class="card">
              <%= simple_nested_form_for @staff, url: staff_path(@staff), method: :put, wrapper: :default, defaults: { wrapper: false }  do |f| %>
              <div class="card-content">
                <h3>Profil Anda</h3>
                  <%= f.simple_fields_for :staff_profile do |staff_profile| %>
                    <%= staff_profile.input :nama %>
                    <%= staff_profile.input :gelar_depan_nama %>
                    <%= staff_profile.input :gelar_belakang_nama %>
                    <%= staff_profile.input :nomor_induk_pegawai %>
                    <%= staff_profile.input :jenis_kelamin, collection: ["laki-laki", "perempuan"], include_blank: false %>
                    <%= staff_profile.input :tempat_lahir %>
                    <%= staff_profile.input :tanggal_lahir %>
                    <%= staff_profile.input :nomor_pokok_wajib_pajak %>
                    <%= staff_profile.input :status %>
                  <% end %>
                </div>
                <div class="buttons card-footer-item is-right">
                  <%= f.submit "Simpan", class:'button is-primary'  %>
                  <%= link_to "Kembali", staff_path(@staff), class: 'button is-danger' %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
