<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      Profil Staff
    </div>
    <div class="card-header-icon">
      <%= link_to icon_edit(''), edit_staff_path(@staff), class:'button is-danger is-small'  %>
    </div>
  </div>
  <% if @staff.staff_profile.present?  %>
  <div class="card-content">
    <div class="columns">
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image" width="354px" >
              <%= active_storage_file(@staff.staff_photo_file, "https://bulma.io/images/placeholders/1280x960.png", "354x472", "preview" ) %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 has-text-centered"><%= @staff.staff_profile.try(:nama).upcase rescue nil %></p>
                <p class="subtitle is-6 has-text-centered"><%= @staff.staff_profile.try(:nomor_induk_pegawai) rescue nil %></p>
                <p class="subtitle is-6 has-text-centered"><%= @staff.major.faculty.name.titleize rescue nil %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="table-container">
          <table class="table is-hoverable is-striped is-bordered is-narrow is-fullwidth">
            <tbody>
              <tr>
                <th class="has-text-weight-light" width="200px">Nama</th>
                <th class="has-text-weight-light"><%= @staff.staff_profile.nama.titleize rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Nomor Induk Pegawai</th>
                <th class="has-text-weight-light"><%= @staff.staff_profile.try(:nomor_induk_pegawai) rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Program Studi</th>
                <th class="has-text-weight-light"><%= @staff.major.name rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Status Akun</th>
                <th class="has-text-weight-light"><%= @staff.is_active? ? "Aktif" : "Belum Aktif" rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Jenis Kelamin</th>
                <th class="has-text-weight-light"><%= @staff.staff_profile.try(:jenis_kelamin) rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Tempat, Tanggal Lahir</th>
                <th class="has-text-weight-light"><%= @staff.staff_profile.try(:tempat_lahir).titleize rescue nil %>&nbsp;<%= @staff.staff_profile.tanggal_lahir.strftime("%d-%m-%Y") rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Status Akademik</th>
                <th class="has-text-weight-light"><%= @staff.staff_profile.status rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Handphone</th>
                <th class="has-text-weight-light"><%= @staff.staff_profile.try(:handphone) rescue nil %></th>
              </tr>

              <tr>
                <th class="has-text-weight-light">Agama</th>
                <th class="has-text-weight-light"><%= @staff.try(:religion).name rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Kewarganegaraan</th>
                <th class="has-text-weight-light"><%= @staff.staff_profile.try(:kewarganegaraan) rescue nil %></th>
              </tr>

              <tr>
                <th class="has-text-weight-light">Alamat Tinggal</th>
                <th class="has-text-weight-light"><%= @staff.alamat_tinggal.try(:street) %>&nbsp;<%= "RT #{@staff.alamat_tinggal.try(:rt)}" %>&nbsp;<%= "RW #{@staff.alamat_tinggal.try(:rw)}" %>&nbsp;<%= "Kelurahan #{@staff.alamat_tinggal.try(:kelurahan)}" %>&nbsp;<%= "Kecamatan #{@staff.alamat_tinggal.try(:kecamatan)}" %>&nbsp;<%= "Kabupaten/Kota #{@staff.alamat_tinggal.try(:city)}" %>&nbsp;<%= "Propinsi #{@staff.alamat_tinggal.try(:province)}" %>&nbsp;<%= "Kodepos #{@staff.alamat_tinggal.try(:post_code)}"%></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <% else %>
    <div class="card-content">
      Maaf belum ada data
    </div>
  <% end %>
</div>
