<section class="section">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">Daftar Dosen Fakultas Teknik UPRI</div>
        </div>
        <div class="card-content">
          <div class="table-container">
            <% if lectures.present? %>
            <table class="table is-hoverable is-striped is-bordered is-narrow is-fullwidth">
              <thead>
                <tr>
                  <td>Nama</td>
                  <td>NIP/NIM</td>
                  <td>Program Studi</td>
                  <td>Email</td>
                  <td>Status</td>
                </tr>
              </thead>
              <tbody>
                <% lectures.each do |lecture|  %>
                <tr>
                  <td class="has-text-weight-light"><%= link_to lecture.lecture_profile.try(:nama).titleize, lecture_path(lecture) rescue nil %></td>
                  <td class="has-text-weight-light"><%= lecture.lecture_profile.try(:nomor_induk_dosen_negara) %></td>
                  <td class="has-text-weight-light"><%= lecture.lecture_profile.try(:major).name rescue nil %></td>
                  <td class="has-text-weight-light"><%= link_to lecture.try(:email), lecture_path(lecture) rescue nil %></td>
                  <td class="has-text-weight-light"><%= lecture.lecture_profile.is_active? ? "" : "Belum Aktif" rescue nil %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <% else %>
            Maaf belum ada data
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
