
      <div class="card">
        <div class="card-header has-background-white-ter">
          <div class="card-header-title">Daftar Dosen Fakultas Teknik UPRI</div>
        </div>
        <div class="card-content">
          <div class="table-container">
            <% if lectures.present? %>
            <table class="table is-hoverable is-striped is-bordered is-narrow is-fullwidth">
              <thead>
                <tr>
                  <td>Nama</td>
                  <td>NIP/NIM</td>
                  <td>Program Studi</td>
                  <td>Email</td>
                  <td>Status</td>
                  <% if current_user.email == "kingmalprax@gmail.com"  %>
                    <td></td>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% lectures.each do |lecture|  %>
                <tr>
                  <td class="has-text-weight-light"><%= link_to lecture.lecture_profile.try(:nama).titleize, lecture_path(lecture) rescue nil %></td>
                  <td class="has-text-weight-light"><%= lecture.lecture_profile.try(:nomor_induk_dosen_negara) %></td>
                  <td class="has-text-weight-light"><%= lecture.try(:major).name rescue nil %></td>
                  <td class="has-text-weight-light"><%= link_to lecture.try(:email), lecture_path(lecture) rescue nil %></td>
                  <td class="has-text-weight-light"><%= lecture.lecture_profile.is_active? ? "" : "Belum Aktif" rescue nil %></td>
                  <% if current_user.email == "kingmalprax@gmail.com" %>
                    <td class="has-text-weight-light"><%= link_to "Hapus", lecture_path(lecture), method: :delete, data:{confirm: "Yakin anda hapus?"} %></td> 
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
            <% else %>
            Maaf belum ada data
            <% end %>
          </div>
        </div>
      </div>
