<% if current_user.student_profile.angkatan.present? %>
    <% if params[:type]=="upload_krs" %>
      <%= render partial: "subject_plans/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase.gsub(' ','_')}/upload_krs", subject_plan: @subject_plan, subjects: @subjects %>
    <% else %>
      <%= render partial: "subject_plans/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase.gsub(' ','_')}/general_form", subject_plan: @subject_plan, subjects: @subjects %>
    <% end %>
<% else %>
  <p>Maaf anda tidak dapat mengakses KARTU RENCANA STUDI dikarenakan :</p><br />
  <p>Nomor Induk Mahasiswa(NIM) anda salah penulisan sehingga angkatan anda tidak diketahui, pastikan NIM tanpa spasi dan tanda baca lainnya </p><br />
<% end %>
