<div class="card">
    <div class="card-header has-background-white-ter">
        <div class="card-header-title">
          UPLOAD KARTU RENCANA STUDI
        </div>
        <div class="card-header-icon">

        </div>
    </div>
    <div class="card-content">
      <%= simple_form_for @subject_plan do |f| %>
        <%= render "shared/errors", object: @subject_plan %>
        KRS Semester <%= f.association :academic_year, disabled: true, collection: AcademicYear.sortir_dari_tahun_terakhir_dan_aktifnya.map{|x| ["#{x.semester} - #{x.name}", x.id]} ,wrapper: :select_bulma_small %>
        <%= f.input :subject_plan_file, as: :file, input_html:{direct_upload: true}, wrapper: :file_bulma %>
        <div class="buttons card-footer-item is-right">
          <%= f.submit "Simpan",class: "button is-primary is-small" %>
          <%= link_to "Index", subject_plans_path, class: "button is-danger is-small" %>
        </div>
      <% end %>
    </div>
</div>
