<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      Profil Mahasiswa
    </div>
    <div class="card-header-icon">
      <%= link_to icon_edit(''), edit_student_path(@student), class:'button is-danger is-small'  %>
    </div>
  </div>
  <% if @student.student_profile.present?  %>
  <div class="card-content">
    <div class="columns">
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image" width="354px" >
              <%= active_storage_file(@student.student_photo_file, "https://bulma.io/images/placeholders/1280x960.png", "354x472", "preview" ) %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 has-text-centered"><%= @student.student_profile.try(:nama).upcase rescue nil %></p>
                <p class="subtitle is-6 has-text-centered"><%= @student.try(:major).name.titleize rescue nil %></p>
              </div>
            </div>
            <div class="content">
              <div class="level">
                <div class="level-item">
                  IPK 0
                </div>
                <div class="level-item">
                  SKS 0
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="table-container">
          <table class="table is-hoverable is-striped is-bordered is-narrow is-fullwidth">
            <tbody>
              <tr>
                <th class="has-text-weight-light">Nama</th>
                <th class="has-text-weight-light"><%= @student.student_profile.nama.titleize rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Program Studi Pilihan</th>
                <th class="has-text-weight-light"><%= @student.major.name rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Status Akun</th>
                <th class="has-text-weight-light"><%= @student.is_active? ? "Aktif" : "Belum Aktif" rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Jenis Kelamin</th>
                <th class="has-text-weight-light"><%= @student.student_profile.try(:jenis_kelamin) rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Tempat, Tanggal Lahir</th>
                <th class="has-text-weight-light"><%= @student.student_profile.try(:tempat_lahir).titleize rescue nil %>&nbsp;<%= @student.student_profile.tanggal_lahir.strftime("%d-%m-%Y") rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Handphone</th>
                <th class="has-text-weight-light"><%= @student.student_profile.try(:handphone) rescue nil %></th>
              </tr>

              <tr>
                <th class="has-text-weight-light">Agama</th>
                <th class="has-text-weight-light"><%= @student.student_profile.try(:agama).titleize rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Kewarganegaraan</th>
                <th class="has-text-weight-light"><%= @student.student_profile.try(:kewarganegaraan) rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Asal Sekolah</th>
                <th class="has-text-weight-light"><%= @student.school.try(:nama) rescue nil%></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Asal Sekolah</th>
                <th class="has-text-weight-light"><%= @student.school.try(:jurusan) rescue nil%></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <% else %>
    <div class="card-content">
      Maaf belum ada data
    </div>
  <% end %>
</div>
