<div class="card">
  <%= simple_form_for @campus_newspaper, wrapper: :default, defaults: {wrapper: false} do |newspaper| %>
  <div class="card-header has-background-white-ter">
      <div class="card-header-title">
        KABAR KAMPUS
      </div>
      <div class="card-header-icon">
        <%= newspaper.input :terbit, as: :boolean, wrapper: :boolean %>
      </div>
  </div>
  <div class="card-content">
    <div class="columns">
        <div class="column is-4">
          <% if @campus_newspaper.attachment.attached? %>
            <% if @campus_newspaper.attachment.representable? %>
              <%= image_tag @campus_newspaper.attachment.representation(resize:"394x272") %>
            <% end %>
          <% else %>
            <%= image_tag 'https://upri.s3-ap-southeast-1.amazonaws.com/images/no_images.png', class: 'dummy image_to_upload image'%>
          <% end %>
        </div>
        <div class="column">
          <%= newspaper.label :judul %>
          <%= newspaper.input :judul , label: false, wrapper: :text_bulma_small %>
          <%= newspaper.label :kategori   %>
          <%= newspaper.input :kategori, collection: CampusNewspaper.category_list, include_blank: "--Pilih--", wrapper: :select_bulma_small %>
          <%= newspaper.label :isi %>
          <%= newspaper.input :isi , label: false, wrapper: :text_bulma_small %>
          <%= newspaper.input :attachment, as: :file, wrapper: :default  %>
          <br />
          <div class="buttons is-right">
            <%= params[:action] == "new" ? (newspaper.submit "Buat Berita", class: "button is-success is-small")  : (newspaper.submit "Edit Berita", class: "button is-success is-small")  %>
            <%= link_to "Kembali", campus_newspapers_path, class:"button is-danger is-small" %>
          </div>
        </div>
    </div>
    <% end %>
  </div>
</div>

<script>

</script>
