<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Dibuat</th>
      <th>Judul</th>
      <th class="has-text-centered">Kategori</th>
      <th class="has-text-centered">Terbit</th>
      <th class="has-text-centered" colspan="2">Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% @campus_newspapers.each do |campus| %>
    <tr>
      <td><%= campus.created_at.strftime("%d-%m-%Y") %></td>
      <td><%= link_to campus.judul, campus_newspaper_path(campus) %></td>
      <td class="has-text-centered"><%= campus.kategori.upcase %></td>
      <td class="has-text-centered"><%= campus.terbit? ? "Ya" : "Tidak" %></td>
      <td class="has-text-centered"><%= link_to icon_edit(''), edit_campus_newspaper_path(campus) %></td>
      <td class="has-text-centered"><%= link_to icon_delete(''), campus_newspaper_path(campus), method: :delete, data: {confirm: "Anda Yakin Hapus?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
