<div class="is-button">
  <% if current_user && current_user.is_staff? && current_user.is_active? %>
  <%= link_to "Index", campus_newspapers_path, class:"button is-info is-small" %>
  <%= link_to "Kabar", kabar_teknik_path, class:"button is-success is-small" %>
  <% end %>
</div>
