<div class="card">
    <div class="card-header has-background-white-ter">
        <div class="card-header-title">
            KABAR TEKNIK
        </div>
        <div class="card-header-icon">
            <%= render 'tabs_navigation' %>
        </div>
    </div>
    <div class="card-content">
      <% if @campus_newspapers.any? %>
            <%= render "campus_newspapers/table"  %>
            <%= link_to "Buat Berita", new_campus_newspaper_path, class:"button is-primary is-small" %>
      <% else %>
          <p class="p-5">Maaf belum ada berita.  </p>
          <p><%= link_to "Buat Berita", new_campus_newspaper_path, class:"button is-primary is-small" %></p>
      <% end %>
    </div>
</div>
