<div class="card">
    <div class="card-header has-background-white-ter">
        <div class="card-header-title">
            KABAR TEKNIK
        </div>
        <div class="card-header-icon">
            <%= render 'tabs_navigation' %>
        </div>
    </div>

    <div class="card-content">
      <div class="columns">
        <div class="column is-2">
            <div class="container">

              <h6><strong>Kategori</strong></h6>
              <% @news.category_list.each do |key, value| %>
              <ul>
                <li><%= link_to value.titleize, kabar_teknik_path(kategori: value) %>(<%= link_to @news.where(kategori: value).count, kabar_teknik_path(kategori: value) %>)</li>
              </ul>
              <% end %>
            </div>
            <br />
            <div class="container">
              <h6><strong>Arsip</strong></h6>
              <ul>
                <% @news.each do |kabar| %>
                  <li><%= kabar.judul %></li>
                <% end %>
              </ul>
            </div>
          </div>

        <div class="column">
          <% @campus_newspapers.limit(3).each do |campus_newspaper| %>
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image" width="128" height="88">
                  <% if campus_newspaper.attachment.representable? %>
                    <%= image_tag campus_newspaper.attachment.representation(resize:"128x128") %>
                  <% else %>
                    <%= image_tag 'https://upri.s3-ap-southeast-1.amazonaws.com/images/no_images.png', width: "128", height:"88" %>
                  <% end %>
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong><%= campus_newspaper.try(:judul) %></strong> <small><%#= campus_newspaper.user_id %></small> <small><%= time_ago_in_words(campus_newspaper.created_at) %></small>
                    <br>
                    <%= raw campus_newspaper.try(:isi)  %>
                  </p>
                </div>
              </div>
            </article>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <br />

</div>
