<div class="card">
    <div class="card-header has-background-white-ter">
        <div class="card-header-title">
            KABAR TEKNIK
        </div>
    </div>
    <div class="card-content">
      <% if @campus_newspaper.attachment.representable? %>
          <%= link_to(image_tag(@campus_newspaper.attachment.representation(resize: "200x200")), rails_blob_path(@campus_newspaper.attachment, disposition: "attachment"))%>
      <% end %>
      <%= @campus_newspaper.judul %>
      <%= @campus_newspaper.kategori %>
      <%= raw @campus_newspaper.isi %>
    </div>
    <div class="card-content">
      <div class="buttons is-right">
        <%= link_to "Edit", edit_campus_newspaper_path(@campus_newspaper), class:"button is-success is-small" %>
        <%= link_to "Kembali", campus_newspapers_path, class:"button is-danger is-small" %>
      </div>
    </div>
</div>
