<section class="section">
    <div class="columns">
        <div class="column">
            <%= simple_form_for [@lecture, @student_organization] do |student_organization| %>
              <%#= render 'shared/errors', object: student_organization %>
              <%= student_organization.label :year, "Tahun" %>
              <%= student_organization.input :year, label:false, wrapper: :text_bulma_small %>

              <%= student_organization.label :name, "Jenis/Nama Kegiatan" %>
              <%= student_organization.input :name, label:false, wrapper: :text_bulma_small %>

              <%= student_organization.label :role, "Pembimbing/Pembina" %>
              <%= student_organization.input :role, collection:["Pembimbing", "Pembina"], label:false, wrapper: :select_bulma_small %>

              <%= student_organization.label :place, "Tempat" %>
              <%= student_organization.input :place, label:false, wrapper: :text_bulma_small %>


              <div class="buttons is-right">
                <%= student_organization.submit "Simpan", class: "button is-success"%>
                <%= link_to "Kembali", lecture_path(@lecture, type:"KEGIATAN KEMAHASISWAAN"), class: "button is-danger"%>
              </div>
            <% end %>
        </div>
    </div>
</section>
