<div class="column">
  <section class="section">
    <h5 class="subtitle has-text-info">
      Tahun Akademik
    </h5>
    <% if @academic_years.empty? %>

    <h3 class="lead">Maaf Belum Ada Data</h3>&nbsp;&nbsp;<%= link_to "Buat Tahun", new_academic_year_path, class: "btn btn-success" %>
    <% else %>

    <table class="table is-hover is-stripped is-bordered is-fullwidth">
      <thead>
        <tr>
          <th class="has-text-weight-light">Tahun</th>
          <th class="has-text-centered has-text-weight-light">Semester</th>
          <th class="has-text-centered has-text-weight-light">Status</th>
          <th colspan='1' class="has-text-centered has-text-weight-light">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <% @academic_years.each do |year| %>
        <tr>
          <td class="has-text-weight-light"><%= year.name %></td>
          <td class="has-text-centered has-text-weight-light"><%= year.try(:semester) %></td>
          <td class="has-text-centered has-text-weight-light"><%= year.is_active? ? "Aktif" : "Tidak Aktif" %></td>
          <td class="has-text-centered" ><%= link_to icon_edit(""), edit_academic_year_path(year) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <%= simple_form_for @academic_year do |f| %>
      <%= render partial: 'academic_years/form/content', locals:{ f: f} %>
    <% end %>
  </section>
</div>
