<% if @subjects.present? %>
<table class="table is-striped is-narrow is-hoverable is-bordered is-fullwidth">
  <tbody>
    <% @subjects.where("'pertambangan' = ANY (tags)").where(tahun_berlaku: "2018").group_by(&:semester).each do |semester, subjects| %>
      <tr>
          <th class="has-text-centered has-background-light is-size-7" colspan="11">SEMESTER &nbsp;<%= "#{semester}" %>
      </tr>
      <tr class="has-background-white is-size-7" >
        <th class="has-text-centered">Kode</th>
        <th>Matakuliah</th>
        <th class="has-text-centered">SKS</th>
        <th class="has-text-centered">Kategori</th>
        <th class="has-text-centered">Berlaku</th>
      </tr>
      <% subjects.each do |subject| %>
      <tr class="is-size-7 has-text-weight-light">
        <td class="has-text-centered"><%= subject.kode.upcase rescue nil %></td>
        <td ><%= subject.matakuliah.upcase rescue nil %></td>
        <td class="has-text-centered"><%= subject.kredit %></td>
        <td class="has-text-centered"><%= subject.kategori.titleize.tr('_', ' ') rescue nil %></td>
        <td class="has-text-centered"><%= subject.tahun_berlaku rescue nil %></td>
      </tr>
      <% end %>
      <tr class="is-size-7 has-text-weight-light">
        <td class="has-text-centered"></td>
        <td class="has-text-centered">TOTAL</td>
        <td class="has-text-centered"><%= subjects.sum(&:kredit) %></td>
        <td class="has-text-centered" colspan="3"></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  Maaf belum ada data
<% end %>
