<div class="columns">
    <div class="column">
      Alamat Tinggal
    </div>
</div>
<div class="columns">
    <div class="column ">
      <%= address.input :street, label:false, wrapper: :text_bulma_small, placeholder: "--Jalan--" %>
    </div>
    <div class="column is-1 ">
      <%= address.input :rt, label:false, placeholder: "--RT--",wrapper: :text_bulma_small %>
    </div>
    <div class="column is-1 ">
      <%= address.input :rw, label:false, placeholder: "--RW--",wrapper: :text_bulma_small %>
    </div>
    <div class="column is-2 ">
      <%= address.input :kelurahan, label:false, placeholder: "--Kelurahan--",wrapper: :text_bulma_small %>
    </div>
</div>
<div class="columns">
    <div class="column is-3 ">
      <%= address.input :kecamatan, label:false, placeholder: "--Kecamatan--", wrapper: :text_bulma_small %>
    </div>
    <div class="column is-3 ">
      <%= address.input :city, label: false, placeholder: "--Kabupaten/Kota--", wrapper: :text_bulma_small %>
    </div>
    <div class="column is-3 ">
      <%= address.input :province,label:false, placeholder: "--Propinsi--", wrapper: :text_bulma_small %>
    </div>
    <div class="column is-3 ">
      <%= address.input :post_code, label:false, placeholder: "--Kodepos--", wrapper: :text_bulma_small %>
    </div>
</div>
