<div class="columns">
    <div class="column is-6">
      <%= staff_profile.input :nama, label:false, placeholder: "--Nama Staf--", wrapper: :text_bulma_small %>
    </div>
    <div class="column ">
      <%= staff_profile.input :jenis_kelamin, collection:StudentProfile.jenis_kelamin_list, include_blank: "--Jenis Kelamin--",wrapper: :select_bulma_small %>
    </div>
    <div class="column">
      <%= staff.association :religion, collection:Religion.order(:created_at).map{|x| [x.name, x.id]}, include_blank: "--Agama--", wrapper: :select_bulma_small %>
    </div>
    <div class="column">
      <%= staff_profile.input :kewarganegaraan, collection:StudentProfile.kewarganegaraan_list, include_blank:"--kewarganegaraan--", wrapper: :select_bulma_small %>
    </div>
</div>
<div class="columns">
  <div class="column is-3">
    <%= staff.label :staff_photo_file, "Phasfoto Warna 3x4cm" %><br />
    <%= active_storage_file(@staff.staff_photo_file, "https://bulma.io/images/placeholders/1280x960.png", "172x236", "preview" ) %>
    <%= staff.input :staff_photo_file, as: :file, input_html:{direct_upload: true}, wrapper: :file_bulma_small %>
  </div>
  <div class="column">
    <h6 class="is-4">Program Studi, untuk staf fakultas, pilih sembarang saja asal jangan kosong</h6><br />
    <%= staff.association :major, collection: Major.where(id:[31,32,33]), include_blank: "--Program Studi--",wrapper: :select_bulma_small %>
  </div>
  <div class="column">
    <h6 class="is-4">Tempat, Tanggal Lahir</h6><br />
    <%= staff_profile.input :tempat_lahir, label:false, placeholder: "--Tempat Lahir--", wrapper: :text_bulma_small %>
    <%= staff_profile.input :tanggal_lahir, as: :date, html5: true, wrapper: :date_bulma %>
  </div>
</div>
