<aside class="column is-2 is-narrow is-fullheight section ">
  <p class="menu-label">
    MENU
  </p>
  <ul class="menu-list">
    <li><%= link_to "Tahun Akademik", tahun_akademik_path, class:"menu-item" %></li>
    <li><a>Agenda</a></li>
    <li><a>Jadwal Kuliah</a></li>
    <li><a>Jadwal Final</a></li>
  </ul>
</aside>
