<nav class="navbar " role="navigation" aria-label="main navigation" style="background-color: #FFFF00;">
  <div class="navbar-brand">
    <div class="navbar-item">
      <%= link_to image_tag("https://upri.s3-ap-southeast-1.amazonaws.com/images/upri.png", height:"100", alt:""), root_url%>&nbsp;
      <%# if current_user && current_academic_year.present? %>
        <!-- <span>Tahun Akademik <%#= current_academic_year.name %>&nbsp;<%#= current_academic_year.semester %></span> -->
      <%# end %>
    </div>


    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <% if current_user %>
      <%= render "navigations/top_navigation/#{current_user.type.downcase.pluralize}_navigation"  %>
    <% else %>
      <%= render "navigations/top_navigation/non_login" %>
    <% end %>
  </div>
</nav>
