<section class="section">
  <div class="columns is-tablet">
    <div class="column is-4 is-offset-4">
      <div class="field">
        <div class="columns">
          <div class="column">
            <p >Masukkan Kode Token Yang Terkirim Ke Email Anda</p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <%= form_tag token_session_path do  %>
                <% if current_user.is_graduate? %>
                  <div class="field">
                    <%= label_tag :stambuk %>
                    <%= text_field_tag :stambuk %>
                  </div>
                <% elsif current_user.is_staff? %>
                <div class="field">
                  <div class="control has-icons-left">
                    <%= text_field_tag :access_token, nil, class:'input  is-primary', placeholder:'--input-token-anda--' %>
                    <span class="icon  is-left">
                      <i class="fas fa-key"></i>
                    </span>
                  </div>
                </div>
                <% elsif current_user.is_student? %>
                  <%= hidden_field_tag :subject_plan_id_input, params[:subject_plan_id] %>
                  <div class="field">
                    <div class="control has-icons-left">
                      <%= text_field_tag :access_token, nil, class:'input  is-primary', placeholder:'--input-token-anda--' %>
                      <span class="icon  is-left">
                        <i class="fas fa-key"></i>
                      </span>
                    </div>

                  </div>
                <% end %>
                <div class="field">
                  <div class="control">
                    <%= submit_tag "Input", class: "button is-success  is-fullwidth" %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
