<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Hai, <%= @user.name %></h5>
    <p>
      Download Formulir Pendaftran Anda<br>
    </p>
    <p>========================================</p>

    <p>========================================</p>
    <p>Terima Kasih</p>
  </body>
</html>
