<div class="card">
    <div class="card-header has-background-white-ter">
        <div class="card-header-title">
          DAFTAR MATAKULIAH
        </div>
    </div>
    <div class="card-content">
      <div class="table-container" id="subjectTable"  style="height:70vh; overflow-y:auto;">
        <% if @student.student_profile.angkatan.present? %>
          <% if @student.student_profile.angkatan.to_i >= 2018 %>
            <%= render partial: "subjects/user/students/tabel_tambang/table_2018", subjects: @subjects %>
          <% else  %>
            <% if @student.student_profile.konsentrasi == "Tambang Umum" %>
              <%= render partial: "subjects/user/students/tabel_tambang/table_2014", subjects: @subjects.where.not(khusus:"tambang eksplorasi") %>
            <% else %>
              <%= render partial: "subjects/user/students/tabel_tambang/table_2014", subjects: @subjects.where.not(khusus:"tambang umum") %>
            <% end %>
          <% end %>
        <% else %>
          <p>Maaf anda tidak dapat mengakses matakuliah dikarenakan :</p><br />
          <p>Nomor Induk Mahasiswa(NIM) anda salah penulisan sehingga angkatan anda tidak diketahui, pastikan NIM tanpa spasi dan tanda baca lainnya </p><br />
        <% end %>
      </div>
    </div>
</div>
