<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      PENGHARGAAN/PIAGAM
    </div>
    <div class="card-header-icon">
      <%= link_to "Buat data", new_lecture_lecture_appreciation_path(@lecture), class: "button is-success is-small"  %>
    </div>
  </div>
  <div class="card-content">
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Bentuk Penghargaan</td>
                <td>Pemberi</td>
                <td colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% appreciations.each do |piagam| %>
          <tr>
              <td><%= piagam.year %></td>
              <td><%= piagam.appreciation %></td>
              <td><%= piagam.presented_by %></td>
              <td><%= link_to "Edit", edit_lecture_lecture_appreciation_path(@lecture, piagam)  %></td>
              <td><%= link_to "Hapus", lecture_lecture_appreciation_path(@lecture, piagam), method: :delete, data: {confirm: "Anda yakin hapus?"} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
