<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      PRODUK BAHAN AJAR
    </div>
    <div class="card-header-icon">
      <%= link_to "Buat data", new_lecture_lecture_teaching_material_path(@lecture), class: "button is-success is-small"  %>
    </div>
  </div>
  <div class="card-content">
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Mata Kuliah</td>
                <td>Program Pendidikan</td>
                <td>Jenis Bahan Ajar (Cetak dan Noncetak)</td>
                <td>Semester/Tahun Akademik</td>
                <td colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% @materials.each do |material| %>
          <tr>
              <td><%= material.subject %></td>
              <td><%= material.major %></td>
              <td><%= material.kind %></td>
              <td><%= material.semester_status %>&nbsp;<%= material.academic_year %></td>
              <td><%= link_to "Edit", edit_lecture_lecture_teaching_material_path(@lecture, material) %></td>
              <td><%= link_to "Hapus", lecture_lecture_teaching_material_path(@lecture, material), method: :delete, data:{confirm: "Anda yakin hapus?"}%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
