<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      MAKALAH/POSTER
    </div>
    <div class="card-header-icon">
      <%= link_to "Buat data", new_lecture_lecture_paper_path(@lecture), class: "button is-success is-small"  %>
    </div>
  </div>
  <div class="card-content">
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Judul</td>
                <td>Penyelenggara</td>
                <td colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% papers.each do |makalah| %>
          <tr>
              <td><%= makalah.year %></td>
              <td><%= makalah.paper %></td>
              <td><%= makalah.presented_by %></td>
              <td><%= link_to "Edit", edit_lecture_lecture_paper_path(@lecture, makalah) %></td>
              <td><%= link_to "Hapus", lecture_lecture_paper_path(@lecture, makalah), method: :delete, data:{confirm: "Anda yakin hapus?"}%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
