<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      KEGIATAN PROFESIONAL/PENGABDIAN KEPADA MASYARAKAT
    </div>
    <div class="card-header-icon">
      <%= link_to "Buat data", new_lecture_lecture_professional_activity_path(@lecture), class: "button is-success is-small"  %>
    </div>
  </div>
  <div class="card-content">
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Jenis/Nama Kegiatan</td>
                <td>Tempat</td>
                <td colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% professionals.each do |professional| %>
          <tr>
              <td><%= professional.year %></td>
              <td><%= professional.activity %></td>
              <td><%= professional.place %></td>
              <td><%= link_to "Edit", edit_lecture_lecture_professional_activity_path(@lecture, professional)  %></td>
              <td><%= link_to "Hapus", lecture_lecture_professional_activity_path(@lecture, professional), method: :delete, data: {confirm: "Anda yakin hapus?"} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
