<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      ORGANISASI PROFESI/ILMIAH
    </div>
    <div class="card-header-icon">
      <%= link_to "Buat data", new_lecture_lecture_scientist_organization_path(@lecture), class: "button is-success is-small"  %>
    </div>
  </div>
  <div class="card-content">
    <div class="table-containers">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Jenis/Nama Organisasi</td>
                <td>Jabatan/jenjang keanggotaan</td>
                <td colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% scientific_organizations.each do |organization| %>
          <tr>
              <td><%= organization.year %></td>
              <td><%= organization.organization %></td>
              <td><%= organization.position %></td>
              <td><%= link_to "Edit", edit_lecture_lecture_scientist_organization_path(@lecture, organization)  %></td>
              <td><%= link_to "Hapus", lecture_lecture_scientist_organization_path(@lecture, organization), method: :delete, data: {confirm: "Anda yakin hapus?"} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
