<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      KARYA ILMIAH
    </div>
    <div class="card-header-icon">
      <%= link_to "Buat data", new_lecture_lecture_scientific_work_path(@lecture), class: "button is-success is-small"  %>
    </div>
  </div>
  <div class="card-content">
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Judul</td>
                <td>Penerbit/Jurnal</td>
                <td colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% scientifics.each do |scientific| %>
          <tr>
              <td><%= scientific.year %></td>
              <td><%= scientific.science_product %></td>
              <td><%= scientific.publisher %></td>
              <td><%= link_to "Edit", edit_lecture_lecture_scientific_work_path(@lecture, scientific) %></td>
              <td><%= link_to "Hapus", lecture_lecture_scientific_work_path(@lecture, scientific), method: :delete, data:{confirm: "Anda yakin hapus?"}%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
