<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      PENGALAMAN MENGAJAR
    </div>
    <div class="card-header-icon">
      <%= link_to "Buat data", new_lecture_lecture_teaching_history_path(@lecture), class: "button is-success is-small"  %>
    </div>
  </div>
  <div class="card-content">
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Matakuliah</td>
                <td>Program Pendidikan</td>
                <td>Institut/Jurusan/Program Studi</td>
                <td>Semester/Tahun Akademik</td>
                <td colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% teachings.each do |teaching| %>
          <tr>
              <td><%= teaching.subject %></td>
              <td><%= teaching.major %></td>
              <td><%= teaching.institute %></td>
              <td><%= teaching.semester_status %>&nbsp;<%= teaching.academic_year %></td>
              <td><%= link_to "Edit", edit_lecture_lecture_teaching_history_path(@lecture, teaching)  %></td>
              <td><%= link_to "Hapus", lecture_lecture_teaching_history_path(@lecture, teaching), method: :delete, data: {confirm: "Anda yakin hapus?"} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
