<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      PELATIHAN PROFESIONAL
    </div>
    <div class="card-header-icon">
      <%= link_to "Buat data", new_lecture_professional_training_path(@lecture), class: "button is-success is-small"  %>
    </div>
  </div>
  <div class="card-content">
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Jenis Pelatihan (Dalam/Luar Negeri)</td>
                <td>Penyelenggara</td>
                <td>Jangka Waktu</td>
                <td colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% training_professionals.each do |training| %>
          <tr>
              <td><%= training.year %></td>
              <td><%= training.training %></td>
              <td><%= training.presented_by %></td>
              <td><%= training.terms %></td>
              <td><%= link_to "Edit", edit_lecture_professional_training_path(@lecture, training)  %></td>
              <td><%= link_to "Hapus", lecture_professional_training_path(@lecture, training), method: :delete, data: {confirm: "Anda yakin hapus?"} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
