<section class="section">
    <div class="columns">
        <div class="column">
            <%= simple_form_for [@lecture, @professional] do |professional| %>
              <%#= render 'shared/errors', object: professional %>
              <%= professional.label :year, "Tahun" %>
              <%= professional.input :year, label: false, wrapper: :text_bulma_small %>

              <%= professional.label :activity, "Jenis/Nama Kegiatan" %>
              <%= professional.input :activity, label: false, wrapper: :text_bulma_small %>

              <%= professional.label :place, "Tempat" %>
              <%= professional.input :place, label: false, wrapper: :text_bulma_small %>

              <div class="buttons is-right">
                <%= professional.submit "Simpan", class: "button is-success"%>
                <%= link_to "Kembali", lecture_path(@lecture, type:"PENGABDIAN MASYARAKAT"), class: "button is-danger"%>
              </div>
            <% end %>
        </div>
    </div>
</section>
