<section class="section">
    <div class="columns">
        <div class="column">
            <%= simple_form_for [@lecture, @posisi] do |posisi| %>
              <%#= render 'shared/errors', object: position %>
              <%= posisi.label :position, "Peran/Jabatan" %>
              <%= posisi.input :position, label:false, wrapper: :text_bulma_small %>

              <%= posisi.label :institute, "Institute" %>
              <%= posisi.input :institute, collection:["Universitas", "Fakultas", "Program Studi","Laboratorium", "Studio" ],wrapper: :select_bulma_small %>

              <%= posisi.label :start_at, "Dari Tahun" %>
              <%= posisi.input :start_at, as: :date,html5: true, label:false, wrapper: :date_bulma %>

              <%= posisi.label :end_at, "Sampai Tahun" %>
              <%= posisi.input :end_at, as: :date,html5: true, label:false, wrapper: :date_bulma %>

              <div class="buttons is-right">
                <%= posisi.submit "Simpan", class: "button is-success"%>
                <%= link_to "Kembali", lecture_path(@lecture, type:"JABATAN INSTITUSI"), class: "button is-danger"%>
              </div>
            <% end %>
        </div>
    </div>
</section>
