<div class="card"">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">Daftar Mahasiswa</div>
  </div>
  <div class="card-content">
    <% if @students.present? %>
      <p class="is-size-7">Catatan: Status <%= icon_times('') %>, berarti mahasiwa baru || Profil <%= icon_times('') %>, berarti profil belum aktif </p>
    <div class="table-container" id="tableIndex">
        <%= render partial: "students/index/table_admins", students: @students %>
    </div>
    <% else %>
      Maaf belum ada data
    <% end %>
  </div>
</div>
