<div class="card"">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">Daftar Mahasiswa</div>
    <div class="card-header-icon">
      <%= form_tag students_path, method: :get do %>
            <%#= select_tag(:tahun_berlaku_search, options_from_collection_for_select(Subject::CATEGORY_ATURAN_LIST.map{|x| [x, params[:tahun_berlaku_search]]}), include_blank: "--pilih tahun berlaku--", class:"form-control") %>
            <%#= select_tag(:semester_search, options_from_collection_for_select(Subject::SEMESTER_LIST.map{|x| [x, params[:semester_search]]}), include_blank: "--pilih semester--", class:"form-control") %>
            <%#= select_tag(:kategori_search, options_from_collection_for_select(Subject::CATEGORY_MATAKULIAH_LIST.map{|x| [x, params[:kategori_search]]}), include_blank: "--pilih kategori--", class:"form-control") %>
            <%#= select_tag(:khusus_search, options_for_select(Subject::KHUSUS_LIST.map{|x,y| y}, params[:khusus_search]), include_blank: "--pilih konsentrasi--" ) %>
            <%#= select_tag(:khusus_search, options_from_collection_for_select(Subject::KHUSUS_LIST.map{|x| [x,params[:khusus_search]]}), include_blank: "--pilih khusus--", class:"form-control") %>

            <div class="field has-addons">
              <div class="control">
                <%= text_field_tag :student_search, params[:student_search], placeholder: "--cari email--", class: "input is-small is-fullwidth"  %>
              </div>
              <div class="control">
                <%= submit_tag "Cari", name:nil, class: "button is-success is-small" %>
              </div>
            </div>
      <% end %>
    </div>

  </div>
  <div class="card-content">
    <% if @students.present? %>
      <p class="is-size-7">Catatan: Status <%= icon_times('') %>, berarti mahasiwa baru || Profil <%= icon_times('') %>, berarti profil belum aktif </p>
    <div class="table-container" id="tableIndex">
        <%= render partial: "students/index/table_lectures", students: @students %>
    </div>
    <% else %>
      Maaf belum ada data
    <% end %>
  </div>
</div>
