<section class="section">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">Daftar Mahasiswa</div>
        </div>
        <div class="card-content">
          <div class="table-container">
            <% if @students.present? %>
            <table class="table is-hoverable is-striped is-bordered is-narrow is-fullwidth">
              <thead>
                <tr>
                  <td>Nama</td>
                  <td>NIM</td>
                  <td>Program Studi</td>
                  <td>Email</td>
                  <td>Status</td>
                  <td>Aksi</td>
                </tr>
              </thead>
              <tbody>
                <% @students.each do |student|  %>
                <tr>
                  <td class="has-text-weight-light"><%= link_to student.student_profile.try(:nama).titleize, student_path(student) rescue nil %></td>
                  <td class="has-text-weight-light"><%= student.student_profile.try(:nomor_induk_mahasiswa) %></td>
                  <td class="has-text-weight-light"><%= student.student_profile.try(:major).name rescue nil %></td>
                  <td class="has-text-weight-light"><%= student.try(:email) rescue nil %></td>
                  <td class="has-text-weight-light"><%= student.student_profile.is_active? ? "" : "Belum Aktif" rescue nil %></td>
                  <% if current_user.is_staff? && current_user.is_active? %>
                  <td class="has-text-weight-light"><%= link_to "Hapus", student_path(student), method: :delete, data:{confirm: "Yakin anda hapus?"} %></td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
            <% else %>
            Maaf belum ada data
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
