<%= form_tag active_all_students_path, method: :put do %>
<div class="level">
    <div class="level-left">
      <%= submit_tag "Semua Aktif", class:'button is-primary is-small level-item' %><%= submit_tag "Semua Tidak Aktif", class:'button is-danger is-small level-item' %>
    </div>
    <div class="level-right">
      <%= paginate @students, remote: true %>
    </div>
</div>
<table class="table is-hoverable is-striped is-bordered is-narrow is-fullwidth">
  <thead>
    <tr>
      <td style="vertical-align:middle;"></td>
      <td class="has-text-centered is-size-7" style="vertical-align:middle;">No</td>
      <td class="is-size-7" style="vertical-align:middle;">Nama</td>
      <td class="has-text-centered is-size-7" style="vertical-align:middle;">NIM</td>
      <td class="has-text-centered is-size-7" style="vertical-align:middle;">Program Studi</td>
      <td class="has-text-centered is-size-7" style="vertical-align:middle;"><%= sortable_ajax "email","Email" %></td>
      <td class="has-text-centered is-size-7" colspan="2" style="vertical-align:middle;"><%= sortable_ajax "created_at", "Dibuat" %></td>
      <td class="has-text-centered is-size-7" style="vertical-align:middle;">Angkatan</td>
      <td class="has-text-centered is-size-7" style="vertical-align:middle;"><%= sortable_ajax "is_active", "Status" %></td>

    </tr>
  </thead>
  <tbody>

    <% if params[:page].nil? || params[:page]== "0" || params[:page]=="1" %>
      <% x = 0 %>
    <% else %>
      <% page = params[:page].to_i - 1 %>
      <% x = page*20 %>
    <% end %>

    <% @students.each_with_index do |student, i|  %>
    <tr>
      <td class="has-text-centered is-size-7" style="vertical-align:middle;"><%= check_box_tag 'student_id[]', student.id %></td>
      <td class="has-text-centered is-size-7" style="vertical-align:middle;"><%= i = i + x + 1 %></td>
      <td class="has-text-weight-light is-size-7" style="vertical-align:middle;"><%= link_to student.student_profile.nama, student_path(student) rescue nil %></td>
      <td class="has-text-centered has-text-weight-light is-size-7" style="vertical-align:middle;"><%= student.student_profile.try(:nomor_induk_mahasiswa) %></td>
      <td class="has-text-weight-light is-size-7" style="vertical-align:middle;"><%= student.major.name rescue nil %></td>
      <td class="has-text-weight-light is-size-7" style="vertical-align:middle;"><%= link_to student.try(:email), student_path(student) %></td>
      <td class="has-text-weight-light is-size-7" style="vertical-align:middle;" colspan="2"><%= student.created_at.strftime("%d-%m-%Y") %></td>
      <td class="has-text-weight-light has-text-centered is-size-7" style="vertical-align:middle;"><%= student.student_profile.angkatan rescue nil %></td>
      <td class="has-text-weight-light has-text-centered is-size-7" style="vertical-align:middle;"><%= link_to check_active_status(student), active_one_student_path(student), method: :put, data: {confirm: "Yakin ubah data?"} %> </td>

    </tr>
    <% end %>
  </tbody>
</table>

<% end %>
