<%= simple_nested_form_for @lecture, url: lecture_path(@lecture), method: :put, wrapper: :default do |f| %>
  <%= render "shared/errors", object: @lecture %>
  <%= render "shared/message" %>
  <section class="section">
      <div class="columns">
          <div class="column">
              <div class="card">
                <div class="card-content">
                  <% if params[:action]="edit" %>
                    <%= f.simple_fields_for :lecture_profile do |profile| %>
                      <%= render partial: 'lectures/form/profile', locals:{lecture: f, profile: profile} %>
                    <% end %>
                    <br />
                    <%= f.simple_fields_for :addresses do |address| %>
                      <%= render partial: 'lectures/form/address', locals:{address: address} %>
                    <% end %>
                  <% end %>
                </div>
              </div>
          </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="buttons is-right">
            <%= f.submit "Simpan", class:'button is-primary'  %>
            <%= link_to "Kembali", lecture_path(@lecture), class: 'button is-danger' %>
          </div>
        </div>
      </div>
  </section>
<% end %>
