<section class="section">
  <div class=columns>
    <div class="column is-12">
      <%= render partial: 'lectures/show/profile', locals:{profile: @profile, lecture: @lecture} %>
    </div>
    <div class="column is-12">
        <%= render partial:'lectures/show/education', locals: {educations: @educations} %>
    </div>
    <div class="column is-12">
        <%= render partial:'lectures/show/training_professional', locals: {training_professionals: @training_professionals} %>
    </div>
    <div class="column is-12">
        <%= render partial:'lectures/show/teaching_history', locals: {teachings: @teachings} %>
    </div>
    <div class="column is-12">
        <%= render partial:'lectures/show/teaching_material', locals: {materials: @materials} %>
    </div>
    <div class="column is-12">
        <%= render partial:'lectures/show/research', locals: {researchs: @researchs} %>
    </div>
    <div class="column is-12">
        <%= render partial:'lectures/show/scientific', locals: {scientifics: @scientifics} %>
    </div>
    <div class="column is-12">
        <%= render partial:'lectures/show/paper', locals: {papers: @papers} %>
    </div>
    <div class="column is-12">
        <%= render partial:'lectures/show/reviewer', locals: {reviewers: @reviewers} %>
    </div>
    <div class="column is-12">
        <%= render partial:'lectures/show/conference', locals: {conferences: @conferences} %>
    </div>
    <div class="column is-12">
        <%= render partial:'lectures/show/position', locals: {positions: @positions} %>
    </div>
    <div class="column is-12">
        <%= render partial:'lectures/show/professional', locals: {professionals: @professionals} %>
    </div>
    <div class="column is-12">
        <%= render partial:'lectures/show/student_organization', locals: {student_organizations: @student_organizations} %>
    </div>
    <div class="column is-12">
        <%= render partial:'lectures/show/appreciation', locals: {appreciations: @appreciations} %>
    </div>
    <div class="column is-12">
        <%= render partial:'lectures/show/organization', locals: {organizations: @organizations} %>
    </div>
  </div>
  <div class="columns">
      <div class="column">
          <div class="is-buttons is-right">
            <%= link_to icon_print(''), lecture_path(@lecture, format: :pdf), target: :_blank,class: "button is-danger", method: :put, data:{confirm: "Yakin sudah benar untuk dicetak?"} %>
            <%= link_to "Edit", edit_lecture_path(@lecture), class: 'button is-primary' %>
          </div>
      </div>
  </div>
</section>
