$("#content").html("<%= j render partial:"lectures/show/#{current_user.type.downcase.pluralize}/scientific_organizations", locals: {lecture:@lecture, scientific_organizations: @scientific_organizations} %>");
