<div class="columns">
  <div class="column">
      <div class="card">
          <div class="card-header has-background-white-ter">
            <div class="card-header-title is-size-6">
                CURRICULUM VITAE
            </div>
            <% if current_user.is_staff? %>
            <div class="card-header-icon"><%= link_to "Index", lectures_path, class:'button is-danger is-small' %></div>
            <% end %>
          </div>
          <div class="card-content">
            <div class=columns>
              <div class="column is-4">
                <div class="card">
                    <div class="card-header has-background-white-ter">
                      <div class="card-header-title is-size-6">
                          DAFTAR KENDALI
                        </div>
                    </div>
                    <div class="card-content">
                      <table class="table is-bordered is-fullwidth is-narrow">
                        <tbody>
                          <tr><td class="is-mobile is-size-6"><%= link_to "IDENTITAS DIRI", profile_lecture_path, remote: true %></td><td class="has-text-centered"><%= @lecture.lecture_profile.present? ? icon_check('') : icon_times('') %></td></tr>
                          <tr><td class="is-mobile is-size-6"><%= link_to "RIWAYAT PENDIDIKAN", educations_lecture_path, remote: true %></td><td class="has-text-centered"><%= @lecture.lecture_education_histories.present? ? icon_check('') : icon_times('')  %></td></tr>
                          <tr><td class="is-mobile is-size-6"><%= link_to "PELATIHAN", training_professionals_lecture_path, remote: true %></td><td class="has-text-centered"><%= @lecture.professional_trainings.present? ? icon_check('') : icon_times('') %></td></tr>
                          <tr><td class="is-mobile is-size-6"><%= link_to "MENGAJAR", teachings_lecture_path, remote: true %></td><td class="has-text-centered"><%= @lecture.lecture_teaching_histories.present? ? icon_check('') : icon_times('')  %></td></tr>
                          <tr><td class="is-mobile is-size-6"><%= link_to "BAHAN AJAR", materials_lecture_path, remote: true %></td><td class="has-text-centered"><%= @lecture.lecture_teaching_materials.present? ? icon_check('') : icon_times('')  %></td></tr>
                          <tr><td class="is-mobile is-size-6"><%= link_to "PENELITIAN", researchs_lecture_path, remote: true %></td><td class="has-text-centered"><%= @lecture.lecture_researches.present? ? icon_check('') : icon_times('')  %></td></tr>
                          <tr><td class="is-mobile is-size-6"><%= link_to "BUKU/JURNAL", scientifics_lecture_path, remote: true %></td><td class="has-text-centered"><%= @lecture.lecture_scientific_works.present? ? icon_check('') : icon_times('')  %></td></tr>
                          <tr><td class="is-mobile is-size-6"><%= link_to "MAKALAH", papers_lecture_path, remote: true %></td><td class="has-text-centered"><%= @lecture.lecture_papers.present? ? icon_check('') : icon_times('')  %></td></tr>
                          <tr><td class="is-mobile is-size-6"><%= link_to "PENYUNTING", reviewers_lecture_path, remote: true %></td><td class="has-text-centered"><%= @lecture.lecture_reviewers.present? ? icon_check('') : icon_times('')  %></td></tr>
                          <tr><td class="is-mobile is-size-6"><%= link_to "KONFERENSI", conferences_lecture_path, remote: true %></td><td class="has-text-centered"><%= @lecture.lecture_conferences.present? ? icon_check('') : icon_times('')  %></td></tr>
                          <tr><td class="is-mobile is-size-6"><%= link_to "PENGABDIAN MASYARAKAT",professionals_lecture_path, remote: true %></td><td class="has-text-centered"><%= @lecture.lecture_professional_activities.present? ? icon_check('') : icon_times('')  %></td></tr>
                          <tr><td class="is-mobile is-size-6"><%= link_to "JABATAN INSTITUSI", positions_lecture_path, remote: true %></td><td class="has-text-centered"><%= @lecture.lecture_position_histories.present? ? icon_check('') : icon_times('')  %></td></tr>
                          <tr><td class="is-mobile is-size-6"><%= link_to "KEGIATAN KEMAHASISWAAN", student_organizations_lecture_path, remote: true %></td><td class="has-text-centered"><%= @lecture.lecture_student_organization_histories.present? ? icon_check('') : icon_times('')  %></td></tr>
                          <tr><td class="is-mobile is-size-6"><%= link_to "PENGHARGAAN", appreciations_lecture_path, remote: true %></td><td class="has-text-centered"><%= @lecture.lecture_appreciations.present? ? icon_check('') : icon_times('')  %></td></tr>
                          <tr><td class="is-mobile is-size-6"><%= link_to "ORGANISASI PROFESI", scientific_organizations_lecture_path, remote: true %></td><td class="has-text-centered"><%= @lecture.lecture_scientist_organizations.present? ? icon_check('') : icon_times('')  %></td></tr>
                        </tbody>
                      </table>
                    </div>
                </div>

              </div>
              <div class="column is-8" id="content">
                  <% if params[:type] == "IDENTITAS DIRI" %>
                     <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/profile", locals:{lecture: @lecture, profile: @profile, addresses: @addresses} %>
                   <% elsif params[:type] == "RIWAYAT PENDIDIKAN" %>
                      <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/educations", locals:{educations: @educations} %>

                   <% elsif params[:type] == "PELATIHAN" %>
                      <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/training_professionals", locals:{training_professionals: @training_professionals} %>

                   <% elsif params[:type] == "MENGAJAR" %>
                      <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/teachings", locals:{teachings: @teachings} %>

                   <% elsif params[:type] == "BAHAN AJAR" %>
                      <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/materials", locals:{materials: @materials} %>

                   <% elsif params[:type] == "PENELITIAN" %>
                      <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/researchs", locals:{researchs: @researchs} %>

                   <% elsif params[:type] == "KARYA ILMIAH" %>
                      <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/scientifics", locals:{scientifics: @scientifics} %>

                   <% elsif params[:type] == "MAKALAH" %>
                      <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/papers", locals:{papers: @papers} %>

                   <% elsif params[:type] == "PENYUNTING" %>
                      <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/reviewers", locals:{reviewers: @reviewers} %>

                   <% elsif params[:type] == "KONFERENSI" %>
                      <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/conferences", locals:{conferences: @conferences} %>

                   <% elsif params[:type] == "PENGABDIAN MASYARAKAT" %>
                      <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/professionals", locals:{professionals: @professionals} %>

                   <% elsif params[:type] == "JABATAN INSTITUSI" %>
                      <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/positions", locals:{positions: @positions} %>

                   <% elsif params[:type] == "KEGIATAN KEMAHASISWAAN" %>
                      <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/student_organizations", locals:{student_organizations: @student_organizations} %>

                   <% elsif params[:type] == "PENGHARGAAN" %>
                      <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/appreciations", locals:{appreciations: @appreciations} %>

                   <% elsif params[:type] == "ORGANISASI PROFESI" %>
                      <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/scientific_organizations", locals:{scientific_organizations: @organizations} %>

                   <% elsif params[:action] == "show" %>
                      <%= render partial: "lectures/show/#{current_user.type.downcase.pluralize}/profile", locals:{lecture: @lecture, profile: @profile, addresses: @addresses} %>
                   <% end %>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
