$("#content").html("<%= j render partial:"lectures/show/#{current_user.type.downcase.pluralize}/student_organizations", locals: {lecture:@lecture, student_organizations: @student_organizations} %>");
