$("#content").html("<%= j render partial:"lectures/show/#{current_user.type.downcase.pluralize}/training_professionals", locals: {lecture:@lecture, training_professionals: @training_professionals} %>");
