<nav class="navbar navbar-expand-lg navbar-light bg-light mb-10">
  <% if user_signed_in? || (params[:controller] == "pages" && params[:action] != "index") ||(params[:controller] != "pages") %>
    <%= link_to image_tag("https://upri.s3-ap-southeast-1.amazonaws.com/images/upri.ico", width:"", height:"50", alt:""), root_url, class:"navbar-brand" %></a>
  <% end %>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li><%= link_to "Beranda", root_url, class: "nav-link" %></li>
      </ul>
    </div>
</nav>
