<div class="card">
    <div class="card-header has-background-white-ter">
        <div class="card-header-title">
          KARTU RENCANA STUDI
        </div>

    </div>
    <div class="card-content">
      <%= simple_form_for @subject_plan do |f| %>
        <%= render "shared/errors", object: @subject_plan %>
        <%= f.input :student_id, as: :hidden, input_html:{value: @student.id} %>
        <%= @student.id %><br />
        <%= f.label :academic_year, "Semester Dan Tahun Akademik" %>
        <%= f.association :academic_year, include_blank: "--Semester Dan Tahun Akademik--", collection: AcademicYear.sortir_dari_tahun_terakhir_dan_aktifnya.map{|x| ["#{x.semester} - #{x.name}", x.id]} ,wrapper: :select_bulma_small %>
      <div class="columns">
        <div class="column is-7" >
          <div class="table-container"  style="height:70vh; overflow-y:auto;">
            <table class="table is-striped is-narrow is-hoverable is-bordered is-fullwidth" id="table1" >
              <tbody>
                <% @subjects.group_by(&:semester).each do |semester, subjects| %>
                  <tr class="is-size-7">
                      <th class="has-text-weight-light has-text-centered has-background-light" colspan="11">Semester &nbsp;<%= "#{semester}" %>
                  </tr>
                  <% subjects.each do |subject| %>
                    <tr class="is-size-7 has-text-weight-light">
                      <td class="has-text-centered"><%= check_box_tag 'subject_plan[subject_ids][]', subject.id, f.object.subjects.include?(subject), id: dom_id(subject), class:'subjectName' %></td>
                      <td class="has-text-centered" id="kodeMatakuliah"><%= subject.kode.upcase rescue nil %></td>
                      <td id="namaMatakuliah"><%= label_tag dom_id(subject),subject.matakuliah.upcase %></td>
                      <td class="has-text-centered" id="satuanKredit" value= <%= "#{subject.kredit}" %>><%= subject.kredit %></td>
                      <td class="has-text-centered"><%= subject.kategori.upcase.tr('_',' ') rescue nil %></td>
                      <td class="has-text-centered"><%= subject.khusus rescue nil %></td>
                      <td class="has-text-centered"><%= subject.tahun_berlaku rescue nil %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="column">
              <table class="table is-narrow is-hoverable is-bordered is-fullwidth" id="table2">
                <tbody>
                  <tr class="is-size-7 has-background-white-ter tabelCart">
                    <td class="has-text-centered">Kode</td>
                    <td>Matakuliah</td>
                    <td class="has-text-centered">SKS</td>
                  </tr>

                  <tr class="is-size-7" id="totalKreditMatakuliah">
                    <td></td>
                    <td >Total</td>
                    <td  class="has-text-centered" id="kreditTotal"></td>
                  </tr>
                </tbody>
              </table>
              <article class="message">
                <div class="message-body">
                  <p>Catatan:</p>
                  <p>- Maksimal 23 SKS</p>
                  <p>- Apabila anda tidak bisa lagi menambah matakuliah padahal total SKS masih 22, maka mohon kurangi dulu matakuliah bernilai 2 sks, kemudian berturut turut cari mata kuliah bernilai 1 SKS dan 2 SKS </p>
                </div>
              </article>
              <% if params[:action]=="edit" %>
                <% if @subject_plan.subject_plan_file.attached? %>
                  <% if @subject_plan.subject_plan_file.representable? %>
                    <%= image_tag @subject_plan.subject_plan_file.representation(resize:"200x200") %>
                  <% end %>
                <% end %>
                <br />

                KRS Semester <%= @subject_plan.academic_year.semester %>&nbsp;<%= @subject_plan.academic_year.name %><br />
                <%= f.input :subject_plan_file, as: :file, input_html:{direct_upload: true}, wrapper: :file_bulma %>
              <% end %>
              <div class="buttons card-footer-item is-right">
                <%= f.submit "Simpan",class: "button is-primary is-small" %>
                <%= link_to "Index", subject_plans_path, class: "button is-danger is-small" %>
              </div>
          </div>

      </div>
      <% end %>
    </div>
</div>
