<section class="section">
    <div class="columns">
        <div class="column">
            <%= simple_form_for [@lecture, @professional_training] do |professional_training| %>
              <%#= render 'shared/errors', object: professional_training %>
              <%= professional_training.label :year, "Tahun" %>
              <%= professional_training.input :year,label:false, wrapper: :text_bulma_small %>

              <%= professional_training.label :training, "Jenis Pelatihan (Dalam/Luar Negeri)" %>
              <%= professional_training.input :training,label:false, wrapper: :text_bulma_small %>

              <%= professional_training.label :presented_by, "Penyelenggara" %>
              <%= professional_training.input :presented_by,label:false, wrapper: :text_bulma_small %>

              <%= professional_training.label :terms, "Jangka Waktu" %>
              <%= professional_training.input :terms,label:false, wrapper: :text_bulma_small %>

              <div class="buttons">
                  <%= professional_training.submit "Simpan", class:"button is-success" %>
                  <%= link_to "Kembali", lecture_path(@lecture, type:"PELATIHAN"), class: "button is-danger"%>
              </div>

            <% end %>
        </div>
    </div>
</section>
