<section class="section">
    <div class="columns">
        <div class="column">
            <%= simple_form_for [@lecture, @scientific] do |scientific| %>
              <%#= render 'shared/errors', object: scientific %>
              <%= scientific.label :year, "Tahun" %>
              <%= scientific.input :year,label:false, wrapper: :text_bulma_small %>

              <%= scientific.label :science_product, "Judul" %>
              <%= scientific.input :science_product, label:false, wrapper: :text_bulma_small %>

              <%= scientific.label :publisher, "Penerbit/Jurnal" %>
              <%= scientific.input :publisher,label:false, wrapper: :text_bulma_small %>

              <div class="buttons is-right">
                <%= scientific.submit "Simpan", class: "button is-success"%>
                <%= link_to "Kembali", lecture_path(@lecture, type:"JURNAL"), class: "button is-danger"%>
              </div>
            <% end %>
        </div>
    </div>
</section>
