<%= render 'landing_pages/index/main_page' %>
<%#= render 'landing_pages/index/sambutan_rektor' %>
<%= render "landing_pages/index/pejabat_struktural" %>
<%= render 'landing_pages/index/visi_misi' %>

<%= render "landing_pages/index/fakultas_upri" %>
<%= render "landing_pages/index/kategori_kelas" %>
<%#= render "landing_pages/index/timeline" %>

<%= render "landing_pages/index/info_mahasiswa_baru" %>
<%#= render "landing_pages/index/mitra_kampus" %>
<%= render "landing_pages/index/gallery" %>
<%= render 'landing_pages/index/footer' %>
