<p><%= @email %> Mendaftar Sebagai Mahasiswa Hari ini!</p>
<p>Admin Dapat Mengaktifkan Mahasiswa Tersebut Di Halaman Admin</p>
<p>An admin can approve this registration by visiting the website and editing the user</p>
