<section class="section">
    <div class="columns">
        <div class="column">
            <%= simple_form_for [@lecture, @scientist_organization] do |scientist_organization| %>
              <%#= render 'shared/errors', object: scientist_organization %>
              <%= scientist_organization.label :year, "Tahun" %>
              <%= scientist_organization.input :year,label:false, wrapper: :text_bulma_small %>

              <%= scientist_organization.label :organization, "Organisasi Profesi/Ilmiah" %>
              <%= scientist_organization.input :organization, label:false ,wrapper: :text_bulma_small %>

              <%= scientist_organization.label :position, "Perguruan Tinggi" %>
              <%= scientist_organization.input :position, label:false, wrapper: :text_bulma_small %>

              <div class="buttons is-right">
                <%= scientist_organization.submit "Simpan", class: "button is-success"%>
                <%= link_to "Kembali", lecture_path(@lecture, type:"ORGANISASI PROFESI"), class: "button is-danger"%>
              </div>
            <% end %>
        </div>
    </div>
</section>
