<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card mb-5">
        <div class="card-header">

        </div>
        <div class="card-body">

            <%= simple_form_for @studentletter, wrapper: :horizontal_form do |f| %>

            <%= f.error_notification %>
              <%= f.input :jenis_surat, collection: Studentletter.jenis_surat_list, include_blank: "-pilih-" %>
              <!-- surat biasa , rekomendasi beasiswa, rekomendasi kegiatan, cuti akademik, dan akreditasi biasa-->
              <div id="biasa_beasiswa_kegiatan_cuti_akreditasi_biasa" class=" hidden studentletter_input">
                <%= f.input :nama %>
                <%= f.input :nomor_induk_mahasiswa, label: "NIM" %>
                <%= f.input :program_studi, collection: ["Teknik Pertambangan", "Teknik Mesin", "Teknik Informatika"], label: "Program Studi", include_blank: "-pilih-" %>
                <%= f.input :tanggal_lahir, as: :date, html5: true, wrapper: :horizontal_form %>
                <%= f.input :alamat %>
                <%= f.input :handphone %>
              </div>
              <!-- end  -->

              <!-- tambahan surat keterangan biasa ke surat keterangan lulus, surat akreditasi alumni   -->
              <div id="lulus_akreditasi_alumni" class=" hidden studentletter_input">
                <%= f.input :tanggal_yudisium, as: :date, html5: true, wrapper: :horizontal_form  %>
                <%= f.input :judul_skripsi %>
              </div>
              <!-- end -->
              <!-- tambahan surat keterangan biasa ke surat keterangan lulus, surat akreditasi alumni   -->
              <div id="lulus_akreditasi_alumni" class="hidden studentletter_input">
                <%= f.input :nomor_ijazah_fakultas %>
                <%= f.input :nomor_ijazah_universitas %>
              </div>
              <!-- end -->
              <!-- tambahan surat keterangan biasa ke surat keterangan tanggungan -->
              <div id="keterangan_tanggungan" class=" studentletter_input">
                <%= f.input :nama_orang_tua %>
                <%= f.input :kategori_nomor_induk_instansi, collection: ["NIP", "NRP", "NIDN","Lainnya"], include_blank: "-pilih-" %>
                <%= f.input :nomor_induk_instansi %>
                <%= f.input :pangkat_golongan %>
                <%= f.input :telepon_orangtua %>
                <%= f.input :tempat_kerja %>
              </div>
              <!-- end -->

              <!-- surat keterangan pindah -->
              <div id="pindah" class="hidden studentletter_input">
                <%= f.input :keterangan_pindah %>
              </div>
              <!-- end -->


        </div>
        <div class="card-footer">
          <%= params[:action]=="new" ? (f.submit "Buat Surat", class:"btn btn-success pull-right ml-2") : (f.submit "Update Surat", class:"btn btn-success pull-right ml-2") %>
          <%= link_to 'Index', studentletters_path, class: "btn btn-danger pull-right ml-2" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
