<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5>Index Persuratan Mahasiswa</h5>
        </div>
        <div class="card-body">
          <%= link_to 'Buat Surat', new_studentletter_path, class: "btn btn-success mb-2" %>
          <table class="table table-sm table-bordered table-responsive">
            <thead>
              <tr>
                <th>No</th>
                <th>Jenis</th>
                <th>Nama</th>
                <th>Stambuk</th>
                <th>Jurusan</th>
                <th>No. Telepon</th>
                <th>Tanggal ACC KTU</th>
                <th colspan="2">Aksi</th>
              </tr>
            </thead>

            <tbody>
              <% @studentletters.each do |studentletter| %>
                <tr>
                  <td><%= studentletter.nomor_surat %></td>
                  <td><%= studentletter.jenis_surat %></td>
                  <td><%= studentletter.nama %></td>
                  <td><%= studentletter.nomor_induk_mahasiswa %></td>
                  <td><%= studentletter.program_studi %></td>
                  <td><%= studentletter.handphone %></td>
                  <td><%= studentletter.tanggal_diketahui_kepala_tata_usaha %></td>
                  <td><%= link_to icon_edit(''), edit_studentletter_path(studentletter) %></td>
                  <td><%= link_to icon_delete(''), studentletter_path(studentletter), method: :delete, data: { confirm: 'Yakin Hapus?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
