<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @studentletter.nama %>
</p>

<p>
  <strong>Stambuk:</strong>
  <%= @studentletter.stambuk %>
</p>

<p>
  <strong>Major:</strong>
  <%= @studentletter.major_id %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @studentletter.faculty_id %>
</p>

<p>
  <strong>Tempat lahir:</strong>
  <%= @studentletter.tempat_lahir %>
</p>

<p>
  <strong>Tanggal lahir:</strong>
  <%= @studentletter.tanggal_lahir %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @studentletter.alamat %>
</p>

<p>
  <strong>Nomor telepon:</strong>
  <%= @studentletter.nomor_telepon %>
</p>

<p>
  <strong>Tanggal yudisium:</strong>
  <%= @studentletter.tanggal_yudisium %>
</p>

<p>
  <strong>Judul skripsi:</strong>
  <%= @studentletter.judul_skripsi %>
</p>

<p>
  <strong>Nama orang tua:</strong>
  <%= @studentletter.nama_orang_tua %>
</p>

<p>
  <strong>Tempat kerja:</strong>
  <%= @studentletter.tempat_kerja %>
</p>

<p>
  <strong>Pangkat golongan:</strong>
  <%= @studentletter.pangkat_golongan %>
</p>

<p>
  <strong>Kategori nomor induk instansi:</strong>
  <%= @studentletter.kategori_nomor_induk_instansi %>
</p>

<p>
  <strong>Nomor induk instansi:</strong>
  <%= @studentletter.nomor_induk_instansi %>
</p>

<p>
  <strong>Nomor telepon orang tua:</strong>
  <%= @studentletter.nomor_telepon_orang_tua %>
</p>

<p>
  <strong>Jenis surat:</strong>
  <%= @studentletter.jenis_surat %>
</p>

<p>
  <strong>Keterangan pindah:</strong>
  <%= @studentletter.keterangan_pindah %>
</p>

<p>
  <strong>Diketahui kepala tata usaha:</strong>
  <%= @studentletter.diketahui_kepala_tata_usaha %>
</p>

<p>
  <strong>Tanggal diketahui:</strong>
  <%= @studentletter.tanggal_diketahui %>
</p>

<p>
  <strong>Kepala tata usaha:</strong>
  <%= @studentletter.kepala_tata_usaha %>
</p>

<p>
  <strong>Nomor surat:</strong>
  <%= @studentletter.nomor_surat %>
</p>

<%= link_to 'Edit', edit_studentletter_path(@studentletter) %> |
<%= link_to 'Back', studentletters_path %>
