<%= appreciation.label :year, "Tahun" %>
<%= appreciation.input :year,label:false, wrapper: :text_bulma_small %>

<%= appreciation.label :appreciation, "Bentuk Penghargaan" %>
<%= appreciation.input :appreciation,label:false, wrapper: :text_bulma_small %>

<%= appreciation.label :presented_by, "Pemberi" %>
<%= appreciation.input :presented_by,label:false, wrapper: :text_bulma_small %>
