<%= conference.label :year, "Tahun" %>
<%= conference.input :year,label:false, wrapper: :text_bulma_small %>

<%= conference.label :conference, "Judul Kegiatan" %>
<%= conference.input :conference,label:false, wrapper: :text_bulma_small %>

<%= conference.label :presented_by, "Penyelenggara" %>
<%= conference.input :presented_by,label:false, wrapper: :text_bulma_small %>

<%= conference.label :role, "Peran" %>
<%= conference.input :role, collection:["Panitia", "Peserta","Pembicara"], wrapper: :select_bulma_small %>
