<%= education.label :level, "Program Pendidikan(diploma, sarjana, magister, spesialis, dan doktor)" %>
<%= education.input :level, collection:["Diploma","Sarjana", "Magister", "Spesialis", "Doktor"], wrapper: :select_bulma_small %>

<%= education.label :major, "Jurusan/Program Studi" %>
<%= education.input :major,label:false, wrapper: :text_bulma_small %>

<%= education.label :institute, "Perguruan Tinggi" %>
<%= education.input :institute, label:false, wrapper: :text_bulma_small %>

<%= education.label :graduation_year, "Tahun Lulus" %>
<%= education.input :graduation_year,label:false, wrapper: :text_bulma_small %>
