<%= paper.label :year, "Tahun" %>
<%= paper.input :year,label:false, wrapper: :text_bulma_small %>

<%= paper.label :paper, "Judul Makalah/Poster" %>
<%= paper.input :paper,label:false, wrapper: :text_bulma_small %>

<%= paper.label :presented_by, "Penyelenggara" %>
<%= paper.input :presented_by,label:false, wrapper: :text_bulma_small %>
