<%= posisi.label :position, "Peran/Jabatan" %>
<%= posisi.input :position, label:false, wrapper: :text_bulma_small %>

<%= posisi.label :institute, "Institusi" %>
<%= posisi.input :institute, collection:["Universitas", "Fakultas", "Program Studi","Laboratorium", "Studio" ],wrapper: :select_bulma_small %>

<%= posisi.label :start_at, "Dari Tahun" %>
<%= posisi.input :start_at, as: :date,html5: true, label:false, wrapper: :date_bulma %>

<%= posisi.label :end_at, "Sampai Tahun" %>
<%= posisi.input :end_at, as: :date,html5: true, label:false, wrapper: :date_bulma %>
