<%= professional.label :year, "Tahun" %>
<%= professional.input :year, label: false, wrapper: :text_bulma_small %>

<%= professional.label :activity, "Jenis/Nama Kegiatan" %>
<%= professional.input :activity, label: false, wrapper: :text_bulma_small %>

<%= professional.label :place, "Tempat" %>
<%= professional.input :place, label: false, wrapper: :text_bulma_small %>
