<div class="columns has-background-light">
    <div class="column">
      <h6 class="is-size-6">Nama dan Gelar</h6>
    </div>
    <div class="column">
      <%= profile.input :gelar_depan_nama, placeholder:"--Gelar Depan Nama--", label:false, wrapper: :text_bulma_small %>
    </div>
    <div class="column">
      <%= profile.input :nama, placeholder:"--Nama Lengkap--", label:false, wrapper: :text_bulma_small %>
    </div>
    <div class="column">
      <%= profile.input :gelar_belakang_nama, placeholder:"--Gelar Belakang Nama--", label:false, wrapper: :text_bulma_small %>
    </div>
</div>
<div class="columns has-background-light">
    <div class="column">
      <h6 class="is-size-6">Tempat, Tanggal Lahir</h6>
    </div>
    <div class="column">
      <%= profile.input :tempat_lahir, label:false, placeholder: "--Tempat Lahir--", wrapper: :text_bulma_small %>
    </div>
    <div class="column">
      <%= profile.input :tanggal_lahir, as: :date, html5: true, wrapper: :date_bulma %>
    </div>
</div>
<div class="columns has-background-light">
  <div class="column is-4">
    <%= profile.input :jenis_kelamin, collection:["Laki-laki", "Perempuan"], include_blank: "-Jenis Kelamin-", wrapper: :select_bulma_small %>
  </div>
  <div class="column is-4">
    <%= profile.input :marital_status, collection:["Kawin", "Tidak Kawin"], include_blank: "-Status Perkawinan-", wrapper: :select_bulma_small %>
  </div>
  <div class="column is-4">
    <%= lecture.association :religion, include_blank: "-Agama-", wrapper: :select_bulma_small %>
  </div>
</div>
<div class="columns has-background-light">
  <div class="column">
    <%= profile.input :handphone, label:false, placeholder:"--Nomor handphone aktif--", wrapper: :text_bulma_small %>
  </div>
  <div class="column">
    <%= profile.input :nomor_induk_pegawai, label:false, placeholder:"--Nomor Induk Pegawai--",wrapper: :text_bulma_small %>
  </div>
  <div class="column">
    <%= profile.input :nomor_induk_dosen_negara, label:false, placeholder:"--Nomor Induk Dosen Negara--",wrapper: :text_bulma_small %>
  </div>
</div>
<div class="columns has-background-light">
  <div class="column is-4">
    <%= profile.input :lecture_type, collection:["Dosen DPK", "Dosen Yayasan", "Dosen Luar Biasa"], include_blank: "-Status Dosen-", wrapper: :select_bulma_small %>
  </div>
  <div class="column is-4">
    <%= lecture.association :lecture_functional_type, collection:LectureFunctionalType.order(:id).map{|l| [ "#{l.name} - #{l.lecture_level_type.group}/#{l.lecture_level_type.letter}",l.id]} ,include_blank: "-Jabatan Akademik-",wrapper: :select_bulma_small %>
  </div>
  <div class="column is-4">
    <%= lecture.association :major, collection: Major.where(id:[31,32,33]), include_blank: "-Program Studi-", wrapper: :select_bulma_small %>
  </div>
</div>
