<%= research.label :year, "Tahun" %>
<%= research.input :year,label:false, wrapper: :text_bulma_small %>

<%= research.label :research, "Judul Penelitian" %>
<%= research.input :research, label:false, wrapper: :text_bulma_small %>

<%= research.label :role, "Ketua/Anggota Tim" %>
<%= research.input :role, collection:["Ketua", "Anggota"],wrapper: :select_bulma_small %>

<%= research.label :source_funds, "Sumber Dana" %>
<%= research.input :source_funds, label:false, wrapper: :text_bulma_small %>
