<%= reviewer.label :year, "Tahun" %>
<%= reviewer.input :year,label:false, wrapper: :text_bulma_small %>

<%= reviewer.label :review, "Judul" %>
<%= reviewer.input :review, label:false, wrapper: :text_bulma_small %>

<%= reviewer.label :publisher, "Penerbit/Jurnal" %>
<%= reviewer.input :publisher,label:false, wrapper: :text_bulma_small %>
