<%= scientist_organization.label :year, "Tahun" %>
<%= scientist_organization.input :year,label:false, wrapper: :text_bulma_small %>

<%= scientist_organization.label :organization, "Organisasi Profesi/Ilmiah" %>
<%= scientist_organization.input :organization, label:false ,wrapper: :text_bulma_small %>

<%= scientist_organization.label :position, "Perguruan Tinggi" %>
<%= scientist_organization.input :position, label:false, wrapper: :text_bulma_small %>
