<%= scientific.label :year, "Tahun" %>
<%= scientific.input :year,label:false, wrapper: :text_bulma_small %>

<%= scientific.label :science_product, "Judul" %>
<%= scientific.input :science_product, label:false, wrapper: :text_bulma_small %>

<%= scientific.label :publisher, "Penerbit/Jurnal" %>
<%= scientific.input :publisher,label:false, wrapper: :text_bulma_small %>
