<%= student_organization.label :year, "Tahun" %>
<%= student_organization.input :year, label:false, wrapper: :text_bulma_small %>

<%= student_organization.label :name, "Jenis/Nama Kegiatan" %>
<%= student_organization.input :name, label:false, wrapper: :text_bulma_small %>

<%= student_organization.label :role, "Pembimbing/Pembina" %>
<%= student_organization.input :role, collection:["Pembimbing", "Pembina"], label:false, wrapper: :select_bulma_small %>

<%= student_organization.label :place, "Tempat" %>
<%= student_organization.input :place, label:false, wrapper: :text_bulma_small %>
