<%= material.label :subject, "Matakuliah" %>
<%= material.input :subject, label:false, wrapper: :text_bulma_small %>

<%= material.label :major, "Program Pendidikan" %>
<%= material.input :major, label:false, wrapper: :text_bulma_small %>

<%= material.label :kind, "Jenis Bahan Ajar" %>
<%= material.input :kind, collection:["Cetak","Non Cetak"],wrapper: :select_bulma_small %>

<%= material.label :semester_status, "Semester" %>
<%= material.input :semester_status, collection:["Ganjil", "Genap"], wrapper: :select_bulma_small %>

<%= material.label :academic_year, "Tahun Akademik" %>
<%= material.input :academic_year, label:false, wrapper: :text_bulma_small %>
