<%= professional_training.label :year, "Tahun" %>
<%= professional_training.input :year,label:false, wrapper: :text_bulma_small %>

<%= professional_training.label :training, "Jenis Pelatihan (Dalam/Luar Negeri)" %>
<%= professional_training.input :training,label:false, wrapper: :text_bulma_small %>

<%= professional_training.label :presented_by, "Penyelenggara" %>
<%= professional_training.input :presented_by,label:false, wrapper: :text_bulma_small %>

<%= professional_training.label :terms, "Jangka Waktu" %>
<%= professional_training.input :terms,label:false, wrapper: :text_bulma_small %>
