<section class="section">
    <div class="columns is-mobile is-centered">
        <div class="column is-9">
          <div class="table-container">
            <table class="table is-striped is-narrow is-hoverable is-bordered is-fullwidth">
              <tbody>
                  <tr class="has-background-white" >
                    <th class="has-text-left has-text-weight-bold" colspan=5>
                      <span class="is-size-7">NAMA :  <%= @subject_plan.student.student_profile.try(:nama).upcase %></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="is-size-7">NIM : <%= @subject_plan.student.student_profile.try(:nomor_induk_mahasiswa) %></span><br />
                      <span class="is-size-7">STATUS : <%= krs_status(@subject_plan) %></span><br />
                      <!-- <span class="is-size-7">TOTAL PEROLEHAN KREDIT :  -</span>&nbsp;&nbsp;<span class="is-size-7">IPK : -</span><br /> -->
                    </th>
                  </tr>
                  <tr class="has-background-white" >
                    <th class="has-text-centered has-text-weight-light" width=50px  style="vertical-align:middle;" colspan=2><%= image_tag 'upri_20.png', style: 'width: 55%;' %></th>
                    <th class="has-text-centered has-text-weight-light" colspan=2 style="vertical-align:middle;">
                      <span class="is-size-5">UNIVERSITAS PEJUANG REPUBLIK INDONESIA</span><br />
                      <span class="is-size-6"><%= @subject_plan.student.major.faculty.name.upcase %></span><br />
                      <span class="is-size-7">PROGRAM STUDI <%= @subject_plan.student.major.name.upcase %></span><br />
                      <span class="is-size-5 has-text-weight-bold">KARTU RENCANA STUDI&nbsp;<%= @subject_plan.academic_year.try(:name) %>&nbsp;<%= @subject_plan.academic_year.try(:semester).upcase  %></span><br />
                    </th>
                    <th class="has-text-centered has-text-weight-light" style="vertical-align:middle;"><%= @subject_plan.barcode_data(xdim: 3).html_safe%></th>
                  </tr>

                  <tr class="has-background-white" >
                    <th class="has-text-centered has-text-weight-light">No</th>
                    <th class="has-text-centered has-text-weight-light">Kode</th>
                    <th class="has-text-weight-light" colspan="2">Matakuliah</th>
                    <th class="has-text-centered has-text-weight-light">SKS</th>
                  </tr>
                  <% @subject_plan.subjects.each_with_index do |subject, i| %>
                  <tr class="is-size-7 has-text-weight-light">
                    <th class="has-text-centered has-text-weight-light"><%= i = i + 1 %></th>
                    <td class="has-text-centered"><%= subject.kode.try(:upcase) %></td>
                    <td colspan="2"><%= subject.try(:matakuliah).upcase %></td>
                    <td class="has-text-centered"><%= subject.try(:kredit) %></td>
                  </tr>
                  <% end %>
                  <tr class="is-size-7 has-text-weight-light">
                    <th class="has-text-right has-text-weight-light" colspan=4>TOTAL SKS</th>
                    <td class="has-text-centered" id="total_sks"><%= @subject_plan.subjects.sum(:kredit) %></td>
                  </tr>
              </tbody>
            </table>
            <table class="table is-fullwidth is-borderless">
              <tbody>
                  <tr>
                    <th colspan="3" class="has-text-centered">Mengetahui</th>
                  </tr>
                  <tr>
                    <th style="width: 33%;" class="has-text-centered">Dekan</th>
                    <th style="width: 33%;" class="has-text-centered">Penasehat Akademik</th>
                    <th style="width: 33%;" class="has-text-centered">Mahasiswa</th>
                  </tr>
                  <tr>
                    <th colspan="3" class="has-text-centered"></th>
                  </tr>
                  <tr>
                    <th colspan="3" class="has-text-centered"></th>
                  </tr>
                  <tr>
                    <th colspan="3" class="has-text-centered"></th>
                  </tr>
                  <tr>
                    <th colspan="3" class="has-text-centered"></th>
                  </tr>
                  <tr>
                    <th style="width: 33%;" class="has-text-centered is-9"><%= @subject_plan.dekan %></th>
                    <th style="width: 33%;" class="has-text-centered is-9"><%= @subject_plan.penasehat_akademik %></th>
                    <th style="width: 33%;" class="has-text-centered is-9"><%= @subject_plan.student.student_profile.try(:nama).titleize %></th>
                  </tr>
                  <tr style="height: 30%; margin-top:0; padding-top:0;">
                    <th style="width: 33%;" class="has-text-centered has-text-weight-light is-9">NIP:&nbsp;&nbsp;<%= @subject_plan.nip_nidn_dekan %></th>
                    <th style="width: 33%;" class="has-text-centered has-text-weight-light is-9">NIDN:&nbsp;&nbsp;<%= @subject_plan.nip_nidn_penasehat_akademik %></th>
                    <th style="width: 33%;" class="has-text-centered has-text-weight-light is-9">NIM:&nbsp;&nbsp;<%= @subject_plan.student.student_profile.try(:nomor_induk_mahasiswa) %></th>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="buttons is-right">
            <%= link_to_if @subject_plan.is_approved?, icon_print(''), print_subject_plan_path(@subject_plan, format: :pdf), target: :_blank,class: "button is-danger is-small", method: :put, data:{confirm: "Yakin sudah benar untuk dicetak?"} if @subject_plan.is_approved? %>
            <%= link_to_if @subject_plan.is_not_approved?, icon_edit(''), edit_subject_plan_path(@subject_plan), class: "button is-success is-small" %>
            <%= link_to "Index", subject_plans_path, class: "button is-small is-danger" %>
          </div>
        </div>
      </div>
</section>
