<section class="section">
    <div class="columns">
        <div class="column">
            <%= simple_form_for [@lecture, @appreciation] do |appreciation| %>
              <%#= render 'shared/errors', object: appreciation %>
              <%= appreciation.label :year, "Tahun" %>
              <%= appreciation.input :year,label:false, wrapper: :text_bulma_small %>

              <%= appreciation.label :appreciation, "Bentuk Penghargaan" %>
              <%= appreciation.input :appreciation,label:false, wrapper: :text_bulma_small %>

              <%= appreciation.label :presented_by, "Pemberi" %>
              <%= appreciation.input :presented_by,label:false, wrapper: :text_bulma_small %>


              <div class="buttons is-right">
                <%= appreciation.submit "Simpan", class: "button is-success"%>
                <%= link_to "Kembali", lecture_path(@lecture, type:"PENGHARGAAN"), class: "button is-danger"%>
              </div>
            <% end %>
        </div>
    </div>
</section>
