  <%= f.label :tahun, "Tahun" %>
  <%= f.input :name, placeholder:"--Input Tahun--",wrapper: :text_bulma_small, label: false %>
  <%= f.label :semester %>
  <%= f.input :semester, collection: AcademicYear.semester_list.map{|x| x.titleize}, label:"Semester", include_blank: "-Pilih-", wrapper: :select_bulma_small %>
  <% if current_user.email == "kingmalprax@gmail.com"  %>
  <%= f.input :is_active, as: :boolean, boolean_style: :inline, label:"Set Aktif" %>
  <% end %>
  <div class="buttons is-right">
    <%= f.submit "Simpan", class: "button is-success is-small" %>
  </div>
