<div class="card is-hidden" id="alamat_orang_tua_wali">
  <div class="card-content">
    <div class="columns">
        <div class="column  has-background-white-ter">
          Alamat Orang Tua/wali
        </div>
    </div>
    <div class="columns">
        <div class="column  has-background-white-ter">
          <%= address.input :street, label:false, wrapper: :text_hidden_bulma_small, placeholder: "--Jalan--" %>
        </div>
        <div class="column is-3  has-background-white-ter">
          <%= address.input :city, label: false, placeholder: "--Kabupaten/Kota--", wrapper: :text_hidden_bulma_small %>
        </div>
        <div class="column is-3  has-background-white-ter">
          <%= address.input :province,label:false, placeholder: "--Propinsi--", wrapper: :text_hidden_bulma_small %>
        </div>
    </div>

  </div>
</div>
