<article class="message is-warning">
  <div class="message-header">
    PETUNJUK PENGISIAN
  </div>
  <div class="message-body">
    <div class="content">
      <ol type="1">
        <li class="is-size-7"><p>Mohon untuk mengisi semua kolom yang ada secara jujur dan menyiapkan dokumen yang dibutuhkan</p></li>
        <li class="is-size-7"><p>Tabel berikut menunjukkan apabila kolom dan dokumen yang diminta sudah di isi atau diupload</p></li>
        <li class="is-size-7"><p>Jika ada yang mau ditanyakan silahkan hubungi <span class="has-text-success"><strong>WA: 085240875555</strong></span></p></li>
        <li class="is-size-7"><p>Tombol <button class="has-background-danger has-text-white">BLANKO PEMBAYARAN</button> pembayaran akan muncul jika semua kolom telah diisi</p></li>
      </ol>
    </div>
    <table class="table is-bordered is-fullwidth is-narrow">
      <thead>
        <tr style="vertical-align=middle;"><td class="is-mobile is-size-7">Item</td><td class="is-mobile is-size-7 has-text-centered">OK</td></tr>
      </thead>
      <tbody>
        <tr style="vertical-align=middle;"><td class="is-mobile is-size-7">Nama</td><td class="has-text-centered"><%= student.student_profile.nama.present? ? icon_check('') : icon_times('') %></td></tr>
        <tr style="vertical-align=middle;"><td class="is-mobile is-size-7">Jenis Kelamin</td><td class="has-text-centered"><%= student.student_profile.jenis_kelamin.present? ? icon_check('') : icon_times('') %></td></tr>
        <tr style="vertical-align=middle;"><td class="is-mobile is-size-7">Agama</td><td class="has-text-centered"><%=  student.student_profile.agama.present? ? icon_check('') : icon_times('') %></td></tr>
        <tr style="vertical-align=middle;"><td class="is-mobile is-size-7">Handphone</td><td class="has-text-centered"><%= student.student_profile.handphone.present? ? icon_check('') : icon_times('') %></td></tr>
        <tr style="vertical-align=middle;"><td class="is-mobile is-size-7">kewarganegaraan</td><td class="has-text-centered"><%= student.student_profile.kewarganegaraan.present? ? icon_check('') : icon_times('') %></td></tr>
        <tr style="vertical-align=middle;"><td class="is-mobile is-size-7">Program Studi Pilihan</td><td class="has-text-centered"><%= student.major.present? ? icon_check('') : icon_times('') %></td></tr>
        <tr style="vertical-align=middle;"><td class="is-mobile is-size-7">Tempat Lahir</td><td class="has-text-centered"><%= student.student_profile.tempat_lahir.present? ? icon_check('') : icon_times('') %></td></tr>
        <tr style="vertical-align=middle;"><td class="is-mobile is-size-7">Tanggal Lahir</td><td class="has-text-centered"><%= student.student_profile.tanggal_lahir.present? ? icon_check('') : icon_times('') %></td></tr>
        <tr style="vertical-align=middle;"><td class="is-mobile is-size-7">Asal Sekolah</td><td class="has-text-centered"><%= student.school.nama.present? ? icon_check('') : icon_times('')  %></td></tr>
        <tr style="vertical-align=middle;"><td class="is-mobile is-size-7">Jurusan Sekolah</td><td class="has-text-centered"><%= student.school.jurusan.present? ? icon_check('') : icon_times('')  %></td></tr>
        <tr style="vertical-align=middle;"><td class="is-mobile is-size-7">Pas Foto</td><td class="has-text-centered"><%= student.student_photo_file.present? ? icon_check('') : icon_times('')  %></td></tr>
        <tr style="vertical-align=middle;"><td class="is-mobile is-size-7">KTP</td><td class="has-text-centered"><%= student.kartu_keluarga_file.present? ? icon_check('') : icon_times('')  %></td></tr>
        <tr style="vertical-align=middle;"><td class="is-mobile is-size-7">Kartu Keluarga</td><td class="has-text-centered"><%= student.kartu_tanda_penduduk_file.present? ? icon_check('') : icon_times('')  %></td></tr>
        <tr style="vertical-align=middle;"><td class="is-mobile is-size-7">Ijazah Atau SKL</td><td class="has-text-centered"><%= student.ijazah_file.present? ? icon_check('') : icon_times('')  %></td></tr>
      </tbody>
    </table>
  </div>
</article>
<br />
<br />
