
<div class="columns">
    <div class="column is-one-quarter-desktop is-half-tablet is-half-mobile">
      <div class="card ">
          <div class="card-header">
            <div class="card-header-title is-size-7">
              Pas Foto
            </div>
          </div>
          <div class="card-image has-text-centered" style="max-height:100%; max-width:100%;" >
            <%= active_storage_file(@student.student_photo_file, "https://bulma.io/images/placeholders/256x256.png", "256x256", "attachment") %>
          </div>
          <div class="card-footer has-text-centered">
            <div class="card-footer-item">
              <% if @student.student_photo_file.attached? %>
                <%= link_to "hapus", delete_file_student_path(@student.student_photo_file.id), class:"button is-danger is-small" %>
              <% else %>
                <%= f.input :student_photo_file, as: :file, input_html:{direct_upload: true}, wrapper: :file_bulma %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
    <div class="column is-one-quarter-desktop is-half-tablet is-half-mobile">
      <div class="card ">
          <div class="card-header">
            <div class="card-header-title is-size-7">
              KTP
            </div>
          </div>
          <div class="card-image has-text-centered" style="max-height:100%; max-width:100%;">
            <%= active_storage_file(@student.kartu_tanda_penduduk_file, "https://bulma.io/images/placeholders/256x256.png", "256x256", "attachment") %>
          </div>
          <div class="card-footer has-text-centered">
            <div class="card-footer-item">
              <% if @student.kartu_tanda_penduduk_file.attached? %>
                <%= link_to "hapus", delete_file_student_path(@student.kartu_tanda_penduduk_file.id), class:"button is-danger is-small" %>
              <% else %>
                <%= f.input :kartu_tanda_penduduk_file, as: :file, input_html:{direct_upload: true}, wrapper: :file_bulma %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
    <div class="column is-one-quarter-desktop is-half-tablet is-half-mobile">
      <div class="card ">
          <div class="card-header">
            <div class="card-header-title is-size-7">
              Kartu Keluarga
            </div>
          </div>
          <div class="card-image has-text-centered" style="max-height:100%; max-width:100%;">
            <%= active_storage_file(@student.kartu_keluarga_file, "https://bulma.io/images/placeholders/256x256.png", "256x256", "attachment") %>
          </div>
          <div class="card-footer has-text-centered">
            <div class="card-footer-item">
              <% if @student.kartu_keluarga_file.attached? %>
                <%= link_to "hapus", delete_file_student_path(@student.kartu_keluarga_file.id), class:"button is-danger is-small" %>
              <% else %>
                <%= f.input :kartu_keluarga_file, as: :file, input_html:{direct_upload: true}, wrapper: :file_bulma %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
    <div class="column is-one-quarter-desktop is-half-tablet is-half-mobile">
      <div class="card ">
          <div class="card-header">
            <div class="card-header-title is-size-7">
              Ijazah / SKL legalisir
            </div>
          </div>
          <div class="card-image has-text-centered" style="max-height:100%; max-width:100%;">
            <%= active_storage_file(@student.ijazah_file, "https://bulma.io/images/placeholders/256x256.png", "256x256", "attachment") %>
          </div>
          <div class="card-footer has-text-centered">
            <div class="card-footer-item">
              <% if @student.ijazah_file.attached? %>
                <%= link_to "hapus", delete_file_student_path(@student.ijazah_file.id), class:"button is-danger is-small" %>
              <% else %>
                <%= f.input :ijazah_file, as: :file, input_html:{direct_upload: true}, wrapper: :file_bulma %>
              <% end %>
            </div>
          </div>
      </div>
    </div>

</div>
