<br />
<%= student_profile.label :keterangan_tinggal, "Tinggal Bersama" %>
<%= student_profile.input :keterangan_tinggal, label:"Tinggal Bersama",collection:StudentProfile.keterangan_tinggal_list, wrapper: :select_bulma_small %>
<br />
