
    <div class="columns">
        <div class="column is-6 has-background-white-ter">
          <%= student_profile.input :nama, label:false, placeholder: "--Nama Mahasiswa--", wrapper: :text_bulma_small %>
        </div>
        <div class="column has-background-white-ter">
          <%= student_profile.input :jenis_kelamin, collection:StudentProfile.jenis_kelamin_list, include_blank: "--Jenis Kelamin--",wrapper: :select_bulma_small %>
        </div>
        <div class="column has-background-white-ter">
          <%= student_profile.input :agama, collection:StudentProfile.agama_list, include_blank:"--Agama--", wrapper: :select_bulma_small %>
        </div>

    </div>
    <div class="columns">
        <div class="column is-auto has-background-white-ter">
          <%= student_profile.input :handphone, label:false, placeholder: "--Nomor HP Anda yang bisa dihubungi--",wrapper: :text_bulma_small %>
        </div>
        <div class="column has-background-white-ter">
          <%= student_profile.input :kewarganegaraan, collection:StudentProfile.kewarganegaraan_list, include_blank:"--kewarganegaraan--", wrapper: :select_bulma_small %>
        </div>
    </div>
    <div class="columns">
        <div class="column has-background-white-ter">
          <%= student.label :major, "Program Studi Yang Diminati" %>
          <%= student.association :major, collection: Major.where(id:[31,32,33]), include_blank: "--Program Studi--",wrapper: :select_bulma_small %>
        </div>
    </div>
    <div class="columns">
        <div class="column has-background-white-ter">
          <h6 class="is-4">Tempat, Tanggal Lahir</h6>
        </div>
        <div class="column has-background-white-ter">
          <%= student_profile.input :tempat_lahir, label:false, placeholder: "--Tempat Lahir--", wrapper: :text_bulma_small %>
        </div>
        <div class="column has-background-white-ter">
          <%= student_profile.input :tanggal_lahir, as: :date, html5: true, wrapper: :date_bulma %>
        </div>
    </div>
