<p>Pilih nama referral/pengurus yang membawa adik masuk ke kampus</p>
<%= f.input :referral, collection: Student.referral_list, include_blank:"Kosongkan jika ada referal lain atau datang sendiri", wrapper: :select_bulma_small %>
<br />
<p>Jika ada referral selain di atas mohon di isi namanya disini</p>
<%= f.input :referral, label: false, placeholder: "Input Nama Referral Lain", wrapper: :text_bulma_small %>
