<div class="columns">
    <div class="column is-4 has-background-white-ter">
      Asal Sekolah
    </div>
    <div class="column has-background-white-ter">
      <%= school.input :nama, label:false, placeholder: "--Asal Sekolah--", wrapper: :text_bulma_small %>
    </div>
    <div class="column has-background-white-ter">
      <%= school.input :jurusan, collection:School.jurusan_list, include_blank: "--Jurusan/Program Studi--", wrapper: :select_bulma_small %>
    </div>
</div>
