<section class="section">
  <div class="columns is-tablet">
    <div class="column is-4 is-offset-4">
        <div class="field has-text-centered">
          <div class="columns">
            <div class="column">
              <%= image_tag 'https://upri.s3-ap-southeast-1.amazonaws.com/images/upri.png', style: 'width: 20%;' %><br />
              <p >FAKULTAS TEKNIK</p>
              <p >UNIVERSITAS PEJUANG REPUBLIK INDONESIA</p><br />
            </div>
          </div>
        </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :default, defaults: {wrapper: false}) do |f| %>
        <%= render 'shared/devise_message' %>
        <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "--Email--" %>
        <%= f.input :password, required: false, autofocus: true, label: false, placeholder:"--Password--" %>
        <% if devise_mapping.rememberable? %>
        <!-- <div class="field">
          <div class="control">
            <span style="display: inline-block">
              <%#= f.input :remember_me, as: :boolean, label: "&nbsp;&nbsp;Ingat Saya".html_safe, wrapper: :boolean %>
            </span>
          </div>
        </div> -->
        <% end %>
        <p class="buttons">
            <%= f.button :submit, "Login", class: "is-fullwidth"  %>
        </p>
        <div class="field">
          <div class="control">
            <span >
              <%= link_to "Kembali", root_path %>
            </span>
          </div>
        </div>
        <%= render "users/shared/links" %>
      <% end %>
    </div>
  </div>
</section>

<!-- <div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
  <p class="help is-danger">This email is invalid</p>
</div> -->
