<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      PENGHARGAAN/PIAGAM
    </div>
  </div>
  <div class="card-content">
    <% if appreciations.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Bentuk Penghargaan</td>
                <td>Pemberi</td>
                <td colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% appreciations.each do |piagam| %>
          <tr>
              <td><%= piagam.year %></td>
              <td><%= piagam.appreciation %></td>
              <td><%= piagam.presented_by %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    Maaf belum ada data
    <% end %>
  </div>
</div>
