<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      KONFERENSI/SEMINAR/LOKAKARYA/SIMPOSIUM
    </div>
  </div>
  <div class="card-content">
    <% if conferences.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Judul Kegiatan</td>
                <td>Penyelenggara</td>
                <td>Panitia/peserta/pembicara</td>
            </tr>
        </thead>
        <tbody>
          <% conferences.each do |conference| %>
          <tr>
              <td><%= conference.year %></td>
              <td><%= conference.conference %></td>
              <td><%= conference.presented_by %></td>
              <td><%= conference.role %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    Maaf belum ada
    <% end %>
  </div>
</div>
