<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      PRODUK BAHAN AJAR
    </div>
  </div>
  <div class="card-content">
    <% if materials.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Mata Kuliah</td>
                <td>Program Pendidikan</td>
                <td>Jenis Bahan Ajar (Cetak dan Noncetak)</td>
                <td>Semester/Tahun Akademik</td>
            </tr>
        </thead>
        <tbody>
          <% @materials.each do |material| %>
          <tr>
              <td><%= material.subject %></td>
              <td><%= material.major %></td>
              <td><%= material.kind %></td>
              <td><%= material.semester_status %>&nbsp;<%= material.academic_year %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    Maaf belum ada data
    <% end %>
  </div>
</div>
