<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      MAKALAH/POSTER
    </div>
  </div>
  <div class="card-content">
    <% if papers.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Judul</td>
                <td>Penyelenggara</td>
            </tr>
        </thead>
        <tbody>
          <% papers.each do |makalah| %>
          <tr>
              <td><%= makalah.year %></td>
              <td><%= makalah.paper %></td>
              <td><%= makalah.presented_by %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    Maaf belum ada data
    <% end %>
  </div>
</div>
