<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      KEGIATAN PROFESIONAL/PENGABDIAN KEPADA MASYARAKAT
    </div>
  </div>
  <div class="card-content">
    <% if professionals.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Jenis/Nama Kegiatan</td>
                <td>Tempat</td>
            </tr>
        </thead>
        <tbody>
          <% professionals.each do |professional| %>
          <tr>
              <td><%= professional.year %></td>
              <td><%= professional.activity %></td>
              <td><%= professional.place %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    Maaf belum ada data
    <% end %>
  </div>
</div>
