<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      PENGALAMAN PENELITIAN
    </div>
  </div>
  <div class="card-content">
    <% if researchs.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Judul Penelitian</td>
                <td>Ketua/Anggota Tim</td>
                <td>Sumber Dana</td>
            </tr>
        </thead>
        <tbody>
          <% researchs.each do |research| %>
          <tr>
              <td><%= research.year %></td>
              <td><%= research.research %></td>
              <td><%= research.role %></td>
              <td><%= research.source_funds %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    Maaf belum ada data
    <% end %>

  </div>
</div>
