<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      PENYUNTING/EDITOR/REVIEWER/RESENSI
    </div>
  </div>
  <div class="card-content">
    <% if reviewers.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Judul</td>
                <td>Penerbit/Jurnal</td>
                <td colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% reviewers.each do |reviewer| %>
          <tr>
              <td><%= reviewer.year %></td>
              <td><%= reviewer.review %></td>
              <td><%= reviewer.publisher %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    Maaf belum ada data
    <% end %>
  </div>
</div>
