<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      ORGANISASI PROFESI/ILMIAH
    </div>
  </div>
  <div class="card-content">
    <% if scientific_organizations.present? %>
    <div class="table-containers">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Jenis/Nama Organisasi</td>
                <td>Jabatan/jenjang keanggotaan</td>
            </tr>
        </thead>
        <tbody>
          <% scientific_organizations.each do |organization| %>
          <tr>
              <td><%= organization.year %></td>
              <td><%= organization.organization %></td>
              <td><%= organization.position %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    Maaf belum ada data
    <% end %>
  </div>
</div>
