<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      KARYA ILMIAH
    </div>
  </div>
  <div class="card-content">
    <% if scientifics.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Judul</td>
                <td>Penerbit/Jurnal</td>
            </tr>
        </thead>
        <tbody>
          <% scientifics.each do |scientific| %>
          <tr>
              <td><%= scientific.year %></td>
              <td><%= scientific.science_product %></td>
              <td><%= scientific.publisher %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    Maaf belum ada data
    <% end %>
  </div>
</div>
