<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      PERAN DALAM KEGIATAN KEMAHASISWAAN
    </div>
  </div>
  <div class="card-content">
    <% if student_organizations.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Jenis/Nama Kegiatan</td>
                <td>Pembimbing/Pembina</td>
                <td>Tempat</td>
            </tr>
        </thead>
        <tbody>
          <% student_organizations.each do |student_organization| %>
          <tr>
              <td><%= student_organization.year %></td>
              <td><%= student_organization.name %></td>
              <td><%= student_organization.role %></td>
              <td><%= student_organization.place %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    Maaf belum ada data
    <% end %>
  </div>
</div>
