<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      PENGALAMAN MENGAJAR
    </div>
  </div>
  <div class="card-content">
    <% if teachings.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Matakuliah</td>
                <td>Program Pendidikan</td>
                <td>Institut/Jurusan/Program Studi</td>
                <td>Semester/Tahun Akademik</td>
                <td colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% teachings.each do |teaching| %>
          <tr>
              <td><%= teaching.subject %></td>
              <td><%= teaching.major %></td>
              <td><%= teaching.institute %></td>
              <td><%= teaching.semester_status %>&nbsp;<%= teaching.academic_year %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    Maaf belum ada data
    <% end %>
  </div>
</div>
