<%= simple_nested_form_for @student, url: student_path(@student), method: :put, wrapper: :default do |f| %>
<%= render "shared/errors", object: @student %>
<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      Biodata Pribadi,&nbsp;<span class="has-text-danger">Tidak boleh dikosongkan!</span>
    </div>
  </div>
  <div class="card-content">
    <%= f.simple_fields_for :student_profile do |student_profile| %>
      <%= render partial: 'students/form/profile', locals:{student: f, student_profile: student_profile} %>
    <% end %>
    <%= f.simple_fields_for :school do |school| %>
      <%= render partial: 'students/form/school', locals:{f: f, school: school} %>
    <% end %>
    <%= f.simple_fields_for :student_profile do |student_profile| %>
      <%= render partial: 'students/form/keterangan', locals:{f: f, student_profile: student_profile} %>
    <% end %>
    <%= f.simple_fields_for :parent do |parent| %>
      <%= render partial: 'students/form/parent', locals:{f: f, parent: parent} %>
    <% end %>
    <%= f.simple_fields_for :alamat_tinggal do |address| %>
      <%= render partial: 'students/form/address', locals:{f: f, address: address} %>
    <% end %>
  </div>
  <div class="card-content">
      <div class="buttons is-right">
        <%= f.submit "Simpan", class:'button is-primary is-small'  %>
        <%= link_to "Kembali", student_path(@student), class: 'button is-danger is-small' %>
      </div>
  </div>
</div>
<% end %>
