<%= simple_nested_form_for @student, url: student_path(@student), method: :put, wrapper: :default do |f| %>
<%= render "shared/errors", object: @student %>


<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      <span class="">FORMULIR PENDAFTARAN</span>
    </div>
  </div>
  <div class="card-content">
    <div class="columns">
        <div class="column is-4 has-background-white-ter">
          <%= render partial: 'students/mabaform/control', locals:{student: @student} %>
        </div>
        <div class="column is-8 has-background-white-ter">
          <%= f.simple_fields_for :student_profile do |student_profile| %>
            <%= render partial: 'students/mabaform/profile', locals: {student: f, student_profile: student_profile} %>
          <% end %>
          <%= f.simple_fields_for :school do |school| %>
            <%= render partial: 'students/mabaform/school', locals: {f: f, school: school} %>
          <% end %>
          <%= render partial: 'students/mabaform/document', locals:{f: f} %>

          <%= render partial: 'students/mabaform/referral', locals: {f: f} %>

          <div class="box" style="border-radius: 0;">
            <div class="buttons is-centered">
              <% a = complete_profile(@student.student_profile.nama, @student.student_profile.jenis_kelamin, @student.student_profile.agama, @student.student_profile.handphone, @student.student_profile.kewarganegaraan, @student.major, @student.student_profile.tempat_lahir, @student.student_profile.tanggal_lahir, @student.school.nama, @student.school.jurusan) %>
              <% b = complete_document(@student.student_photo_file, @student.kartu_keluarga_file, @student.kartu_tanda_penduduk_file, @student.ijazah_file) %>

              <% if a == true && b == true %>
                <%= link_to "BLANKO PEMBAYARAN", print_registrasi_student_payment_path(@payment, student_id: @student.id, format: :pdf), target: :_blank,class: "button is-danger is-medium", data:{confirm: "Yakin sudah benar untuk dicetak?"} %>
                <%= f.submit "Simpan", class:'button is-success is-medium'%>
              <% else %>
                <%= f.submit "Simpan", class:'button is-success is-medium is-fullwidth'  %>
              <% end %>
            </div>
            <!-- <a href="https://api.whatsapp.com/send?phone=6285240875555&text=Salam%20Saya%20Sedang%20Mengisi%20Formulir%20Sekarang,%20Bisa%20Dibantu?" target="_blank">Butuh Bantuan? Klik untuk Chat</a> -->
          </div>

        </div>
    </div>
  </div>
</div>
<% end %>
