<%= simple_nested_form_for @student, url: student_path(@student), method: :patch do |f| %>
<div class="container-fluid mb-5">
  <div class="row justify-content-center">
    <%= render partial: 'form', locals:{f: f} %>
  </div>
</div>
<% end %>
