<div class="card">
    <div class="card-content">
      <div class="columns is-mobile is-centered">
          <div class="column is-9">
            <table class="table is-striped is-narrow is-hoverable is-bordered is-fullwidth">
              <tbody>
                  <tr class="has-background-white" >
                    <th rowspan="6" width=60px;></th>
                    <th class="has-text-left has-text-weight-bold" colspan="5">
                      <span class="is-size-7">TANGGAL CETAK :</span>&nbsp;&nbsp;<span class="is-size-7"><%= Time.now.strftime("%d-%m-%Y") %></span>
                    </th>
                  </tr>
                  <tr class="has-background-white" >
                    <th class="has-text-centered has-text-weight-light" colspan="1" style="vertical-align: middle;" width="22%" height=100px >
                          <%= wicked_pdf_image_tag 'upri_20.png', style: 'width: 30%;' %>
                    </th>
                    <th class="has-text-weight-light has-text-centered" colspan="2" style="vertical-align: middle;">
                          <span class="is-size-5">UNIVERSITAS PEJUANG REPUBLIK INDONESIA</span><br />
                          <span class="is-size-6">FAKULTAS TEKNIK</span><br />
                          <span class="is-size-5 has-text-weight-bold">BUKTI PEMBAYARAN <%= @payment.kind.upcase %> </span><br />
                          <!-- .variant(resize_to_limit:[100,100]) -->
                    </th>
                    <th colspan="1" class="has-text-centered" style="vertical-align: middle;"  width="10%" height="50px" ><%= image_tag @payment.bank.logo_file.service_url  %></th>
                  </tr>
                  <tr>
                    <th class="has-text-weight-light" colspan="4">
                      <p>Kepada Yth</p>
                      <p>Pimpinan Bank <%= @payment.bank.name.upcase %></p>
                      <p>Harap diterima dan dibukukan setoran <%= @payment.kind.upcase %> Calon Mahasiswa Fakultas Teknik UPRI</p>
                      <p>Ke dalam Rekening Nomor <strong><%= @payment.bank.account_number%></strong></p>
                      <!-- <p><strong>Semester <%#= @payment.academic_year.semester.titleize %> Tahun Akademik <%#= @payment.academic_year.name %></strong> </p> -->
                      <p><strong>Jumlah <%= number_to_currency(@payment.in_number, precision:0, unit:'Rp', separator:'.') %></strong></p>
                    </th>
                  </tr>
                  <tr>
                    <th class="has-text-weight-light has-text-centered" colspan="4">
                      <p class="is-size-5"><strong><%= @payment.in_word.upcase %></strong></p>
                    </th>
                  </tr>
                  <tr>
                    <th class="has-text-weight-light has-text-centered" style="vertical-align: middle;" colspan="2">
                        <%= @payment.barcode_data(xdim: 3).html_safe%>
                    </th>
                    <th class="has-text-weight-light has-text-centered" colspan="1">
                      <p>Tanda Tangan Calon Mahasiswa</p>
                      <br />
                      <br />
                      <p><strong><%= @payment.student.student_profile.nama.titleize %></strong></p>
                      <p class="is-size-7"><strong>NIM  : <%= @payment.student.student_profile.nomor_induk_mahasiswa %></strong></p>
                    </th>
                    <th class="has-text-weight-light has-text-centered" colspan="1">
                      <p>Tanda Tangan Bendahara Fakultas Teknik UPRI Makassar</p>
                      <br />
                      <br />
                      <p></p>
                      <p>(.................................)</p>
                    </th>
                  </tr>
                  <tr>
                    <th class="has-text-weight-light has-text-centered" colspan="5">
                      <p>diprint pada kertas A4, digunting, dan mohon dibubuhkan stempel dan tanda tangan dari petugas</p>
                    </th>
                  </tr>

              </tbody>
            </table>
          </div>
      </div>
      <br />
      <br />
  </div>
  <p>gunting disini...................................................................................................................................................................................................................................................................................................................................................</p>
</div>
