<% if current_user.is_student? %>
    <% if @student.is_active? %>
      <%= render partial: "students/show/students/mahasiswa", student: @student %>
    <% else @student.is_not_active? %>
      <%= render partial: "students/show/students/mahasiswa_baru", student: @student %>
    <% end %>
<% else %>
  <%= render partial: "students/show/#{current_user.type.downcase.pluralize}/show", student: @student %>
<% end %>
