<%= form_for @student, url: student_path(@student), method: :patch do |f| %>
  <% @subjects.each do |subject| %>
    <tr>
        <td><%= check_box_tag :subject_ids, subject.id %></td>
        <td><%= subject.matakuliah %></td>
    </tr>
  <% end %>
  <%= f.submit %>
<% end %>
