research<section class="section">
    <div class="columns">
        <div class="column">
          <%= simple_form_for [@lecture, @research] do |research| %>
            <%#= render 'shared/errors', object: research %>
            <%= research.label :year, "Tahun" %>
            <%= research.input :year,label:false, wrapper: :text_bulma_small %>

            <%= research.label :research, "Judul Penelitian" %>
            <%= research.input :research, label:false, wrapper: :text_bulma_small %>

            <%= research.label :role, "Ketua/Anggota Tim" %>
            <%= research.input :role, collection:["Ketua", "Anggota"],wrapper: :select_bulma_small %>

            <%= research.label :source_funds, "Sumber Dana" %>
            <%= research.input :source_funds, label:false, wrapper: :text_bulma_small %>

            <div class="buttons is-right">
              <%= research.submit "Simpan", class: "button is-success"%>
              <%= link_to "Kembali", lecture_path(@lecture, type:"PENELITIAN"), class: "button is-danger"%>
            </div>
          <% end %>
        </div>
    </div>
</section>
