<%= mahasiswa_profile.input :kategori, collection: Mahasiswa.kategori_list.map{|key, value| [key, value]}, include_blank: "-Pilih-", label: "Kategori Mahasiswa", hint: "Reguler: mahasiswa baru,
                                                                                                                                                                Non Reguler: mahasiswa baru khusus karyawan, Konversi: mahasiswa pindahan status sudah tidak aktif kuliah, Transfer: mahasiswa pindahan status masih aktif kuliah" %>
<%= mahasiswa_profile.input :major_id, collection: Major.select("id, name").where(faculty_id:3), include_blank: "-Pilih-", label: "Program Studi" %>
<%= mahasiswa_profile.input :nama, label: "Nama Lengkap" %>
<%= mahasiswa_profile.input :tempat_lahir %>
<%= mahasiswa_profile.input :tanggal_lahir, as: :date, html5: true, wrapper: :horizontal_form %>
<%= mahasiswa_profile.input :nik, label: "Nomor Induk Keluarga" %>
<%= mahasiswa_profile.input :jenis_kelamin, collection: Mahasiswa.jenis_kelamin_list.map{|key, value| [key, value]}, include_blank: "-Pilih-" %>
<%= mahasiswa_profile.input :religion_id, collection: Religion.select("id, nama as name"), include_blank: "-Pilih-", label: "Agama" %>
<%= mahasiswa_profile.input :live_id, collection: Live.select("id, nama as name"), include_blank: "-Pilih-", label: "Tinggal bersama" %>
<%= mahasiswa_profile.input :transportation_id, collection: Transportation.select("id, nama as name"), include_blank: "-Pilih-", label: "Alat Transportasi" %>
<%= mahasiswa_profile.input :kebutuhan_khusus_mahasiswa_id, collection: SpecialNeed.select("id, nama as name") %>

<%= mahasiswa_profile.input :state_id, as: :hidden, input_html:{value:103} %>
<%= mahasiswa_profile.input :district_id, collection: District.select("id, nama as name").where(id_negara:"ID"), include_blank: "-Pilih-", label: "Kecamatan" %>
<%= mahasiswa_profile.input :kelurahan %>
<%= mahasiswa_profile.input :kode_pos %>
<%= mahasiswa_profile.input :jalan, label: "Alamat Jalan" %>
<%= mahasiswa_profile.input :rt %>
<%= mahasiswa_profile.input :rw %>

<%#= f.input :district_id, collection: D.order(:created_at).includes(:districts).limit(10).map{|x|[x.district.nama, x.district.id]}, include_blank: "-Pilih-", label: "Kecamatan" %>
<%= mahasiswa_profile.input :nik_ayah %>
<%= mahasiswa_profile.input :nama_ayah %>
<%= mahasiswa_profile.input :tanggal_lahir_ayah, as: :date, html5: true, wrapper: :horizontal_form %>
<%= mahasiswa_profile.input :pendidikan_ayah_id, collection: Education.select("id, nama as name"), include_blank: "-Pilih-"  %>
<%= mahasiswa_profile.input :pekerjaan_ayah_id, collection: Job.select("id, nama as name"), include_blank: "-Pilih-"  %>
<%= mahasiswa_profile.input :penghasilan_ayah_id, collection: Income.select("id, nama as name"), include_blank: "-Pilih-"  %>
<%= mahasiswa_profile.input :kebutuhan_khusus_ayah_id, collection: SpecialNeed.select("id, nama as name"), include_blank: "-Pilih-"  %>

<%= mahasiswa_profile.input :nik_ibu %>
<%= mahasiswa_profile.input :nama_ibu %>
<%= mahasiswa_profile.input :tanggal_lahir_ibu, as: :date, html5: true, wrapper: :horizontal_form %>
<%= mahasiswa_profile.input :pendidikan_ibu_id, collection: Education.select("id, nama as name"), include_blank: "-Pilih-"  %>
<%= mahasiswa_profile.input :pekerjaan_ibu_id, collection: Job.select("id, nama as name"), include_blank: "-Pilih-"  %>
<%= mahasiswa_profile.input :penghasilan_ibu_id, collection: Income.select("id, nama as name"), include_blank: "-Pilih-"  %>
<%= mahasiswa_profile.input :kebutuhan_khusus_ibu_id, collection: SpecialNeed.select("id, nama as name"), include_blank: "-Pilih-"  %>

<%= mahasiswa_profile.input :nama_wali %>
<%= mahasiswa_profile.input :tanggal_lahir_wali, as: :date, html5: true, wrapper: :horizontal_form %>
<%= mahasiswa_profile.input :pendidikan_wali_id, collection: Education.select("id, nama as name"), include_blank: "-Pilih-"  %>
<%= mahasiswa_profile.input :pekerjaan_wali_id, collection: Job.select("id, nama as name"), include_blank: "-Pilih-"  %>
<%= mahasiswa_profile.input :penghasilan_wali_id, collection: Income.select("id, nama as name"), include_blank: "-Pilih-"  %>
