<% if params[:type_check] == "graduate" %>
  <%= f.input :stambuk, required: true, autofocus: true, placeholder: "Stambuk Diisi Tanpa Titik, Koma, Atau Spasi" %>
<% elsif params[:type_check] == "lecture" %>
  <%= f.input :nidn, required: true, autofocus: true, placeholder: "NIDN Diisi Tanpa Titik, Koma, Atau Spasi" %>
<% elsif params[:type_check] == "student" %>
  <%= f.input :name, required: true, autofocus: true, placeholder: "Isi Nama Lengkap Anda", label: "Nama Lengkap" %>
<% end %>
