<div id="loginAccordion" data-children=".item">
  <div class="item my-4">
    <a data-toggle="collapse" data-parent="#loginAccordion" href="#loginAccordion1" aria-expanded="true" aria-controls="loginAccordion1">
      <span class="text-info ml-4">Petunjuk Cara Daftar</span>
    </a>
    <div id="loginAccordion1" class="collapse show" role="tabpanel">

      <ul class="list-style">
        <% if params[:type_check] == "graduate" %>
          <li>Siapkan Email Yang Dipastikan masih aktif dan diketahui passwordnya. Satu Email Hanya Berlaku Untuk Satu Stambuk!</li>
          <li>Isi Form Berikut Lalu Tekan Tombol <span class="font-weigth-bold btn-danger">Daftar</span></li>
          <li>Selanjutnya Buka Email, Cari Pada Kotak Masuk Tulisan <span class="font-weight-bold">noreply@upri.ac.id</span>, lalu klik untuk membuka. Pada Bagian Isi Surat, klik tulisan <span class="text-primary">klik disini</span></li>
          <li>Selanjutnya Anda Akan Kembali Ke Halaman Login. Masukkan <span class="font-weight-bold">email</span> Dan <span class="font-weight-bold">password</span> Yang Sudah Anda Buat</li>
        <% elsif params[:type_check] == "student" %>
          <li>Siapkan Email Yang Dipastikan masih aktif dan diketahui passwordnya.</li>
          <li>Siapkan Nomor Ponsel Yang Dipastikan masih aktif dan dapat dihubungi untuk menerima kode otentifikasi.</li>
          <li>Isi Form Berikut Lalu Tekan Tombol <span class="font-weigth-bold btn-danger">Daftar</span></li>
          <li>Anda akan menerima sms kode otentifikasi dan mohon masukkan kode di web</li>
          <li>Setelah Anda berhasil, Anda Dapat Kembali Ke Halaman Login. Masukkan <span class="font-weight-bold">email</span> Dan <span class="font-weight-bold">password</span> Yang Sudah Anda Buat</li>
          <li>Panitia akan segera menghubungi anda pada waktu jam kerja</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
