<div id="loginAccordion" data-children=".item">
  <div class="item my-4">
    <a data-toggle="collapse" data-parent="#loginAccordion" href="#loginAccordion1" aria-expanded="true" aria-controls="loginAccordion1">
      <span class="text-info ml-4">Petunjuk Cara Login</span>
    </a>
    <div id="loginAccordion1" class="collapse show" role="tabpanel">
      <ul class="list-style">
        <li>Siapkan Email Yang Dipastikan masih aktif dan diketahui passwordnya. Satu Email Hanya Berlaku Untuk Satu Stambuk!</li>
        <li>Isi Form Berikut Lalu Tekan Tombol <span class="font-weigth-bold btn-primary">Login</span></li>
        <li>Jika Anda Lupa Password Anda, Klik <span class="font-weight-bold">Lupa Password?</span> Pada Bagian Bawah</li>
      </ul>
    </div>
  </div>
</div>
