<section class="section">
    <div class="columns">
        <div class="column">
            <%= simple_form_for [@lecture, @paper] do |paper| %>
              <%#= render 'shared/errors', object: paper %>
              <%= paper.label :year, "Tahun" %>
              <%= paper.input :year,label:false, wrapper: :text_bulma_small %>

              <%= paper.label :paper, "Judul Makalah/Poster" %>
              <%= paper.input :paper,label:false, wrapper: :text_bulma_small %>

              <%= paper.label :presented_by, "Penyelenggara" %>
              <%= paper.input :presented_by,label:false, wrapper: :text_bulma_small %>


              <div class="buttons is-right">
                <%= paper.submit "Simpan", class: "button is-success"%>
                <%= link_to "Kembali", lecture_path(@lecture, type:"MAKALAH"), class: "button is-danger"%>
              </div>
            <% end %>
        </div>
    </div>
</section>
