<div class="col-sm-4">
    <div class="card">
      <div class="card-body ">
        <%= render partial: "graduates/form/graduate_photo", locals:{graduate_photo: f} %>
      </div>
    </div>
</div>
<div class="col-sm-6">
  <div class="card">
    <div class="card-header">
        <p class="card-title my-auto">Formulir</p>
    </div>
    <div class="card-body">
      <%= render partial: "graduates/form/faculty", locals: {f: f  } %>
      <%= render partial: "graduates/form/major", locals: {f: f } %>
      <%= render partial: "graduates/form/graduate_content", locals: {graduate: f} %>
      <%= f.simple_fields_for :address do |address| %>
        <%= render partial: "graduates/form/address_content", locals: {f: f , address: address} %>
      <% end %>
      <%= f.simple_fields_for :graduate_profile do |graduate_profile| %>
        <%= render partial: "graduates/form/graduate_profile_content", locals: {f: f, graduate_profile: graduate_profile} %>
      <% end %>
      <%= f.simple_fields_for :essay do |essay| %>
        <%= render partial: "graduates/form/essay_content", locals: {f: f, essay: essay} %>
      <% end %>
      <%= render partial: "graduates/form/lecture_1", locals: {lecture_1: f} %>
      <%= render partial: "graduates/form/lecture_2", locals: {lecture_2: f} %>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <div class="card justify-content-center">
    <%= f.submit "Simpan", class: " btn btn-primary", title:"Simpan", data: {toggle:"popover"} %>
    <%= link_to icon_out(""), root_path, class: "btn btn-danger", title:"Kembali", data: {toggle:"popover"}  %>
  </div>
</div>
