<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
            <%= form_tag buku_path, method: :get, class: "m-2"  do %>
            <div class="form-inline">
                <%= label_tag :fakultas_wisudawan, "Fakultas"%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= select_tag :fakultas_wisudawan, options_from_collection_for_select(Faculty.order(:id), :id, :name, params[:fakultas_wisudawan]), {include_blank: "Semua Fakultas", class:"form-control col-3"} %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= label_tag :fakultas_wisudawan, "Program Studi"%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= select_tag(:program_studi_wisudawan, options_from_collection_for_select(Major.order(:faculty_id), :id, :name, params[:program_studi_wisudawan]), {include_blank: "Semua Program Studi", class:"form-control col-3"}) %>
            </div>
            <hr />
            <div class="form-inline">
                <%= label_tag :limit, "Jumlah Foto Per Halaman"%>&nbsp;&nbsp;&nbsp;&nbsp;
                <%= text_field_tag :limit, "#{params[:limit]}",placeholder: 10, class: "form-control col-3" %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= label_tag :page_size, "Jenis Kertas" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= select_tag :page_size, options_for_select(["legal", "letter", "folio", "A3"], selected: params[:papersize] || "legal"), class: "form-control col-3" %>
            </div>
            <hr />
            <div class="form-inline">
                <p>Pilih Halaman</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= paginate @graduates, :fakultas_wisudawan => params[:fakultas_wisudawan], :program_studi_wisudawan => params[:program_studi_wisudawan], page: params[:page], page_size: params[:papersize] %>
            </div>
            <hr />
            <div class="form-inline ">
              <%= submit_tag "Atur Sekarang", name:nil, class: "btn btn-success" %>
            </div>
            <%end %>
        </div>
        <div class="card-body">
          <%= render partial: "graduates/table/buku_table" %>
        </div>
        <div class="card-footer text-right">
          <p> <%= link_to icon_pdf("  Cetak Kertas"), buku_path(@graduates,:format => :pdf, page: params[:page], :fakultas_wisudawan => params[:fakultas_wisudawan], :program_studi_wisudawan => params[:program_studi_wisudawan], limit: params[:limit], page_size: params[:papersize]), :target => "_blank", class: "btn btn-success" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
