<%= simple_nested_form_for @graduate, url: graduate_path(@graduate), method: :patch do |f| %>
<div class="container-fluid mb-5">
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div class="card-img-top center ">
            <%= image_tag set_image_resource(@graduate), :size => "151x201", class:"img-thumbnail" %><br />
          </div>
          <div class="card-body text-center">
            <small><%= @graduate.name  rescue nil %></small><br />
            <small><%= @graduate.phone  rescue nil %></small><br />
            <small><%= @graduate.faculty.name rescue nil %></small><br />
            <small>Program Studi&nbsp;<%= @graduate.major.name rescue nil%></small>
          </div>
          <div class="card-body d-flex justify-content-center">
            <label class="btn btn-primary">
              Upload Foto
              <span style="display:none;">
                <%= f.input :image, as: :hidden, input_html:{value:@graduate.cached_image_data } %>
                <%= f.input_field :image, as: :file, class: "btn btn-success" %>
              </span>
            </label>
          </div>
        </div>

        <div class="card-body">
          <%= render partial: "graduates/form/graduate_blangko", locals: {graduate_blangko: f} %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <%= render partial: "graduates/form/faculty", locals: {f: f  } %>
          <%= render partial: "graduates/form/major", locals: {f: f } %>
          <%= render partial: "graduates/form/graduate_content", locals: {graduate: f} %>
          <%= f.simple_fields_for :address do |address| %>
            <%= render partial: "graduates/form/address_content", locals: {f: f , address: address} %>
          <% end %>
          <%= f.simple_fields_for :graduate_profile do |graduate_profile| %>
            <%= render partial: "graduates/form/graduate_profile_content", locals: {f: f, graduate_profile: graduate_profile} %>
          <%end %>
          <%= f.simple_fields_for :essay do |essay| %>
            <%= render partial: "graduates/form/essay_content", locals: {f: f, essay: essay} %>
          <% end %>
          <%= render partial: "graduates/form/lecture_1", locals: {lecture_1: f} %>
          <%= render partial: "graduates/form/lecture_2", locals: {lecture_2: f} %>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <%= f.submit "Simpan", class: " btn btn-primary", title:"Simpan", data: {toggle:"popover"} %>
          <%= link_to icon_out(""), root_path, class: "btn btn-danger", title:"Kembali", data: {toggle:"popover"}  %>
        </div>
      </div>

    </div>
  </div>
</div>
<% end %>
