<%= simple_nested_form_for @graduate, url: graduate_path(@graduate), method: :patch do |f| %>
<div class="container-fluid mb-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card-deck mb-3">
        <div class="card">
          <div class="card-body">
            <%= render partial: "graduates/form/faculty", locals: {f: f  } %>
            <%= render partial: "graduates/form/major", locals: {f: f } %>
            <%= render partial: "graduates/form/graduate_content", locals: {graduate: f} %>
            <%= f.simple_fields_for :address do |address| %>
              <%= render partial: "graduates/form/address_content", locals: {f: f , address: address} %>
            <% end %>
            <%= f.simple_fields_for :graduate_profile do |graduate_profile| %>
              <%= render partial: "graduates/form/graduate_profile_content", locals: {f: f, graduate_profile: graduate_profile} %>
            <%end %>
            <%= f.simple_fields_for :essay do |essay| %>
              <%= render partial: "graduates/form/essay_content", locals: {f: f, essay: essay} %>
            <% end %>
            <%= render partial: "graduates/form/lecture_1", locals: {lecture_1: f} %>
            <%= render partial: "graduates/form/lecture_2", locals: {lecture_2: f} %>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="center ">
              <%#= image_tag @graduate.identity.file_identity_url, :size => "151x201", class:"img-thumbnail" %><br />
            </div>
            <div >
              <small class="mr-auto">Catatan:</small><br />
              <small class="mr-auto">1. Pasfoto Tidak Lebih Dari 300 KB format PNG/JPG/JPEG, Berpakaian Jas Hitam Dan Kemeja Putih Lengan Panjang Dan Latar Merah.</small><br />
              <small class="mr-auto">2. Scan blanko bukti pembayaran ukuran maksimal 1MB format *.png, </small><br />
              <small class="mr-auto">3. Siapkan 1 file dokumen skripsi/tugas akhir lengkap tidak terpisah format *.doc, ukuran maksimal 3MB</small><br />
            </div>
            <div>
              <table class="table table-bordered table-responsive{-sm|-md|-lg|-xl}">
                <thead>
                  <tr>
                    <th colspan="4" class="text-center">Kartu Kendali</th>
                  </tr>
                  <tr>
                    <th class="text-center">Foto</th>
                    <th class="text-center">Blanko Yudisium</th>
                    <th class="text-center">Skripsi(doc)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">
                      <% @graduate.identities.each do |identity| %>
                        <%= render partial: "identity", locals:{ identity: identity} %>
                      <% end %>
                    </td>
                    <td class="text-center">
                      <%# if @graduate.payment_forms.any? %>
                      <%# @graduate.payment_forms.each do |payment| %>
                        <%#= render partial: "payment", locals:{ payment: payment} %>
                      <%# end %>
                      <%# end %>
                    </td>
                    <td class="text-center">
                      <% @graduate.documents.each do |document| %>
                        <% if document.any? %>
                          <%= icon_check('') %>
                        <% else %>

                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div id= tasks>
                        <%= f.simple_fields_for :identities do |identity| %>
                          <%= render partial: "graduates/form/identity_content", locals: {f: f, identity: identity} %>
                        <% end %>
                      </div>

                    </td>
                    <td class="text-center"><%= link_to "upload", "#", class: "btn btn-warning btn-sm"  %></td>
                    <td class="text-center"><%= link_to "upload", "#", class: "btn btn-danger btn-sm"  %></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <%#= render partial: "graduates/form/graduate_blangko", locals: {graduate_blangko: f} %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <%= f.submit "Simpan", class: " btn btn-primary btn-lg", title:"Simpan", data: {toggle:"popover"} %>
      </div>
    </div>
  </div>
</div>
<% end %>
