<%= simple_nested_form_for @graduate, url: graduate_path(@graduate), method: :patch do |f| %>
<div class="container-fluid mb-5">
  <div class="row justify-content-center">
    <%= render partial: 'form', locals:{f: f} %>
  </div>
</div>
<% end %>
