<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @graduates.each_with_index do |graduate, i| %>
    <div class="carousel-item #{active if i==0} ">
      <div class="carousel-caption d-none d-md-block">
          <h4><%= graduate.name rescue nil  %></h4>
          <h4><%= graduate.birth_place rescue nil  %>, <%= graduate.birth_date rescue nil  %></h4>
          <h4><%= graduate.religion rescue nil  %></h4>
          <h4><%= graduate.tribe rescue nil %>/<%= graduate.nation rescue nil  %></h4>
          <h4><%= graduate.address rescue nil  %></h4>
          <h4><%= graduate.faculty_field.faculty rescue nil  %><br />
          <h4><%= graduate.graduate_profile.yudisium_date rescue nil  %></h4>
          <h4><%= graduate.graduate_profile.alumni_number rescue nil  %></h4>
          <h4><%= graduate.graduate_profile.ipk rescue nil %></h4>
          <h4><%= graduate.graduate_profile.predicet_of_graduate rescue nil %></h4>
          <h4><%= graduate.essay.title rescue nil  %></h4>
      </div>
    </div>
    <% end %>
  </div>

  <ol class="carousel-indicators">
    <% @graduates.each_with_index do |graduate, n| %>
    <li data-target="#carouselExampleIndicators" data-slide-to="#{n}" class="#{active if n==0}"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="#{n}"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="#{n}"></li>
    <% end %>
  </ol>


  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
