<div class="container">
  <div class="row ">
          <div class="col-sm-12">
            <div class='d-flex align-items-start'>
              <%= link_to "< Back", root_path %>
            </div>
          </div>
        <% if @graduates.blank? && @graduate_profiles.blank? %>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h3 class="lead">Belum Ada Data</h3>
              </div>
            </div>
          </div>
        <% else %>
          <% @graduates.each do |graduate| %>
          <div class="card-deck">

              <div class="card w-50">
                <div class="card-body">
                  <div align="center" >
                    <%= image_tag set_image_resource(graduate), :size => "302x402" %>
                  </div>
                </div>
              </div>
              <div class="card w-50">
                <div class="card-body">
                  <table class="table galery_letter">
                    <tr>
                      <td>Nama</td><td>:</td><td><%= graduate.name rescue nil %></td>
                    </tr>
                    <tr>
                      <td>Stambuk</td><td>:</td><td><%= graduate.stambuk rescue nil%></td>
                    </tr>
                    <tr>
                      <td>Tempat,Tanggal Lahir</td><td>:</td><td><%= graduate.birth_place rescue nil %>, <%= l graduate.birth_date, format: :default rescue nil %></td>
                    </tr>
                    <tr>
                      <td>Program Studi</td><td>:</td><td><%= graduate.major.name rescue nil %></td>
                    </tr>

                    <tr>
                      <td>Tanggal Yudisium</td><td>:</td><td><%= l graduate.graduate_profile.yudisium_date, format: :default rescue nil %></td>
                    </tr>
                    <tr>
                      <td>Nilai IPK</td><td>:</td><td><%= graduate.graduate_profile.ipk rescue nil %></td>
                    </tr>
                    <tr>
                      <td>Predikat Kelulusan</td><td>:</td><td><%= graduate.graduate_profile.predicet_of_graduate rescue nil %></td>
                    </tr>
                    <tr>
                      <td>Judul Skripsi</td><td>:</td><td><%= graduate.essay.title rescue nil %></td>
                    </tr>
                  </table>
                </div>
              </div>

            <% end %>
          </div>

</div>
<div class="row">
          <div class="col-sm-12">
            <div class='d-flex justify-content-center'>
              <%= paginate @graduates %>
            </div>
          </div>
        <% end %>
</div>
</div>
