<%= simple_nested_form_for @graduate do |f|  %>
<div class="container-fluid mb-5">
  <div class="row justify-content-center">
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body ">
            <%= render partial: "graduates/form/graduate_photo", locals:{graduate_photo: f} %>
          </div>
          <div class="card-body ">
            <%= render partial: "graduates/form/graduate_blangko", locals:{graduate_blangko: f} %>
          </div>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
            <p class="card-title my-auto">Formulir</p>
        </div>
        <div class="card-body">
          <%= f.input :faculty_id, collection: @faculties.map{|x| [x.name, x.id]}, label: "Fakultas" %>
          <%= f.input :major_id, collection: @majors.map{|x| [x.name, x.id]}, label: "Program Studi" %>
          <%= render partial: "graduates/form/graduate_content", locals: {graduate: f} %>
          <%= f.simple_fields_for :address do |address| %>
            <%= render partial: "graduates/form/address_content", locals: {f: f , address: address} %>
          <% end %>
          <%= f.simple_fields_for :graduate_profile do |graduate_profile| %>
            <%= render partial: "graduates/form/graduate_profile_content", locals: {f: f, graduate_profile: graduate_profile} %>
          <% end %>
          <%= f.simple_fields_for :essay do |essay| %>
            <%= render partial: "graduates/form/essay_content", locals: {f: f, essay: essay} %>
          <% end %>
          <%= f.input :dummy_lecture_1_id, collection: DummyLecture.order("major_id asc").map{|x| [x.pembimbing_1, x.id]},label: "Pembimbing II, kosongkan saja dahulu bila tidak ada, dan laporkan", placeholder: "kosongkan saja dahulu bila tidak ada, dan laporkan" %>
          <%= f.input :dummy_lecture_2_id, collection: DummyLecture.order("major_id asc").map{|x| [x.pembimbing_2, x.id]},label: "Pembimbing II, kosongkan saja dahulu bila tidak ada, dan laporkan", placeholder: "kosongkan saja dahulu bila tidak ada, dan laporkan" %>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <%= f.submit "Simpan", class: " btn btn-primary", title:"Simpan", data: {toggle:"popover"} %>
          <%= link_to icon_out(""), root_path, class: "btn btn-danger", title:"Kembali", data: {toggle:"popover"}  %>
        </div>
      </div>
    </div>

  </div>
</div>
<% end %>
