<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card mb-5">
          <div class="card-header ">
                <%= form_tag wisudawan_path, method: :get do %>
                <div class="form-row my-auto">
                    <div class="col-xs-10 col-sm-2 col-md-2 col-lg-2 col-xl-2 ">
                      <%= select_tag(:fakultas_wisudawan, options_from_collection_for_select(Faculty.all, :id, :name, params[:fakultas_wisudawan]), {include_blank: "Semua Fakultas", class:"form-control"}) %>
                    </div>
                    <div class="col-xs-10 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                      <%= select_tag(:program_studi_wisudawan, options_from_collection_for_select(Major.all, :id, :name, params[:program_studi_wisudawan]), {include_blank: "Semua Program Studi", class:"form-control"}) %>
                    </div>
                    <div class="col-xs-10 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                      <%= text_field_tag :nama_email_stambuk, params[:nama_email_stambuk], placeholder: "Nama atau Stambuk atau Email", class: "form-control"  %>
                    </div>
                    <div class="col-xs-10 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                    <%= submit_tag "Cari", name:nil, class: "btn btn-primary" %>
                    </div>
                </div>
                <% end %>
          </div>

        <% if @graduates.nil? %>
          <div class="card-body">
            <h3 class="lead">Belum Ada Data</h3>
          </div>
        <% else %>
          <div class="card-body">

            <%= render partial: "graduates/table/mahasiswa_table" %>
          </div>
          <div class="card-footer d-flex my-auto justify-content-between">
              <%= form_tag import_graduates_path, multipart: true do %>
                  <%= link_to icon_excel(""), semua_path(format: "csv") %>
                  <%#= link_to icon_excel(""), request.parameters.merge({format: "csv"}) %>
              <% end %>
              <%= link_to icon_pdf(""), semua_path(@graduates, :format => :pdf, page: params[:page]) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
