<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <% unless @graduates && @graduate_profile %>
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <table class="table">

              <tr>
                <td>Nama</td><td>:</td><td><%= @graduate.name.titleize rescue nil%></td>
              </tr>
              <tr>
                <td>Stambuk</td><td>:</td><td><%= @graduate.stambuk rescue nil %></td>
              </tr>
              <tr>
                <td>Tempat,Tanggal Lahir</td><td>:</td><td><%= @graduate.birth_place rescue nil %>, <%= l @graduate.birth_date, format: :default rescue nil%></td>
              </tr>
              <tr>
                <td>Agama</td><td>:</td><td><%= @graduate.religion.titleize rescue nil %></td>
              </tr>
              <tr>
                <td>Alamat</td><td>:</td><td><%= @graduate.address.street.titleize rescue nil %></td>
              </tr>
              <% if current_user %>
              <% if current_user.is_staf? || @graduate.id == current_user.id %>
              <tr>
                <td>Handphone</td><td>:</td><td><%= @graduate.phone_number rescue nil %></td>
              </tr>
              <% end %>
              <% end %>
              <tr>
                <td>Email</td><td>:</td><td><%= @graduate.email rescue nil %></td>
              </tr>
              <tr>
                <td>Fakultas</td><td>:</td><td><%= @graduate.faculty.name  rescue nil %></td>
              </tr>
              <tr>
                <td>Program Studi</td><td>:</td><td><%= @graduate.major.name  rescue nil %></td>
              </tr>

              <tr>
                <td>Judul Skripsi</td><td>:</td><td><%= @graduate.essay.title rescue nil %></td>
              </tr>
              <tr>
                <td>Pembimbing I</td><td>:</td><td><%= @graduate.dummy_lecture_1.nama.titleize rescue nil %></td>
              </tr>
              <tr>
                <td>Pembimbing II</td><td>:</td><td><%= @graduate.dummy_lecture_2.nama.titleize rescue nil %></td>
              </tr>

              <tr>
                <td>Tanggal Yudisium (diisi oleh staf fakultas)</td><td>:</td><td><%= l @graduate.graduate_profile.yudisium_date, format: :default rescue nil %></td>
              </tr>
              <tr>
                <td>SK Yudisium (diisi oleh staf fakultas)</td><td>:</td><td><%= @graduate.graduate_profile.yudisium_letter rescue nil %></td>
              </tr>
              <tr>
                <td>Nilai IPK (diisi oleh staf fakultas)</td><td>:</td><td><%= @graduate.graduate_profile.ipk rescue nil %></td>
              </tr>
              <tr>
                <td>Predikat Kelulusan (diisi oleh staf fakultas)</td><td>:</td><td><%= @graduate.graduate_profile.predicet_of_yudisium rescue nil %></td>
              </tr>


            </table>
          </div>
        </div>
        <div class="card">
          <div class="card-body">

            <div  class="justify-content-center">
                <% @graduate.identities.each do |pasfoto| %>
                  <%= render partial: "graduate_foto", locals:{ pasfoto: pasfoto} %>
                <% end %>
            </div>
            <div class="justify-content-center">
              <table class="table table-bordered center">
                <thead>
                  <tr>
                    <th colspan="4" class="text-center">Kartu Kendali</th>
                  </tr>
                  <tr>
                    <th class="text-center">Foto</th>
                    <th class="text-center">Blanko Yudisium</th>
                    <th class="text-center">Skripsi(doc)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center"><%= icon_check('') %></td>
                    <td class="text-center"><%= icon_check('') %></td>
                    <td class="text-center"><%= icon_times('') %></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="card mb-5">
        <div class="card-body">
          <% if current_user %>
            <% if current_user.is_graduate? && @graduate.id == current_user.id %>
                <%= link_to icon_out(""), root_path, class: "btn btn-danger float-right ml-2", title:"Kembali", data: {toggle:"popover"}  %>
                <%= link_to icon_edit(""), edit_graduate_path(id: current_user.id), class: "btn btn-primary float-right", title:"Edit", data: {toggle:"popover"}  %>
            <% end %>
            <% if current_user.is_staf?  %>
                <%= link_to icon_edit(""), edit_formulir_graduate_path(@graduate), class: "btn btn-info", title:"Edit Data", data: {toggle:"popover"} %>
                <%= link_to icon_plane(""), send_token_email_graduate_path(@graduate), class: "btn btn-success", title:"Email Token", data: {toggle:"popover"} %>
                <%= link_to icon_out(""), wisudawan_path, class: "btn btn-danger ", title:"Kembali", data: {toggle:"popover"}  %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% else %>
      <div class="card">
        <div class="card-body">
          <h3 class="lead">Maaf Data Tidak Ada, Silahkan Mengisi Data Pada Menu "Isi Formulir"</h3>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
