<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-xs-12">
      <div class="card mb-5">
        <div class="card-header">
          <div class="d-flex">

            <%= form_tag token_path, method: :get do %>
              <div class="col-auto">
                <div class="input-group mb-2 mb-sm-0">
                  <%= text_field_tag :nama_email_stambuk, params[:nama_email_stambuk], placeholder: "Nama atau Stambuk atau Email", class: "form-control"  %>
                  <%= submit_tag "Cari", name:nil, class: "input-group-addon btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <% if @graduates.nil? %>
          <div class="card-body">
            <h3 class="lead">Belum Ada Data</h3>
          </div>
        <% else %>
          <div class="card-body">

            <%= render partial: "graduates/table/staff_table" %>
          </div>
          <div class="card-footer ">
            <div class="d-flex justify-content-center">
              <%= paginate @graduates %>
            </div>
            <%#= link_to "Cetak Buku", "#", class:"btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
