<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="cli-sm-12 mb-5">
      <div class="card">
        <div class="card-body">
          
          <h3>Halo Calon Wisudawan Teknik 2018</h3><br />
            <ol >
            <% unless current_user.is_phone_verified? %>
              <li class="mb-2">Anda perlu mengaktivasi akun anda dengan memasukkan nomor handphone yang masih aktif  <%= link_to "klik aktivasi handphone", new_authenticate_phone_path, class: "badge badge-danger text-white" %></li>
            <% end %>
              <li class="mb-2">Siapkan 1 file phasfoto ukuran maksimal 300KB format *.png</li>
              <li class="mb-2">Siapkan 1 file blanko bukti pembayaran ukuran maksimal 1MB format *.png</li>
              <li class="mb-2">Siapkan 1 file dokumen skripsi/tugas akhir lengkap tidak terpisah, ukuran maksimal 3MB yang umumnya terdiri dari :</li>
              <dl class="mb-2">Sampul</dl>
              <dl class="mb-2">Kata Pengantar</dl>
              <dl class="mb-2">Daftar Isi</dl>
              <dl class="mb-2">Daftar Tabel</dl>
              <dl class="mb-2">Daftar Gambar
              <dl class="mb-2">BAB I</dl>
              <dl class="mb-2">BAB II</dl>
              <dl class="mb-2">BAB III</dl>
              <dl class="mb-2">BAB IV</dl>
              <dl class="mb-2">BAB V</dl>
              <dl class="mb-2">Daftar Pustaka</dl>
              <li class="mb-2">Anda perlu mengisi dengan benar biodata wisudawan, <%= link_to "klik menu Biodata", edit_graduate_path(current_user), class: "badge badge-success text-white" %></li>
              <li class="mb-2">Batas akhir pengisian formulir wisuda online sampai tanggal yudisium Fakultas Teknik UPRI</li>
              <li class="mb-2">Anda sewaktu waktu dapat login kembali untuk mengedit formulir ataupun mengunggah berkas yang diminta oleh Fakultas Teknik UPRI hingga batas waktu pengisian formulir</li>
            </ol>
        </div>
      </div>
    </div>
  </div>
</div>
