<section class="main-content columns is-fullheight">
  <aside class="column is-3 is-narrow is-fullheight section">
    <p class="menu-label">
      petunjuk pengisian formulir
    </p>
    <ul class="menu-list">
      <li><a class="has-text-primary">Formulir dan lampiran </a></li>
      <li>
        <ul class="menu-list">
          <li>
            <a>Isi formulir dengan sebenarnya</a>
          </li>
          <li><a>Print formulir dikertas ukuran A4, 1 lembar</a></li>
          <li>
            <a>Lampirkan juga:</a>
            <ul >
              <li><a class="has-text-link">Phasfoto warna 3x4, 2 lbr</a></li>
              <li><a class="has-text-link">Fotokopi Ijazah legalisir, 1 lbr</a></li>
              <li><a class="has-text-link">Fotokopi Transkrip nilai legalisir, 1 lbr</a></li>
              <li><a class="has-text-link">Fotokopi Kartu Keluarga, 1 lbr</a></li>
              <li><a class="has-text-link">Fotokopi Kartu Tanda Penduduk, 1 lbr</a></li>
            </ul>
          </li>

        </ul >
      </li>
      <li><a class="has-text-primary">Formulir dan lampiran dibawa dalam 1 map tertutup ke Fakultas Teknik UPRI makassar</a></li>
      <li><a class="has-text-primary">Biaya pendaftaran sebesar Rp 350.000 langsung dibayar ke Bendahara Fakultas Teknik UPRI makassar</a></li>
    </ul>
  </aside>

  <div class="container column is-9">
    <div class="section">

      <div class="card">
        <div class="card-header"><p class="card-header-title">Formulir Pendaftaran</p></div>
        <div class="card-content">
          <div class="content">
            <%= simple_form_for @candidate_student do |candidate| %>
              <div class="container">
                <div class="columns">
                  <div class="column">
                    <p>Program Kuliah</p>
                  </div>
                </div>

                <div class="columns">
                    <div class="column">
                      <%= candidate.input :class_plan, collection: CandidateStudent.class_plan_list ,wrapper: "select_plan4", include_blank: "-Pilih program kuliah-" %>
                    </div>
                    <div class="column">
                      <%= candidate.input :major_1, collection: CandidateStudent.prodi_list, label: "Pilihan 1" , wrapper: "input_plan4", include_blank: "-Pilihan pertama-"%>
                    </div>
                    <div class="column">
                      <%= candidate.input :major_2, collection: CandidateStudent.prodi_list, label: "Pilihan 2" , wrapper: "input_plan4", include_blank: "-Pilihan kedua-"%>
                    </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <p>Data identitas diri</p>
                  </div>
                </div>
                <div class="columns">
                    <div class="column is-narrow is-6">
                      <%= candidate.input :name, placeholder:"-Nama lengkap anda-",wrapper: "input_small" %>
                    </div>
                    <div class="column is-6">
                      <%= candidate.input :gender, collection: CandidateStudent.gender_list, wrapper: "select_plan6", include_blank: "-Jenis kelamin-" %>
                    </div>

                </div>

                <div class="columns">
                    <div class="column is-narrow is-4">
                      <%= candidate.input :birth_place, placeholder:"-Tempat lahir-",wrapper: "input_small" %>
                    </div>
                    <div class="column is-4">
                      <%= candidate.input :birth_date, wrapper: "date" %>
                    </div>

                </div>



                <div class="columns">
                  <div class="column">
                    <p>Alamat</p>
                  </div>
                </div>
                <div class="columns">
                    <div class="column is-6">
                      <%= candidate.input :street_address, wrapper: "input_small", label: "Jalan", placeholder:"-Nama jalan-" %>
                    </div>
                    <div class="column is-1">
                      <%= candidate.input :neighbourhood, wrapper: "input_small", label: "RT" %>
                    </div>
                    <div class="column is-1">
                      <%= candidate.input :hamlet, wrapper: "input_small", label: "RW" %>
                    </div>
                    <div class="column is-4">
                      <%= candidate.input :phone_number, wrapper: "input_small", label: "No Handphone" %>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                      <%= candidate.input :district, wrapper: "input_small", label: "Kabupaten" %>
                    </div>
                    <div class="column">
                      <%= candidate.input :province, wrapper: "input_small", label: "Propinsi" %>
                    </div>
                    <div class="column">
                      <%= candidate.input :postal_code, wrapper: "input_small", label: "Kodepos" %>
                    </div>

                </div>
                <div class="columns">
                  <div class="column">
                    <p>Data sekolah asal (SMU sederajat)</p>
                  </div>
                </div>
                <div class="columns">
                    <div class="column">
                      <%= candidate.input :school, placeholder: "-Nama sekolah-", wrapper: "input_small" %>
                    </div>
                    <div class="column">
                      <%= candidate.input :school_address, placeholder: "-Alamat sekolah-", wrapper: "input_small" %>
                    </div>
                    <div class="column">
                        <%= candidate.input :school_plan, collection: CandidateStudent.school_plan_list, wrapper: "input_small", include_blank: "Jurusan Sekolah" %>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-4">
                      <%= candidate.input :sertificate_number, wrapper: "input_small", label: "Ijazah Nomor" %>
                    </div>
                    <div class="column is-8">
                      <%= candidate.input :sertificate_date, wrapper: "input_small", label: "Tanggal Ijazah" %>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-4">
                      <%= candidate.input :nisn, wrapper: "input_small", label: "NISN" %>
                    </div>
                    <div class="column is-8">
                      <%= candidate.input :national_exam_score, wrapper: "input_small", label: "Nilai UN" %>
                    </div>
                </div>

                <div class="columns">
                  <div class="column">
                    <p>Data Ayah</p>
                  </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <%= candidate.input :father_name, placeholder: "-Nama ayah-" , wrapper: "input_small"%>
                  </div>
                </div>
                <div class="columns">
                    <div class="column">
                      <%= candidate.input :father_job, label: false, collection: CandidateStudent.job_list, wrapper: "select_plan2", include_blank: "-Pekerjaan-" %>
                    </div>
                    <div class="column">
                      <%= candidate.input :father_salary, label: false, collection: CandidateStudent.salary_list, wrapper: "select_plan2", include_blank: "-Penghasilan-" %>
                    </div>
                    <div class="column">
                      <%= candidate.input :father_education, label: false , collection: CandidateStudent.education_list, wrapper: "select_plan2", include_blank: "-Pendidikan-" %>
                    </div>
                </div>

                <div class="columns">
                  <div class="column">
                    <p>Data Ibu</p>
                  </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <%= candidate.input :mother_name, placeholder: "-Nama ibu-" , wrapper: "input_small"%>
                  </div>
                </div>
                <div class="columns">
                    <div class="column">
                      <%= candidate.input :mother_job, label: false , collection: CandidateStudent.job_list, wrapper: "select_plan2", include_blank: "-Pekerjaan-" %>
                    </div>
                    <div class="column">
                      <%= candidate.input :mother_salary, label:  false , collection: CandidateStudent.salary_list, wrapper: "select_plan2", include_blank: "-Penghasilan-" %>
                    </div>
                    <div class="column">
                      <%= candidate.input :mother_education, label: false , collection: CandidateStudent.education_list, wrapper: "select_plan2", include_blank: "-Pendidikan-" %>
                    </div>
                </div>

                <div class="columns">
                  <div class="column">
                    <p>Info UPRI dari</p>
                  </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <%= candidate.input :know_from, label: false , collection: CandidateStudent.know_from_list, wrapper: "inline_input_dominico_small", include_blank: false %>
                  </div>

                </div>
                <div class="columns">
                  <div class="column">
                    <%= candidate.input :referral, label: "Nama Pengantar",placeholder: "-Nama pengantar anda ke UPRI-", wrapper: "input_small" %>
                  </div>
                  <div class="column">
                    <%= candidate.input :email, label: "Kirimkan Formulir Ini Ke Email Saya ", placeholder: "-Email saya-", wrapper: "input_small" %>
                  </div>
                </div>
                <div class="columns">
                    <div class="column">
                      <%= recaptcha_tags %>
                    </div>
                </div>
                <div class="columns ">
                    <div class="column ">
                      <div class="buttons is-right">
                        <%= candidate.button :submit,"Simpan", class:"button is-info" %>
                        <%= link_to "Batal", root_path, class:"button is-danger" %>
                      </div>

                    </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# :registration_number,
:academic_year_id,
:approve %>
