<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <table class="table is-fullwidth is-hoverable ">

        </table>
        </div>
      </div>

  </div>
</section>
