<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      BUAT PEMBAYARAN
    </div>
  </div>
  <div class="card-content">
    <%= simple_form_for @bank, wrapper: :default do |f| %>
      <%= render 'shared/errors', object: @bank %>
      <%= f.error_notification %>
        <%= f.input :name, label: false, placeholder: "--Nama Bank--", wrapper: :text_bulma_small %>
        <%= f.input :code, label: false, placeholder: "--Kode Bank--", wrapper: :text_bulma_small %>
        <%= f.input :account_name, label: false, placeholder: "--Nama Akun--", wrapper: :text_bulma_small %>
        <%= f.input :account_number, label: false, placeholder: "--Nomor Akun--", wrapper: :text_bulma_small %>
        <% if params[:action]=="edit" %>
          <% if @bank.logo_file.attached? %>
            <% if @bank.logo_file.previewable? %>
              <%= link_to(image_tag(@bank.logo_file.preview(resize: "100x100")), rails_blob_path(@bank.logo_file, disposition: "attachment")) %>
            <% elsif @bank.logo_file.variable? %>
              <%= link_to(image_tag(@bank.logo_file.variant(resize: "100x100")), rails_blob_path(@bank.logo_file, dispotision: "attachment")) %>
            <% end %>
          <% end %>
        <% end %>

        <%= f.input :logo_file, as: :file , input_html:{direct_upload: true},  wrapper: :default%>
      <div class="buttons is-right">
        <%= f.button :submit, class:"button is-success is-small" %>
        <%= link_to "Kembali", banks_path, class:"button is-danger is-small" %>
      </div>
    <% end %>
  </div>
</div>
