<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      DAFTAR BANK
    </div>
    <div class="card-header-icon">
        <%= link_to '+ Bank', new_bank_path, class:'button is-success is-small' %>
    </div>
  </div>
  <div class="card-content">
    <table class="table is-striped is-hover is-fullwidth">
      <thead>
        <tr>
          <th>ID</th>
          <th>Logo</th>
          <th class="has-text-centered">Bank</th>
          <th>Nama Akun</th>
          <th>Nomor Akun</th>
          <th></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @banks.each do |bank| %>

          <tr >
            <td style="vertical-align:middle;"><%= bank.id %></td>
            <td style="vertical-align:middle;">
              <% if bank.logo_file.attached? %>
                <% if bank.logo_file.previewable? %>
                  <%= link_to(image_tag(bank.logo_file.preview(resize: "100x100")), rails_blob_path(bank.logo_file, disposition: "attachment")) %>
                <% elsif bank.logo_file.variable? %>
                  <%= link_to(image_tag(bank.logo_file.variant(resize: "100x100")), rails_blob_path(bank.logo_file, dispotision: "attachment")) %>
                <% else %>
                  <%= link_to icon_download(''), rails_blob_path(bank.logo_file, disposition: "attachment") %>
                <% end %>
              <% end %>

              <%#= image_tag bank.logo_file.previewable(resize_to_limit:[100,100]) if bank.logo_file.attached? %>
            </td>
            <td style="vertical-align:middle;"><%= bank.name %></td>
            <td style="vertical-align:middle;"><%= bank.account_name %></td>
            <td style="vertical-align:middle;"><%= bank.account_number %></td>
            <td style="vertical-align:middle;"><%= link_to 'Detail', bank %></td>
            <td style="vertical-align:middle;"><%= link_to 'Edit', edit_bank_path(bank) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
