<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      <%= @bank.name %>&nbsp;<%= @bank.code %>
    </div>
  </div>
  <div class="card-content">
    <% if @bank.logo_file.attached? %>
      <% if @bank.logo_file.previewable? %>
        <%= link_to(image_tag(@bank.logo_file.preview(resize: "100x100")), rails_blob_path(@bank.logo_file, disposition: "attachment")) %>
      <% elsif @bank.logo_file.variable? %>
        <%= link_to(image_tag(@bank.logo_file.variant(resize: "100x100")), rails_blob_path(@bank.logo_file, dispotision: "attachment")) %>
        <% else @bank.logo_file.attached? %>
          <%= link_to icon_download(''), rails_blob_path(@bank.logo_file, disposition: "attachment") %>
        <% end %>
    <% end %>
    <p>
      <strong>Nama Akun:</strong>
      <%= @bank.account_name %>
    </p>
    <p>
      <strong>Nomor Akun:</strong>
      <%= number_with_precision(@bank.account_number, precision: 0) rescue nil %>
    </p>
    <div class="buttons is-right">
      <%= link_to 'Edit', edit_bank_path(@bank), class: "button is-primary is-small" %>
      <%= link_to 'Kembali', banks_path, class: "button is-danger is-small" %>
    </div>
  </div>


</div>
