<div class="card is-hidden" id="nama_orang_tua_wali">
  <div class="card-content has-background-white-ter">
    <div class="columns">
      <div class="column">
        Nama Orang Tua/Wali
      </div>
    </div>
    <div class="columns">
        <div class="column">
          <%= parent.input :nama_ayah, label:false, placeholder: "--Nama Ayah--",wrapper: :text_hidden_bulma_small %>
          <%= parent.input :nama_ibu, label:false, placeholder:"--Nama Ibu--", wrapper: :text_hidden_bulma_small %>
          <%= parent.input :nama_wali, label:false, placeholder:"--Nama Wali--", wrapper: :text_hidden_bulma_small %>
        </div>
        <div class="column">
          <%= parent.input :pekerjaan_ayah, collection: Parent.pekerjaan_list, include_blank:"--Pekerjaan Ayah--", wrapper: :select_hidden_bulma_small %>
          <%= parent.input :pekerjaan_ibu, collection: Parent.pekerjaan_list, include_blank:"--Pekerjaan Ibu--", wrapper: :select_hidden_bulma_small %>
          <%= parent.input :pekerjaan_wali, collection: Parent.pekerjaan_list, include_blank:"--Pekerjaan Wali--", wrapper: :select_hidden_bulma_small %>
        </div>
        <div class="column">
          <%= parent.input :parents_guardians_handphone, label:false, placeholder: "--Nomor Hp Orang Tua/Wali--", wrapper: :text_hidden_bulma_small %>
        </div>
    </div>
  </div>
</div>
<br />
