<div class="card">
  <div class="card-content has-background-white-ter">
    <div class="columns">
        <div class="column is-6">
          <%= student_profile.input :nama, label:false, placeholder: "--Nama Mahasiswa--", wrapper: :text_bulma_small %>
        </div>
        <div class="column ">
          <%= student_profile.input :jenis_kelamin, collection:StudentProfile.jenis_kelamin_list, include_blank: "--Jenis Kelamin--",wrapper: :select_bulma_small %>
        </div>
        <div class="column">
          <%= student_profile.input :agama, collection:StudentProfile.agama_list, include_blank:"--Agama--", wrapper: :select_bulma_small %>
        </div>
        <div class="column">
          <%= student_profile.input :kewarganegaraan, collection:StudentProfile.kewarganegaraan_list, include_blank:"--kewarganegaraan--", wrapper: :select_bulma_small %>
        </div>
    </div>
    <div class="columns">
        <div class="column is-auto">
          <%= student_profile.input :nomor_induk_mahasiswa, label:false, placeholder: "--Nomor Induk Mahasiswa--",wrapper: :text_bulma_small %>
        </div>
        <div class="column">
          <%= student.association :major, collection: Major.where(id:[31,32,33]), include_blank: "--Program Studi--",wrapper: :select_bulma_small %>
        </div>
    </div>
    <div class="columns">
        <div class="column">
          <%= student.label :student_photo_file, "Phasfoto Warna 3x4cm, dengan kemeja putih ukuran setengah badan" %>
          <%= student.input :student_photo_file, as: :file, input_html:{direct_upload: true}, wrapper: :file_bulma_small %>
        </div>
    </div>
    <div class="columns">
        <div class="column">
          <h6 class="is-4">Tempat, Tanggal Lahir</h6>
        </div>
        <div class="column">
          <%= student_profile.input :tempat_lahir, label:false, placeholder: "--Tempat Lahir--", wrapper: :text_bulma_small %>
        </div>
        <div class="column">
          <%= student_profile.input :tanggal_lahir, as: :date, html5: true, wrapper: :date_bulma %>
        </div>
    </div>
  </div>
</div>
