<br />
<div class="card">
  <div class="card-content has-background-white-ter">
    <div class="columns">
        <div class="column is-4">
          Asal Sekolah
        </div>
        <div class="column">
          <%= school.input :nama, label:false, placeholder: "--Asal Sekolah--", wrapper: :text_bulma_small %>
        </div>
        <div class="column">
          <%= school.input :jurusan, collection:School.jurusan_list, include_blank: "--Jurusan/Program Studi--", wrapper: :select_bulma_small %>
        </div>
    </div>
  </div>
</div>
