<section class="section">
  <div class = "container is-fluid">
    <div class="card">
        <div class="card-header">
            <div class="card-header-title">
              Daftar Matakuliah
            </div>
        </div>
        <div class="card-content">
          <% if current_user.is_admin? %>
            <table class="table is-striped is-narrow is-hoverable is-bordered is-fullwidth">
              <thead>
                <tr class="is-size-7">
                  <th class="text-center ">SEMESTER</th>
                  <th class="text-center">SKS</th>
                  <th class="text-center">KODE</th>

                  <th>MATA KULIAH</th>
                  <th>KONSENTRASI</th>
                  <th class="text-center">STATUS</th>
                  <th colspan="2"  class="text-center">AKSI</th>
                </tr>
              </thead>
              <tbody>
                <% @semua_matakuliah_tambang.each do |t| %>
                <tr class="is-size-7">
                  <td class="text-center"><%= t.semester %></td>
                  <td class="text-center"><%= t.kredit %></td>
                  <td class="text-center"><%= t.kode.upcase rescue nil %></td>

                  <td><%= t.matakuliah.upcase rescue nil %></td>
                  <td><%= t.konsentrasi.upcase rescue nil %></td>
                  <td class="text-center"><%= t.status.upcase rescue nil %></td>
                  <td class="text-center"><%= link_to icon_edit(""), edit_subject_path(t) %></td>
                  <td class="text-center"><%= link_to icon_delete(""), subject_path(t), method: :delete, data: {confirm: "Anda Yakin Hapus?"} %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            Maaf belum ada data, <%= link_to "Buat Matakuliah", new_subject_path, class:'button is-success' %>
          <% end %>
        </div>
    </div>
  </div>
</section>
