<div class="card">
    <div class="card-header has-background-white-ter">
        <div class="card-header-title ">
          DAFTAR MATAKULIAH
        </div>
        <div class="card-header-icon">
          <%= render partial: "subjects/user/search" %>
        </div>
    </div>
    <div class="card-content" >
      <div class="columns">
        <!-- <div class="column is-2 "> -->
          <%#= render partial: "subjects/form/#{current_user.type.downcase.pluralize}", subject: @subject %>
        <!-- </div> -->
        <% if current_user.is_lecture? && current_user.is_active? %>
        <div class="column" >
          <div class="table-container" id="tabelSubject" style="height:76vh; overflow-y:auto;">
            <%= render partial:"subjects/user/table_#{current_user.type.downcase.pluralize}", subjects: @subjects %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>
