<%= form_tag subjects_path, method: :get do %>

  <div class="field has-addons">
    <div class="control">
        <%= select_tag(:kategori_matakuliah, options_for_select(Subject.kategori_matakuliah_list.map{|x| x}), include_blank: "--pilih kategori matakuliah--", class: "select") %>
    </div>
    <div class="control">
        <%= select_tag(:major, options_for_select(Subject.program_studi_list.map{|x| x}), include_blank: "--pilih prodi--", class: "select") %>
    </div>
    <div class="control">
      <%= select_tag(:semester, options_for_select(Subject.semester_list.map{|x| x}), include_blank: "--pilih semester--", class: "select") %>
    </div>
    <div class="control">
      <%= select_tag(:khusus, options_for_select(Subject.khusus_list.map{|x| x }), include_blank: "--pilih konsentrasi--", class: "select" ) %>
    </div>
    <div class="control">
      <%= select_tag(:tahun_berlaku, options_for_select(Subject.tahun_berlaku_list.map{|x| x}), include_blank: "--pilih tahun--" , class: "select") %>
    </div>
    <div class="control">
      <%= text_field_tag :word, params[:word], placeholder: "--cari nama atau kode--", class: "input is-small is-fullwidth"  %>
    </div>
    <div class="control">
      <%= submit_tag "Cari", name:nil, class: "button is-success is-small" %>
    </div>
  </div>
<% end %>
