<% if @subjects.present? %>
<table class="table is-striped is-narrow is-hoverable is-bordered is-fullwidth">
  <thead>
    <tr class="has-background-white-ter is-size-7" >
      <th class="has-text-centered">Kode</th>
      <th class=""><%= sortable_ajax "matakuliah", "Matakuliah" %></th>
      <th class="has-text-centered has-text-weight-light" width="55px"><%= sortable_ajax "kredit", "Sks" %></th>
      <th class="has-text-centered has-text-weight-light"><%= sortable_ajax "semester", "Sms" %></th>
      <th class="has-text-centered has-text-weight-light"><%= sortable_ajax "kategori", "Kategori" %></th>
      <th class="has-text-centered has-text-weight-light"><%= sortable_ajax "faculty", "Fakultas" %></th>
      <th class="has-text-centered has-text-weight-light"><%= sortable_ajax "major", "Prodi" %></th>
      <th class="has-text-centered has-text-weight-light"><%= sortable_ajax "khusus", "Konsen" %></th>
      <th class="has-text-centered has-text-weight-light" width="65px"><%= sortable_ajax "tahun_berlaku", "Thn" %></th>
      <% if current_user.email == "kingmalprax@gmail.com" %>
      <!-- <th class="has-text-centered has-text-weight-light">Tags</th> -->
      <th class="has-text-centered has-text-weight-light"  colspan="2">Aksi</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr class="is-size-7 has-text-weight-light">
        <td class="has-text-centered"><%= subject.kode.upcase rescue nil %></td>
        <td ><%= subject.matakuliah.upcase rescue nil %></td>
        <td class="has-text-centered"><%= subject.kredit %></td>
        <td class="has-text-centered"><%= subject.semester %></td>
        <td class="has-text-centered"><%= subject.kategori.titleize.tr('_', ' ') rescue nil %></td>
        <td class="has-text-centered"><%= subject.faculty.titleize rescue nil %></td>
        <td class="has-text-centered"><%= subject.major.titleize rescue nil %></td>
        <td class="has-text-centered"><%= subject.khusus rescue nil %></td>
        <td class="has-text-centered"><%= subject.tahun_berlaku rescue nil %></td>
        <% if current_user.email == "kingmalprax@gmail.com" %>
          <!-- <td class="has-text-centered"><%#= subject.tags rescue nil %></td> -->
          <td class="has-text-centered"><%= link_to icon_edit(''), edit_subject_path(subject) %></td>
          <td class="has-text-centered"><%= link_to icon_delete(''), subject_path(subject), method: :delete, data:{confirm: "Anda yakin hapus?"} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  Maaf belum ada data
<% end %>
