<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title p-auto my-auto">Jenjang Pendidikan</h3>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-responsive">
            <thead>
              <tr>
                <th width="20px">No</th>
                <th >Nama</th>
              </tr>
            </thead>
            <tbody>
              <% @jenjangdidiks.each_with_index do |jenjang_didik, i| %>
              <tr>
                <td><%= i = i + 1 %></td>
                <td><%= jenjang_didik["nama_jenjang_didik"] %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
<br />
