<div class="nested-fields">
  <label class="btn btn-primary btn-sm">
    Upload
    <span style="display:none;">
      <%= document.input :kategori, as: :hidden, input_html: {value: "skripsi"} %>
      <%= document.input :file_document, as: :hidden, input_html:{value:document.object.cached_file_document_data } %>
      <%= document.input_field :file_document, as: :file, class: "btn btn-success" %>
    </span>
  </label>

</div>
