<% if params[:controller]=="graduates" && params[:action]=="new" %>
  <%= graduate.input :email, label: "Email" %>
  <%= graduate.input :password, label: "Buat Password" %>
  <%= graduate.input :password_confirmation, label: "Konfirmasi Password" %>
<% end %>
  <%= graduate.input :name, label: "Nama Lengkap" %>
  <%= graduate.input :stambuk, label: "Nomor Induk Mahasiswa"%>

  <div class="form-row">
    <div class="col">
      <%= graduate.input :birth_place, label: "Tempat Lahir", wrapper: :birth_place %>
    </div>
    <div class="col">
      <%= graduate.input :birth_date, as: :date, label: "Tanggal Lahir", html5: true, wrapper: :birth_time%>
    </div>
  </div>


  <%= graduate.input :religion, collection: Graduate.religion_list.map{|r| r.titleize}, label: "Agama", include_blank: "-Pilih-" %>
