<div class="card-img-top center ">
  <%= image_tag set_blangko_resource(@graduate), :size => "350x250", class:"img-thumbnail" %><br />
</div>
<div class="card-body d-flex justify-content-center">
  <label class="btn btn-primary">
    Upload Blangko
    <span style="display:none;">
      <%= graduate_blangko.input :blangko, as: :hidden, input_html:{value:@graduate.cached_blangko_data } %>
      <%= graduate_blangko.input_field :blangko, as: :file, class: "btn btn-success" %>
    </span>
  </label>
</div>
