<%#= graduate_profile.input :yudisium_letter, label: "SK Yudisium" %>
<%#= graduate_profile.input :yudisium_date, as: :date, html5: true, label: "Tanggal Yudisium, format: bulan/hari/tahun, misal 10/04/2017"%>
