<div class="card-img-top center ">
  <%= image_tag image, :size => "151x201", class:"img-thumbnail" %><br />
</div>
<div class="card-body">
  <small class="mr-auto">Pasfoto Tidak Lebih Dari 300 KB format diutamakan PNG</small><br />
  <small class="mr-auto">Pria Berpakaian Jas Hitam Dan Kemeja Putih Lengan Panjang Dan Latar Biru</small><br /> <small>Wanita Berpakaian Jas Hitam Dan Kemeja Putih Lengan Panjang Dan Latar Merah. Berjilbab, gunakan jilbab hitam</small>
</div>
<div class="card-body d-flex justify-content-center">
  <label class="btn btn-primary">
    Upload Foto
    <span style="display:none;">
      <%= graduate_photo.input :image, as: :hidden, input_html:{value:@graduate.cached_image_data } %>
      <%= graduate_photo.input_field :image, as: :file, class: "btn btn-success" %>
    </span>
  </label>
</div>
