<div class="nested-fields">
  <label class="btn btn-primary btn-sm">
    Upload
    <span style="display:none;">
      <%= identity.input :file_identity, as: :hidden, input_html:{value:identity.object.cached_file_identity_data } %>
      <%= identity.input_field :file_identity, as: :file, class: "btn btn-success" %>
    </span>
  </label>

</div>
