<%= lecture_2.input :dummy_lecture_2_id, collection: DummyLecture.includes(:major).order("major_id asc", "nama asc").where(major_id: [31,32,33]).map{|x| [x.pembimbing_2, x.id]},label: "Pembimbing II, kosongkan saja dahulu bila tidak ada, dan laporkan", placeholder: "kosongkan saja dahulu bila tidak ada, dan laporkan" %>
