<%#= f.input :major_id, collection: Major.all, as: :grouped_select, group_by: proc{|major| major.faculty.name} %>
<%= f.association :major, collection: @majors, label: "Program Studi", include_blank: "-Pilih-" %>
