<div class="nested-fields">
  <label class="btn btn-primary btn-sm">
    Upload
    <span style="display:none;">
      <%= payment_form.input :file_payment, as: :hidden, input_html:{value:payment_form.object.cached_file_payment_data } %>
      <%= payment_form.input_field :file_payment, as: :file, class: "btn btn-success" %>
    </span>
  </label>

</div>
