= form_for @item_accreditation do |f|
  - if @item_accreditation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item_accreditation.errors.count, "error")} prohibited this item_accreditation from being saved:"
      %ul
        - @item_accreditation.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :item
    = f.text_field :item
  .field
    = f.label :academic_year_id
    = f.number_field :academic_year_id
  .actions
    = f.submit 'Save'
