.container
  .row.justify-content-center
    .col-12
      .card
        .card-header
          %h5 Daftar Dokumen Yang harus Dipersiapkan Pada Saat Visitasi
        .card-body
          %table
            %thead
              %tr
                %th Item
                %th Academic year
                %th
                %th
                %th

            %tbody
              - @item_accreditations.each do |item_accreditation|
                %tr
                  %td= item_accreditation.item
                  %td= item_accreditation.academic_year_id
                  %td= link_to 'Show', item_accreditation
                  %td= link_to 'Edit', edit_item_accreditation_path(item_accreditation)
                  %td= link_to 'Destroy', item_accreditation, method: :delete, data: { confirm: 'Are you sure?' }

          %br

          = link_to 'New Item accreditation', new_item_accreditation_path

    .col-12
      -# =paginate @book_collections
