%p#notice= notice

%p
  %b Item:
  = @item_accreditation.item
%p
  %b Academic year:
  = @item_accreditation.academic_year_id

= link_to 'Edit', edit_item_accreditation_path(@item_accreditation)
\|
= link_to 'Back', item_accreditations_path
