
  <div class="card is-half is-offset-one-quarter">
    <%= simple_form_for @academic_year do |f| %>
    <div class="card-header has-background-white-ter">
        <div class="card-header-title">
          Input Tahun Akademik
        </div>
    </div>
    <div class="card-content">
        <%= render partial: 'academic_years/form/content', locals:{ f: f} %>
    </div>
    <% end %>
  </div>
