<div class="card">
  <div class="card-header has-background-white-ter">
      <div class="card-header-title">
          Tahun Akademik
      </div>
  </div>
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <% if @academic_years.empty? %>
          <h3 class="lead">Maaf Belum Ada Data</h3>&nbsp;&nbsp;<%= link_to "Buat Tahun Akademik", new_academic_year_path, class: "btn btn-success" %>
        <% else %>
          <table class="table is-hover is-stripped is-bordered is-fullwidth">
            <thead>
              <tr>
                <th>Tahun</th>
                <th class="has-text-centered">Semester</th>
                <th class="has-text-centered">Status</th>
                <th colspan='1' class="has-text-centered">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% @academic_years.each do |year| %>
              <tr class="<%= status_active(year.is_active?) %>">
                <td class="has-text-weight-light"><%= year.name %></td>
                <td class="has-text-centered has-text-weight-light"><%= year.try(:semester) %></td>
                <td class="has-text-centered has-text-weight-light"><%= year.is_active? ? "Aktif" : "Tidak Aktif" %></td>
                <td class="has-text-centered" ><%= link_to icon_edit(""), edit_academic_year_path(year) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
      <div class="column">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
