    <button type="button" class="close mr-1 d-flex justify-content-end" aria-label="Close">
      <%= link_to icon_times(""), root_path, class:"text-info", title: "Keluar", data:{toggle: "popover"} %>
    </button>
