<div class="card-body">
  <%= form_tag wisudawan_path, method: :get do %>
    <%= label_tag "Filter" %>
    <%= select_tag(:faculty_id, options_from_collection_for_select(Faculty.all, :id, :name, params[:faculty_id])) %>
    <%= submit_tag "Cari", name:nil, class: "btn btn-primary" %>
  <% end %>
</div>
