<% unless flash.empty? %>
  <% flash.each do |key,value| %>
    <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success').gsub('error', 'error') %>
    <script>
      toastr['<%= type %>']("<%= value %>")
    </script>
  <% end %>
<% end %>
