<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hai
    </p>
    <p>
      Pembayaran atas nama <%= @student.student_profile.nama %> untuk KRS semester <%= @payment.academic_year.semester %>  <%= @payment.academic_year.name %> telah di Approve oleh bagian keuangan
    </p>
    <p>Terima Kasih</p>
  </body>
</html>
