Hai
Pembayaran atas nama <%= @student.student_profile.nama %> untuk KRS semester <%= @payment.academic_year.semester %>  <%= @payment.academic_year.name %> telah di Approve oleh bagian keuangan
Terima Kasih
