<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      DAFTAR PEMBAYARAN
    </div>
    <div class="card-header-icon is-small">
      <%= render partial: "payments/index/search" %>
    </div>
  </div>
  <div class="card-content" id="tableIndex">
    <% if @payments.present? %>
      <%= render partial: "payments/index/table_lectures", payments: @payments %>
    <% else %>
    Maaf belum ada data
    <% end %>
  </div>
</div>
