<%= form_tag payments_path, method: :get do %>
  <div class="field has-addons">
    <div class="control ">
      <%= text_field_tag :search, params[:search], placeholder: "--cari kata--", class: "input is-small is-fullwidth"  %>
    </div>
    <div class="control">
      <%= submit_tag "Cari", name:nil, class: "button is-success is-small" %>
    </div>
  </div>
<% end %>
