<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      DAFTAR PEMBAYARAN
    </div>
  </div>
  <div class="card-content">
    <% if @student.payments.present? %>
      <div class="table-container">
        <table class="table is-fullwidth is-hoverable is-striped is-narrow is-bordered">
          <thead>
            <tr>
              <th class="has-text-centered">Pembayaran</th>
              <th class="has-text-centered">Semester</th>
              <th class="has-text-centered">Tahun Akademik</th>
              <th class="has-text-centered">Jumlah</th>
              <th class="has-text-centered">Bank</th>
              <th class="has-text-centered">Upload</th>
              <th class="has-text-centered">Tanggal Bayar</th>
              <th class="has-text-centered">Jalur</th>
              <th class="has-text-centered">Status</th>
              <th colspan="4"></th>
            </tr>
          </thead>

          <tbody>
            <% @payments.each do |payment| %>
              <tr >
                <td class="has-text-centered is-vcentered" style="vertical-align: middle;" ><%= link_to_if payment.is_not_semester_pendek?, payment.kind.upcase, student_payment_path(@student, payment) rescue nil %></td>
                <td class="has-text-centered" style="vertical-align: middle;"><%= payment.academic_year.semester %></td>
                <td class="has-text-centered" style="vertical-align: middle;"><%= payment.academic_year.name %></td>
                <td class="has-text-centered" style="vertical-align: middle;"><%= number_to_currency(payment.in_number, precision: 0, separation:",", unit: "Rp") %></td>
                <td class="has-text-centered" style="vertical-align: middle;"><%= payment.bank.name %></td>
                <td class="has-text-centered" style="vertical-align: middle;"><%= active_storage_file_payment(payment.payment_file, @student, payment, "80x50", "attachment") if payment.is_not_semester_pendek? %></td>
                <td class="has-text-centered" style="vertical-align: middle;"><%= payment.paid.strftime("%d-%m-%Y") rescue nil %></td>
                <td class="has-text-centered" style="vertical-align: middle;"><%= payment.type_student.upcase rescue nil %></td>
                <td class="has-text-centered" style="vertical-align: middle;"><%= check_approve(payment) %></td>
                <td class="has-text-centered" style="vertical-align: middle;"><%= link_to_if payment.is_not_semester_pendek?, icon_print(''), print_student_payment_path(@student, payment, format: :pdf), target: :_blank,class: "button is-danger is-small", data:{confirm: "Yakin sudah benar untuk dicetak?"} %></td>
                <td class="has-text-centered" style="vertical-align: middle;"><%= link_to_if payment.is_not_approved?, icon_file(''), letter_student_payment_path(@student, payment, format: :pdf), target: :_blank,class: "button is-success is-small", data:{confirm: "Yakin sudah benar untuk dicetak?"} %></td>
                <td class="has-text-centered" style="vertical-align: middle;"><%= link_to_if payment.is_not_approved?, icon_edit(''), edit_student_payment_path(@student, payment, type:"#{payment.kind}") %></td>
                <td class="has-text-centered" style="vertical-align: middle;"><%= link_to_if payment.is_not_approved?, icon_delete(''), student_payment_path(@student, payment), method: :delete, data: { confirm: 'Anda yakin hapus?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <p>Catatan:</p>
      <p>- Icon <%= icon_edit('') %>= edit, &nbsp;&nbsp;Icon <%= icon_delete('') %>= hapus</p>
      <p>- Status akan berubah dari tanda <%= icon_times('') %> ke <%= icon_check('') %> apabila sudah diverifikasi bagian keuangan</p>
      <p>- Bila anda belum membayar SPP,BPP atau pembayaran lainnya, Tekan tombol <%= icon_print('') %> untuk mencetak blanko pembayaran dan segera ke Bank terdekat</p>
      <p>- Cetak dikertas ukuran A4 tanpa dipotong</p>
      <p>- Jangan lupa bubuhkan tanda tangan dan stempel dari Bank pada blanko yang dicetak sebagai bukti telah membayar</p>
      <p>- Scan dan segera upload filenya sesuai dengan data yang dibuat disini </p>
      <p>- Klik gambar/foto blanko jika anda ingin mendownload</p>
    <% else %>
    Maaf belum ada data
    <% end %>
  </div>
</div>
