<div class="level">
    <div class="level-right">
      <%= paginate @payments, remote: true %>
    </div>
</div>
<div class="table-container" >
  <table class="table is-fullwidth is-hoverable is-striped is-narrow is-bordered">
    <thead>
      <tr class="is-size-7">
        <th class="has-text-centered" style="vertical-align: middle;">No</th>
        <th class="has-text-centered" style="vertical-align: middle;"><%= sortable_ajax("kind","Pembayaran") %></th>
        <th class="has-text-centered" style="vertical-align: middle;">Semester</th>
        <th class="has-text-centered" style="vertical-align: middle;">Tahun Akademik</th>
        <th class="has-text-centered" style="vertical-align: middle;"><%= sortable_ajax("in_number","Jumlah") %></th>
        <th class="has-text-centered" style="vertical-align: middle;">Nama</th>
        <th class="has-text-centered" style="vertical-align: middle;">NIM</th>
        <th class="has-text-centered" style="vertical-align: middle;"><%= sortable_ajax("banks.name","Bank") %></th>
        <th class="has-text-centered" style="vertical-align: middle;"><%= sortable_ajax("type_student","Tipe") %></th>
        <th class="has-text-centered" style="vertical-align: middle;">Upload</th>
        <th class="has-text-centered" style="vertical-align: middle;"><%= sortable_ajax("paid", "Tanggal Bayar") %></th>
        <th class="has-text-centered" style="vertical-align: middle;"><%= sortable_ajax("is_approved", "Status") %></th>
        <% if current_user.email == "kingmalprax@gmail.com" %>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @payments.each_with_index do |payment, i| %>
        <% if params[:page].nil? || params[:page]== "0" || params[:page]=="1" %>
          <% x = 0 %>
        <% else %>
          <% page = params[:page].to_i - 1 %>
          <% x = page*8 %>
        <% end %>
        <tr class="is-size-7">
          <td class="has-text-centered" style="vertical-align: middle;"><%= i = i + x + 1 %></td>
          <td class="has-text-centered is-vcentered" style="vertical-align: middle;" ><%=link_to payment.kind.upcase, payment_path(payment) rescue nil %></td>
          <td class="has-text-centered" style="vertical-align: middle;"><%= payment.academic_year.semester %></td>
          <td class="has-text-centered" style="vertical-align: middle;"><%= payment.academic_year.name %></td>
          <td class="has-text-centered" style="vertical-align: middle;"><%= number_to_currency(payment.in_number, precision: 0, separation:",", unit: "Rp") %></td>
          <td class="has-text-centered" style="vertical-align: middle;"><%= payment.student.student_profile.nama %></td>
          <td class="has-text-centered" style="vertical-align: middle;"><%= payment.student.student_profile.nomor_induk_mahasiswa %></td>
          <td class="has-text-centered" style="vertical-align: middle;"><%= payment.bank.name %></td>
          <td class="has-text-centered" style="vertical-align: middle;"><%= payment.type_student %></td>
          <td class="has-text-centered" style="vertical-align: middle;">
            <% if payment.payment_file.attached? %>
              <% if payment.payment_file.previewable? %>
                <%= link_to(image_tag(payment.payment_file.preview(resize: "80x50")), rails_blob_path(payment.payment_file, disposition: "attachment")) %>
              <% elsif payment.payment_file.variable? %>
                <%= link_to(image_tag(payment.payment_file.variant(resize: "80x50")), rails_blob_path(payment.payment_file, dispotision: "attachment")) %>
              <% elsif payment.payment_file.attached? %>
                <%= link_to icon_download(''), rails_blob_path(payment.payment_file, disposition: "attachment") %>
              <% end %>
            <% else %>
              <%= link_to icon_upload(''), edit_payment_path(payment, type:"upload_#{payment.kind}") %>
            <% end %>
          </td>
          <td class="has-text-centered" style="vertical-align: middle;"><%= payment.paid.strftime("%d-%m-%Y") rescue nil %></td>
          <td class="has-text-centered" style="vertical-align: middle;"><%= check_approve(payment)  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
