<section id="fakultas_upri">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center my-5">FAKULTAS</h1>

      </div>
      <div class="col-12">
        <div class="card-group mb-5">
          <div class="card">
            <%#= image_tag('https://upri.s3-ap-southeast-1.amazonaws.com/images/no_images.png', class:'card-img-top', input_html:{alt:"Card image cap"}) %>
            <div class="card-body">
              <h5 class="card-title text-center mb-4">IKIP</h5>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qYsTMxCT0gA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>

              <p class="card-text">Program Studi :</p>
              <ul class="nav flex-column">
                <li class="nav-item">1. Pendidikan Pancasila & Kewarganegaraan</li>
                <li class="nav-item">2. Pendidikan Matematika</li>
                <li class="nav-item">3. Pendidikan Biologi</li>
                <li class="nav-item">4. Pendidikan Sejarah</li>
                <li class="nav-item">5. Pendidikan Teknologi</li>
                <li class="nav-item">4. Pendidikan Sejarah</li>
              </ul>
            </div>
            <div class="card-footer bg-success">
            </div>
          </div>
          <div class="card">
            <%#= image_tag('https://upri.s3-ap-southeast-1.amazonaws.com/images/no_images.png', class:'card-img-top', input_html:{alt:"Card image cap"}) %>
            <div class="card-body">
              <h5 class="card-title text-center mb-4">ILMU SOSIAL POLITIK</h5>

              <p class="card-text">Program Studi :</p>
              <ul class="nav flex-column">
                <li class="nav-item">1. Ilmu Administrasi Negara</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;Bidang Keahlian:</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Administrasi Perpajakan</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Administrasi Publik</li>
                <li class="nav-item">2. Komunikasi</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;Bidang Keahlian:</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Jurnalistik</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Hubungan Masyarakat(Public Relation)</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Media Kreatif dan Perfilman</li>
              </ul>
            </div>
            <div class="card-footer bg-success">
            </div>
          </div>
          <div class="card">
            <%#= image_tag('https://upri.s3-ap-southeast-1.amazonaws.com/images/no_images.png', class:'card-img-top', input_html:{alt:"Card image cap"}) %>
            <div class="card-body">
              <h5 class="card-title text-center mb-4">TEKNIK</h5>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lZ-i94P1RM4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
              <p class="card-text">Program Studi :</p>
              <ul class="nav flex-column">
                <li class="nav-item">1. Teknik Pertambangan</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;Bidang Keahlian:</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   1. Tambang Umum</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   2. Tambang Eksplorasi</li>
                <li class="nav-item">2. Teknik Mesin</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;Bidang Keahlian:</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Mesin Pertambangan</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Mesin Konstruksi</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Mesin Konversi</li>
                <li class="nav-item">3. Teknik Informatika</li>
              </ul>
            </div>
            <div class="card-footer bg-success">
            </div>
          </div>
          <div class="card">
            <%#= image_tag('https://upri.s3-ap-southeast-1.amazonaws.com/images/no_images.png', class:'card-img-top', input_html:{alt:"Card image cap"}) %>
            <div class="card-body">
              <h5 class="card-title text-center mb-4">EKONOMI</h5>
              <p class="card-text">Program Studi :</p>
              <ul class="nav flex-column">
                <li class="nav-item">1. Manajemen</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;Bidang Keahlian:</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Manajemen Keuangan</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Manajemen Pemasaran</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Manajemen SDM</li>
                <li class="nav-item">2. Akuntansi</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;Bidang Keahlian:</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Akuntansi Keuangan & Audit</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Akuntansi Syariah</li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Akuntansi Keuangan Daerah</li>
              </ul>
            </div>
            <div class="card-footer bg-success">
            </div>
          </div>
          <div class="card">
            <%#= image_tag('https://upri.s3-ap-southeast-1.amazonaws.com/images/no_images.png', class:'card-img-top', input_html:{alt:"Card image cap"}) %>
            <div class="card-body">
              <h6 class="card-title text-center mb-4">KESEHATAN MASYARAKAT</h6>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FLnmXeoKVM0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
              <p class="card-text">Bidang Keahlian :</p>
              <ul class="nav flex-column">
                <li class="nav-item">1. Epidemiologi</li>
                <li class="nav-item">2. Promosi Kesehatan</li>
                <li class="nav-item">3. Administrasi Kebijakan Kesehatan</li>
                <li class="nav-item">4. Gizi Kesehatan Masyarakat</li>
                <li class="nav-item">5. Administrasi Kesehatan Masyarakat</li>
                <li class="nav-item">6. Kesehatan dan Keselamatan Kerja</li>
                <li class="nav-item">7. Kesehatan Reproduksi</li>
                <li class="nav-item">8. K3 Pertambangan</li>
              </ul>
            </div>
            <div class="card-footer bg-success">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
