<section id="footer">
    <div class="container-fluid footertext">
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <h4>Menu</h4>
            <ul>
              <li><%= link_to 'Info', info_path %></li>
              <li><%= link_to 'Jadwal Kuliah', jadwal_kuliah_path %></li>
              <li><%= link_to 'Kalendar Akademik', kalendar_akademik_path %></li>
              <li><%= link_to 'Program', '#' %></li>
              <li><%= link_to 'Legalitas', '#' %></li>
              <li><%= link_to 'Kritik Dan Saran', '#' %></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <h4>Alamat Dan Kontak</h4>
            <ul class="nav">
              <li><i class="glyphicon glyphicon-map-marker"></i>Kampus 1 : Bawakaraeng No 72, Makassar, Indonesia</li>
              <li><i class="glyphicon glyphicon-map-marker"></i>Kampus 2 : Baruga Raya Antang, Makassar, Indonesia</li>
              <li><i class="glyphicon glyphicon-earphone"></i>WA 1 : 0812 4170 552</li>
              <li><i class="glyphicon glyphicon-earphone"></i>WA 2 : 0812 4200 0600</li>
              <li><i class="glyphicon glyphicon-earphone"></i>E-mail 1 : pmb@upri.ac.id</li>
              <li><i class="glyphicon glyphicon-earphone"></i>E-mail 2 : info@upri.ac.id</li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
            <div class="text-center">
              <%= image_tag('https://upri.s3-ap-southeast-1.amazonaws.com/images/upri.png', width: "16%\9", height: "16%\9", class: "img-fluid ") %></div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class=" col-sm-12 col-xs-12 col-md-12">
              <p class="bottom-footer"><%= Time.now.strftime("%Y") %> - All Rights by Yayasan Perguruan Tinggi Karya Darma Makassar</p>
            </div>
        </div>
    </div>
</section>
