<section id="galleryPreview" class="mb-5">
  <div class="imgBox img-fluid"><img src="https://s3-ap-southeast-1.amazonaws.com/upri/store/web+image/gallery/struktur_upri_2018_2022.jpg"></div>
  <ul class="thumb">
    <li><a href="https://s3-ap-southeast-1.amazonaws.com/upri/store/web+image/gallery/struktur_upri_2018_2022.jpg
" target="imgBox"><img src="https://s3-ap-southeast-1.amazonaws.com/upri/store/web+image/gallery/struktur_upri_2018_2022.jpg
" width="120px"></a></li>
  	<li><a href="https://s3-ap-southeast-1.amazonaws.com/upri/store/web+image/gallery/1.jpeg
" target="imgBox"><img src="https://s3-ap-southeast-1.amazonaws.com/upri/store/web+image/gallery/1.jpeg
" width="120px"></a></li>
  	<li><a href="https://s3-ap-southeast-1.amazonaws.com/upri/store/web+image/gallery/2.jpeg
" target="imgBox"><img src="https://s3-ap-southeast-1.amazonaws.com/upri/store/web+image/gallery/2.jpeg
" width="120px"></a></li>
  	<li><a href="https://s3-ap-southeast-1.amazonaws.com/upri/store/web+image/gallery/3.jpeg
" target="imgBox"><img src="https://s3-ap-southeast-1.amazonaws.com/upri/store/web+image/gallery/3.jpeg
" width="120px"></a></li>
  	<li><a href="https://s3-ap-southeast-1.amazonaws.com/upri/store/web+image/gallery/4.jpeg
" target="imgBox"><img src="https://s3-ap-southeast-1.amazonaws.com/upri/store/web+image/gallery/4.jpeg
" width="120px"></a></li>

  </ul>
</section>
