<section id="info_mahasiswa_baru">
  <div class="col-centered col-lg-12">
    <div class="pricing-tables attached ">
      <div class="row justify-content-center">
        <div class="col-12 info_penerimaan_maba text-center p-5" >
          <h1 class="text-center" id="info_pendaftaran_mahasiswa_baru">PENERIMAAN MAHASISWA BARU</h1>
          <h4 class="my-3" >TAHUN AJARAN 2018/2019</h4>
          <h5 class="mt-5">GELOMBANG I : 10 APRIL - 10 JUNI 2018</h5>
          <h5>GELOMBANG II : 11 JUNI - 10 AGUSTUS 2018</h5>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-sm-3 col-md-3 col-lg-3">
          <div class="plan  first">
            <div class="head bg-success">
              <h5>KEGURUAN DAN ILMU PENDIDIKAN</h5>
            </div>
            <ul class="item-list">
              <li><strong>SPP </strong>Rp 2.500.000</li>
              <li><strong>BPP </strong>Rp 2.500.000</li>
            </ul>
            <div class="price">
              <br />
              <h4>SPP cuma sekali bayar</h4>
              <h4>Beasiswa Rp 1.000.000</h4>
              <h4>selama 2 Semester</h4>
              <h4>dan diasuransikan</h4>
            </div>
            <%= link_to "Daftar", new_user_registration_path(type_check: "student", choose_faculty: "fkip"), class: "btn btn-success btn-pad" %>
            <%#= link_to "Daftar", "http://pmb.upri.ac.id", class: "btn btn-success btn-pad" %>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
          <div class="plan first recommended">
            <div class="head bg-biru">
              <h4>TEKNIK</h4>
            </div>
            <ul class="item-list">
              <li><strong>SPP </strong>Rp 2.500.000</li>
              <li><strong>BPP </strong></li>
              <li><strong>Tambang | Mesin | Informatika</strong></li>
              <li>4.000.000 | 2.750.0000 | 2.250.0000</li>
              <li><strong>SPJ Tambang </strong>Rp 2.000.000</li>
              <li><strong>Laboratorium </strong>Rp 1.000.000</li>
            </ul>
            <div class="price">
              <br />
              <h4>SPP cuma sekali bayar</h4>
              <h4>Beasiswa Rp 1.000.000</h4>
              <h4>selama 2 Semester</h4>
              <h4>dan diasuransikan</h4>
            </div>
            <%= link_to "Daftar", new_user_registration_path(type_check: "student", choose_faculty: "fatek"), class: "btn btn-biru btn-pad" %>
            <%#= link_to "Daftar", "http://pmb.upri.ac.id", class: "btn btn-biru btn-pad" %>
          </div>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-2">
          <div class="plan last">
            <div class="head bg-danger">
              <h4>EKONOMI</h4>
            </div>
            <ul class="item-list">
              <li><strong>SPP </strong>Rp 2.500.000</li>
              <li><strong>BPP </strong>Rp 2.500.000</li>
            </ul>
            <div class="price">
              <h4>SPP cuma sekali bayar</h4>
              <h4>Beasiswa Rp 1.000.000</h4>
              <h4>selama 2 Semester</h4>
              <h4>dan diasuransikan</h4>
            </div>
            <%= link_to "Daftar", new_user_registration_path(type_check: "student", choose_faculty: "fekon"), class: "btn btn-danger btn-pad" %>
            <%#= link_to "Daftar", "http://pmb.upri.ac.id", class: "btn btn-danger btn-pad" %>
          </div>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-2">
          <div class="plan recommended">
            <div class="head bg-kuning">
              <h5>ILMU SOSIAL DAN POLITIK</h5>
            </div>
            <ul class="item-list">
              <li><strong>SPP </strong>Rp 2.500.000</li>
              <li><strong>BPP </strong>Rp 2.500.000</li>
            </ul>
            <div class="price">
              <h4>SPP cuma sekali bayar</h4>
              <h4>Beasiswa Rp 1.000.000</h4>
              <h4>selama 2 Semester</h4>
              <h4>dan diasuransikan</h4>
            </div>
            <%= link_to "Daftar", new_user_registration_path(type_check: "student", choose_faculty: "fisip"), class: "btn btn-kuning" %>
            <%#= link_to "Daftar", "pmb.upri.ac.id", class: "btn btn-kuning btn-pad" %>
          </div>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-2">
          <div class="plan last">
            <div class="head bg-ungu">
              <h4>KESEHATAN MASYARAKAT</h4>
            </div>
            <ul class="item-list">
              <li><strong>SPP </strong>Rp 2.500.000</li>
              <li><strong>BPP </strong>Rp 2.500.000</li>
            </ul>
            <div class="price">
              <h4>SPP cuma sekali bayar</h4>
              <h4>Beasiswa Rp 1.000.000</h4>
              <h4>selama 2 Semester</h4>
              <h4>dan diasuransikan</h4>
            </div>
            <%= link_to "Daftar", new_user_registration_path(type_check: "student", choose_faculty: "fkm"), class: "btn btn-ungu btn-pad" %>
            <%#= link_to "Daftar", "http://pmb.upri.ac.id", class: "btn btn-ungu btn-pad", target: "_blank" %>
          </div>
        </div>

      </div>
      <!-- row-->
    </div>
    <!-- pricing-tables -->
  </div>
</section>
