<section id="kategori_kelas">
    <div class="container content">
      <div class="row my-5 ">

        <div class="col-12">
          <h3 class="text-center mt-5">Kategori Kelas</h3>
          <p class="text-center mb-2">
            UPRI memiliki 4 kategori kelas sebagai pilihan bagi calon mahasiswa untuk menempuh jenjang pendidikan strata satu
          </p>

        </div>

      </div>
    	<div class="row">
    		<!-- Pricing -->
    		<div class="col-md-3">
    			<div class="pricing hover-effect">
    				<div class="pricing-reguler">
    					<h3>Reguler</h3>
    				</div>
    				<div class="pricing-footer">
    					<h6 class="mt-4">
    						 Menempuh kuliah secara umum dari jalur smu atau sederajat
    					</h6>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-3">
    			<div class="pricing hover-effect">
            <div class="pricing-ekstensi">
    					<h3>Ekstensi</h3>
    				</div>
    				<div class="pricing-footer">
    					<h6 class="mt-4">
    						 Menempuh kuliah secara paruh waktu khusus bagi yang sudah bekerja
    					</h6>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-3">
    			<div class="pricing hover-effect">
            <div class="pricing-konversi">
    					<h3>Konversi</h3>
    				</div>
    				<div class="pricing-footer">
    					<h6 class="mt-4">
    						 Menempuh kuliah lanjutan setelah menempuh jenjang Diploma
    					</h6>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-3">
    			<div class="pricing hover-effect">
            <div class="pricing-transfer">
    					<h3>Transfer</h3>
    				</div>
    				<div class="pricing-footer">
    					<h6 class="mt-4">
    						 Menempuh kuliah dari pindahan universitas atau program studi lain
    					</h6>
    				</div>
    			</div>
    		</div>
    		<!--//End Pricing -->
    	</div>
  </div>
</section>
