<section class="center py-5 " id="main_page">
  <div class="left">
    <button type="button" id="sidebarCollapse" >
        <span></span>
        <span></span>
        <span></span>
    </button>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3 class="d-sm-block d-none">YAYASAN PERGURUAN TINGGI KARYA DHARMA MAKASSAR</h3>
    <h3 class="d-sm-none">YPTKD MAKASSAR</h3>
    <h1 class="d-sm-block d-none">UNIVERSITAS PEJUANG REPUBLIK INDONESIA</h1>
    <h1 class="d-sm-none">UPRI</h1>
  </div>
    <%= image_tag("https://upri.s3-ap-southeast-1.amazonaws.com/images/upri.png", width: "16%\9", height: "16%\9", class: "img-fluid my-5 " ) %>

  <div class="col-xs-12 text-center">
    <h4>SISTEM INFORMASI MANAJEMEN DAN AKADEMIK</h4>
    <h4 >TAHUN AJARAN <span><%= @academic_year.nama %></span></h4><br />
  </div>
</section>
