<section class="clients cid-qB7KbHp5Ra" id="mitra_kampus" data-rv-view="7274">
        <div class="container mb-5">
            <div class="media-container-row">
                <div class="col-12 align-center">
                    <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
                        Mitra Kampus
                    </h2>
                    <h3 class="mbr-section-subtitle mbr-light mbr-fonts-style display-5">Mitra kampus sebagai tempat praktek dan bekerja alumni.
</h3>
                </div>
            </div>
        </div>

    <div class="container">
        <div class="carousel slide" data-ride="carousel" role="listbox" id="mitra_kampus_carousel">
            <div class="carousel-inner slides5" data-visible="5">
            <div class="carousel-item active carousel-item-left">
                    <div class="media-container-row">
                        <div class="col-md-12 col-lg-15">
                            <div class="wrap-img ">
                                <img src="assets/images/1.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div>
                    <div class="col-md-12 col-lg-15 cloneditem-1 clonedCol" data-cloned-index="1">
                            <div class="wrap-img ">
                                <img src="assets/images/2.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div><div class="col-md-12 col-lg-15 cloneditem-2 clonedCol" data-cloned-index="2">
                            <div class="wrap-img ">
                                <img src="assets/images/3.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div><div class="col-md-12 col-lg-15 cloneditem-3 clonedCol" data-cloned-index="3">
                            <div class="wrap-img ">
                                <img src="assets/images/4.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div><div class="col-md-12 col-lg-15 cloneditem-4 clonedCol" data-cloned-index="4">
                            <div class="wrap-img ">
                                <img src="assets/images/5.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div></div>
                </div><div class="carousel-item carousel-item-next carousel-item-left">
                    <div class="media-container-row">
                        <div class="col-md-12 col-lg-15">
                            <div class="wrap-img ">
                                <img src="assets/images/2.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div>
                    <div class="col-md-12 col-lg-15 cloneditem-1 clonedCol" data-cloned-index="2">
                            <div class="wrap-img ">
                                <img src="assets/images/3.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div><div class="col-md-12 col-lg-15 cloneditem-2 clonedCol" data-cloned-index="3">
                            <div class="wrap-img ">
                                <img src="assets/images/4.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div><div class="col-md-12 col-lg-15 cloneditem-3 clonedCol" data-cloned-index="4">
                            <div class="wrap-img ">
                                <img src="assets/images/5.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div><div class="col-md-12 col-lg-15 cloneditem-4 clonedCol" data-cloned-index="0">
                            <div class="wrap-img ">
                                <img src="assets/images/1.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div></div>
                </div><div class="carousel-item">
                    <div class="media-container-row">
                        <div class="col-md-12 col-lg-15">
                            <div class="wrap-img ">
                                <img src="assets/images/3.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div>
                    <div class="col-md-12 col-lg-15 cloneditem-1 clonedCol" data-cloned-index="3">
                            <div class="wrap-img ">
                                <img src="assets/images/4.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div><div class="col-md-12 col-lg-15 cloneditem-2 clonedCol" data-cloned-index="4">
                            <div class="wrap-img ">
                                <img src="assets/images/5.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div><div class="col-md-12 col-lg-15 cloneditem-3 clonedCol" data-cloned-index="0">
                            <div class="wrap-img ">
                                <img src="assets/images/1.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div><div class="col-md-12 col-lg-15 cloneditem-4 clonedCol" data-cloned-index="1">
                            <div class="wrap-img ">
                                <img src="assets/images/2.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div></div>
                </div><div class="carousel-item">
                    <div class="media-container-row">
                        <div class="col-md-12 col-lg-15">
                            <div class="wrap-img ">
                                <img src="assets/images/4.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div>
                    <div class="col-md-12 col-lg-15 cloneditem-1 clonedCol" data-cloned-index="4">
                            <div class="wrap-img ">
                                <img src="assets/images/5.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div><div class="col-md-12 col-lg-15 cloneditem-2 clonedCol" data-cloned-index="0">
                            <div class="wrap-img ">
                                <img src="assets/images/1.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div><div class="col-md-12 col-lg-15 cloneditem-3 clonedCol" data-cloned-index="1">
                            <div class="wrap-img ">
                                <img src="assets/images/2.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div><div class="col-md-12 col-lg-15 cloneditem-4 clonedCol" data-cloned-index="2">
                            <div class="wrap-img ">
                                <img src="assets/images/3.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div></div>
                </div><div class="carousel-item">
                    <div class="media-container-row">
                        <div class="col-md-12 col-lg-15">
                            <div class="wrap-img ">
                                <img src="assets/images/5.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div>
                    <div class="col-md-12 col-lg-15 cloneditem-1 clonedCol" data-cloned-index="0">
                            <div class="wrap-img ">
                                <img src="assets/images/1.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div><div class="col-md-12 col-lg-15 cloneditem-2 clonedCol" data-cloned-index="1">
                            <div class="wrap-img ">
                                <img src="assets/images/2.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div><div class="col-md-12 col-lg-15 cloneditem-3 clonedCol" data-cloned-index="2">
                            <div class="wrap-img ">
                                <img src="assets/images/3.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div><div class="col-md-12 col-lg-15 cloneditem-4 clonedCol" data-cloned-index="3">
                            <div class="wrap-img ">
                                <img src="assets/images/4.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div></div>
                </div></div>
            <div class="carousel-controls">
                <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#clients-8-carousel">
                    <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#clients-8-carousel">
                    <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
