<!-- Team -->
<section id="pimpinan_universitas" class="py-5">
    <div class="container my-5">
        <h2 class="section-title">PIMPINAN UNIVERSITAS</h2>
        <div class ="row">
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
              <div class="mainflip ">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center mt-5 ">
                              <p><%= image_tag('Rektor.png', class:"img-fluid") %></p>
                              <h4 class="card-title">Dr. H. Abd. Azis DP, SH, MH</h4>
                              <p class="card-text">Rektor</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
        </div>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="mainflip">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center mt-5">
                              <p><%= image_tag('D FKIP.png', class:"img-fluid") %></p>
                              <h4 class="card-title">Dr. H. Mustain Thahir, M.Pd</h4>
                              <p class="card-text">Dekan Fakultas Keguruan Dan Ilmu Pendidikan</p>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="mainflip">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center mt-5">
                              <p><%= image_tag('D Teknik.png', class:"img-fluid") %></p>
                              <h4 class="card-title">Ir. Rafiuddin, M.T</h4>
                              <p class="card-text">Dekan Fakultas Teknik</p>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="mainflip">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center mt-5">
                              <p><%= image_tag('D Sospol.png', class:"img-fluid") %></p>
                              <h4 class="card-title">Dr. Rahman, S.E, M.Si</h4>
                              <p class="card-text">Dekan Fakultas Ilmu Sosial Dan Politik</p>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <!-- ./Team member -->
        </div>
        <div class="row justify-content-center">
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center mt-5">
                            <p><%= image_tag('D Eko.png', class:"img-fluid") %></p>
                            <h4 class="card-title">Dr. Marwan A. Buhaerah, S.E, M.M</h4>
                            <p class="card-text">Dekan Fakultas Ekonomi</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center mt-5">
                            <p><%= image_tag('D FKM.png', class:"img-fluid") %></p>
                            <h4 class="card-title">Dr. Arlin Adam, S.K.M, M.Kes</h4>
                            <p class="card-text">Dekan Fakultas Kesehatan Masyarakat</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- ./Team member -->
        </div>
    </div>
</section>
<!-- Team -->
