<section id="sambutan_rektor ">
  <div class="aboutus-section my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">Sambutan Rektor</h2>
                        <p class="aboutus-text">Assalamualaikum, salam sejahterah bagi kita semua</p>
                        <p class="aboutus-text">Selamat Datang Di Web Resmi Kami. Disini kami ingin memperkenalkan kampus tercinta kami UPRI kepada putra putri terbaik indonesia dan dunia</p>
                        <p class="aboutus-text">Mari bergabung dengan kami, belajar, berkarya, maksimalkan semua potensi anda dan raihlah masa depan yang lebih baik</p>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">

                                <div class="feature-content">
                                    <h4>Bekerja Dengan Hati</h4>
                                    <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">

                                <div class="feature-content">
                                    <h4>Sarana Dan Prasarana Yang Baik</h4>
                                    <p>Donec vitae sapien ut libero venenatis faucibu. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">

                                <div class="feature-content">
                                    <h4>Dukungan Terbaik</h4>
                                    <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
