<section id="sejarah_upri">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h4>Sejarah UPRI</h4>
      </div>
      <div class="col-6">

      </div>
      <div class="col-6">

      </div>
    </div>
  </div>
</section>
