<section id="timeline">
  <div class="container my-5">
      <div class="page-header text-center">
        <h4 id="timeline">FAKULTAS DAN PROGRAM STUDI</h4>
      </div>
      <ul class="timeline">
          <li>
            <div class="timeline-badge bg-success"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="timeline-title">KEGURUAN DAN ILMU PENDIDIKAN</h5>
              </div>
              <div class="timeline-body">
                <div class="embed-responsive embed-responsive-16by9 my-2">
                  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/qYsTMxCT0gA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <p>Program Studi :</p>
                <ul class="nav flex-column">
                  <li class="nav-item">1. Pendidikan Pancasila & Kewarganegaraan</li>
                  <li class="nav-item">2. Pendidikan Matematika</li>
                  <li class="nav-item">3. Pendidikan Biologi</li>
                  <li class="nav-item">4. Pendidikan Sejarah</li>
                  <li class="nav-item">5. Pendidikan Teknologi</li>
                  <li class="nav-item">4. Pendidikan Sejarah</li>
                </ul>

              </div>

            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge bg-kuning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="timeline-title">ILMU SOSIAL DAN POLITIK</h5>
              </div>
              <div class="timeline-body">
                <p>Program Studi :</p>
                <ul class="nav flex-column">
                  <li class="nav-item">1. Ilmu Administrasi Negara</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;Bidang Keahlian:</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Administrasi Perpajakan</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Administrasi Publik</li>
                  <li class="nav-item">2. Komunikasi</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;Bidang Keahlian:</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Jurnalistik</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Hubungan Masyarakat(Public Relation)</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Media Kreatif dan Perfilman</li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge bg-biru"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="timeline-title">TEKNIK</h5>
              </div>
              <div class="timeline-body">
                <div class="embed-responsive embed-responsive-16by9 my-2">
                  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/lZ-i94P1RM4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <p>Program Studi :</p>
                <ul class="nav flex-column">
                  <li class="nav-item">1. Teknik Pertambangan</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;Bidang Keahlian:</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   1. Tambang Umum</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   2. Tambang Eksplorasi</li>
                  <li class="nav-item">2. Teknik Mesin</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;Bidang Keahlian:</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Mesin Pertambangan</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Mesin Konstruksi</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Mesin Konversi</li>
                  <li class="nav-item">3. Teknik Informatika</li>
                </ul>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-badge bg-danger"><i class="glyphicon glyphicon-floppy-disk"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="timeline-title">EKONOMI</h5>
              </div>
              <div class="timeline-body">
                <p>Program Studi :</p>
                <ul class="nav flex-column">
                  <li class="nav-item">1. Manajemen</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;Bidang Keahlian:</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Manajemen Keuangan</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Manajemen Pemasaran</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Manajemen SDM</li>
                  <li class="nav-item">2. Akuntansi</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;Bidang Keahlian:</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Akuntansi Keuangan & Audit</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Akuntansi Syariah</li>
                  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Akuntansi Keuangan Daerah</li>
                </ul>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-badge bg-ungu"><i class="glyphicon glyphicon-thumbs-up"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="timeline-title">KESEHATAN MASYARAKAT</h5>
              </div>
              <div class="timeline-body">
                <div class="embed-responsive embed-responsive-16by9 my-2">
                  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/FLnmXeoKVM0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <p>Bidang Keahlian :</p>
                <ul class="nav flex-column">
                  <li class="nav-item">1. Epidemiologi</li>
                  <li class="nav-item">2. Promosi Kesehatan</li>
                  <li class="nav-item">3. Administrasi Kebijakan Kesehatan</li>
                  <li class="nav-item">4. Gizi Kesehatan Masyarakat</li>
                  <li class="nav-item">5. Administrasi Kesehatan Masyarakat</li>
                  <li class="nav-item">6. Kesehatan dan Keselamatan Kerja</li>
                  <li class="nav-item">7. Kesehatan Reproduksi</li>
                  <li class="nav-item">8. K3 Pertambangan</li>
                </ul>
              </div>
            </div>
          </li>
      </ul>
  </div>
</section>
