<section class="my-5 p-5" id="visi_misi">
  <div class="col-8 mx-auto text-center mb-5">
    <header>
        <h1 class="line-title">Visi</h1>
    </header>
    <article>
      Mewujudkan Universitas Pejuang Republik Indonesia Sebagai Pelopor Pembangunan Berbasis Kejuangan
    </article>
  </div>
  <div class="col-8 mx-auto text-center ">
    <header>
        <h1 class="line-title ">Misi</h1>
    </header>
    <article class="mb-2">
      Menghasilkan Luaran Yang Berdaya Saing dan Berjiwa Kejuangan Pembelajaran Berkualitas
    </article>
    <article class="mb-2">
      Penerapan Sistem Digital Dalam Bidang Akademik, Keuangan, Dan Kemahasiswaan
    </article>
    <article>
      Meningkatkan Hasil Penelitian dan Pengabdian Melalui Program Terencana, Terintegrasi, dan Berkelanjutan
    </article>
  </div>

</section>
