<section class="section">
    <div class="columns">
        <div class="column">
            <%= simple_form_for [@lecture, @reviewer] do |reviewer| %>
              <%#= render 'shared/errors', object: reviewer %>
              <%= reviewer.label :year, "Tahun" %>
              <%= reviewer.input :year,label:false, wrapper: :text_bulma_small %>

              <%= reviewer.label :review, "Judul" %>
              <%= reviewer.input :review, label:false, wrapper: :text_bulma_small %>

              <%= reviewer.label :publisher, "Penerbit/Jurnal" %>
              <%= reviewer.input :publisher,label:false, wrapper: :text_bulma_small %>

              <div class="buttons is-right">
                <%= reviewer.submit "Simpan", class: "button is-success"%>
                <%= link_to "Kembali", lecture_path(@lecture, type:"PENYUNTING"), class: "button is-danger"%>
              </div>
            <% end %>
        </div>
    </div>
</section>
