<section class="section" id="daftar">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-header has-text-centered">
            <div class="card-header-title">
                Dosen
            </div>
        </div>
        <div class="card-content">
          <%= link_to "Daftar", new_user_registration_path(type_check: "Dosen"), class: "button is-warning" %>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-header has-text-centered">
            <div class="card-header-title">
                Mahasiswa
            </div>
        </div>
        <div class="card-content">
          <%= link_to "Daftar", new_user_registration_path(type_check: "Mahasiswa"), class: "button is-warning" %>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-header has-text-centered">
            <div class="card-header-title">
                Staf
            </div>
        </div>
        <div class="card-content">
          <%= link_to "Daftar", new_user_registration_path(type_check: "Staff"), class: "button is-warning" %>
        </div>
      </div>
    </div>
  </div>

</section>
