<section class="hero" style="font-family: Exo\ 2,sans-serif; background-color: #FFFF00;">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-3 has-text-centered" style="text-shadow: 2px 2px #ffffff;">FAKULTAS TEKNIK</h1>
        <h1 class="title is-2 has-text-centered" style="text-shadow: 2px 2px #ffffff;">UNIVERSITAS PEJUANG REPUBLIK INDONESIA</h1>
        <h3 class="subtitle is-3 has-text-centered" style="text-shadow: 2px 2px #ffffff;" >Tahun Akademik 2020/2021</h3>
        <br />
        <div class="columns">
          <div class="column">
            <div class="card">
                <div class="card-header ">
                  <div class="card-header-title is-centered">
                      Teknik Pertambangan
                  </div>
                </div>
                <div class="card-body">
                  <div class="content">
                    <ol>
                      <li>Registrasi Rp 350.0000,</li>
                      <li>Sumbangan Rp 5.500.000,</li>
                      <li>BPP Rp 4.000.000,</li>
                    </ol>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="card-footer-item">
                      Total Rp 9.850.000,
                  </div>
                </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
                <div class="card-header ">
                  <div class="card-header-title is-centered">
                      Teknik Mesin
                  </div>
                </div>
                <div class="card-body">
                    <div class="content">
                      <ol>
                        <li>Registrasi Rp 350.0000,</li>
                        <li>Sumbangan Rp 3.500.000,</li>
                        <li>BPP Rp 2.750.000,</li>
                      </ol>
                    </div>
                </div>
                <div class="card-footer">
                  <div class="card-footer-item">
                      Total Rp 6.600.000,
                  </div>
                </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
                <div class="card-header ">
                  <div class="card-header-title is-centered">
                      Teknik Informatika
                  </div>
                </div>
                <div class="card-body">
                    <div class="content">
                      <ol>
                        <li>Registrasi Rp 350.0000,</li>
                        <li>Sumbangan Rp 3.500.000,</li>
                        <li>BPP Rp 2.500.000,</li>
                      </ol>
                    </div>
                </div>
                <div class="card-footer">
                  <div class="card-footer-item">
                      Total Rp 6.350.000,
                  </div>
                </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <p class="has-text-centered"><%= link_to "Daftar Mahasiswa Baru", new_user_registration_path(check:"Mahasiswa Baru"), class: "button is-default is-large is-success is-inline", data: {tooltip:"Tooltip Text"} %></p>

        </div>
      </div>
      <br />
      <br />

</section>
<section class="kabar_teknik">
  <div class="container">
    <div class="notification" style="background-color: white;">
      <% if @campus_newspapers.present? %>
      <h2 class="subtitle">KABAR TEKNIK</h2>
      <% end %>
      <!-- font-family: Titillium Web,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif; -->
      <% @campus_newspapers.limit(1).each do |campus_newspaper| %>
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64 is-rounded">
              <% if campus_newspaper.attachment.attached? %>
                <% if campus_newspaper.attachment.representable? %>
                  <%= image_tag campus_newspaper.attachment.representation(resize:"64x64") %>
                <% end %>
              <% end %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= campus_newspaper.try(:judul) %></strong> <small><%#= campus_newspaper.user_id %></small> <small><%= time_ago_in_words(campus_newspaper.created_at) %></small>
                <br>
                <%= truncate(campus_newspaper.try(:isi), :length => 200, :omission => '...'){link_to "selengkapnya", kabar_teknik_path, class:'has-text-link'}  %>
              </p>
            </div>
          </div>
        </article>
      </div>
      <% end %>
    </div>
  </div>
</section>


<footer class="footer">
  <div class="content">
    <div class="column is-centered has-text-centered is-vcentered ">
      <p class="subtitle is-6 has-text-grey-dark">YAYASAN PERGURUAN TINGGI KARYA DHARMA</p>
      <p class="has-text-grey-dark"><%= Time.now.strftime("%Y") %></p>
    </div>
  </div>
</footer>
