
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card mb-5">
          <div class="card-header ">
            <h6>Info</h6>
          </div>
          <div class="card-body">
            <dd>
            <h6>Pengisian Biodata Buku Induk Teknik 2018 <small>Dibuat 1 April 2018</small></h6>

              <p>Dalam rangka pemutakhiran data dan peningkatan pelayanan ruang lingkup Fakultas Teknik Upri Kami mengimbau kepada seluruh mahasiswa aktif untuk segera melakukan registrasi online di website ini dengan mengklik tombol registrasi berikut</p>
              <p>Waktu Registrasi mulai dari <span class="badge badge-danger">4 April sampai dengan 25 April 2018</span></p>
              <p>Bila ada hal hal yang ingin ditanyakan lebih lanjut mohon hubungi WA: 085240875555</p>
            </dd>
          </div>
          <div class="card-footer d-flex my-auto justify-content-between">
          </div>
        </div>
    </div>
  </div>
</div>
