
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card mb-5">
          <div class="card-header ">
            <h6 class="p-2">Jadwal Kuliah Fakultas Teknik UPRI</h6>
          </div>
          <div class="card-body">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-jadwalkuliahtambang-tab" data-toggle="tab" href="#nav-jadwalkuliahtambang" role="tab" aria-controls="nav-jadwalkuliahtambang" aria-selected="true">Tambang</a>
                <a class="nav-item nav-link" id="nav-jadwalkuliahmesin-tab" data-toggle="tab" href="#nav-jadwalkuliahmesin" role="tab" aria-controls="nav-jadwalkuliahmesin" aria-selected="false">Mesin</a>
                <a class="nav-item nav-link" id="nav-jadwalkuliahinformatika-tab" data-toggle="tab" href="#nav-jadwalkuliahinformatika" role="tab" aria-controls="nav-jadwalkuliahinformatika" aria-selected="false">Informatika</a>
              </div>
            </nav>
            <br />
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-jadwalkuliahtambang" role="tabpanel" aria-labelledby="nav-jadwalkuliahtambang-tab">
                <% if @semua_jadwalkuliah_tambang.present? %>
                <% if user_signed_in? && current_user.is_staf? %>
                  <%= link_to "Buat Jadwal Kuliah", new_schedule_subject_path(teknik: "pertambangan"), class: "btn btn-success my-2" %>
                <% end %>
                <table class="table table-stripped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">HARI</th>
                      <th class="text-center">JAM</th>
                      <th class="text-center">MATAKULIAH</th>
                      <th class="text-center">SMTR</th>
                      <th class="text-center">DOSEN 1</th>
                      <th class="text-center">DOSEN 2</th>
                      <th class="text-center">RUANG</th>
                      <% if user_signed_in? && current_user.is_staf? %>
                        <th colspan="2"  class="text-center">AKSI</th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% @semua_jadwalkuliah_tambang.each do |t| %>
                    <tr>
                      <td class="text-center"><%= t.hari %></td>
                      <td class="text-center"><%= t.jam %></td>
                      <td class="text-center"><%= t.subject.matakuliah.upcase rescue nil %></td>
                      <td class="text-center"><%= t.subject.semester rescue nil %></td>
                      <td class="text-center"><%= link_to t.dummy_lecture_1.nama_dengan_gelar.upcase, edit_dummy_lecture_path(id: t.dummy_lecture_1_id) rescue nil %></td>
                      <td class="text-center"><%= link_to t.dummy_lecture_2.nama_dengan_gelar.upcase, edit_dummy_lecture_path(id: t.dummy_lecture_1_id) rescue nil %></td>
                      <td class="text-center"><%= t.ruang rescue nil %></td>
                      <% if user_signed_in? && current_user.is_staf? %>
                        <td class="text-center"><%= link_to icon_edit(""), edit_schedule_subject_path(t) %></td>
                        <td class="text-center"><%= link_to icon_delete(""), schedule_subject_path(t), method: :delete, data: {confirm: "Anda Yakin Hapus?"} %></td>
                      <% end %>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                  Maaf, Data Belum Dibuat <br /><%= link_to "Buat Jadwal Kuliah", new_schedule_subject_path(teknik: "pertambangan"), class: "btn btn-success" if user_signed_in? && current_user.is_staf? %>
                <% end %>
              </div>
              <div class="tab-pane fade table-responsive" id="nav-jadwalkuliahmesin" role="tabpanel" aria-labelledby="nav-jadwalkuliahmesin-tab">
                <% if @semua_jadwalkuliah_mesin.present? %>
                  <% if user_signed_in? && current_user.is_staf? %>
                    <%= link_to "Buat Jadwal Kuliah", new_schedule_subject_path(teknik: "mesin"), class: "btn btn-success my-2" %>
                  <% end %>
                  <table class="table table-stripped table-hover table-bordered table-sm">
                    <thead class="thead-light">
                      <tr>
                        <th class="text-center">HARI</th>
                        <th class="text-center">JAM</th>
                        <th class="text-center">MATAKULIAH</th>
                        <th class="text-center">SMTR</th>
                        <th class="text-center">DOSEN 1</th>
                        <th class="text-center">DOSEN 2</th>
                        <th class="text-center">RUANG</th>
                        <% if user_signed_in? && current_user.is_staf? %>
                          <th colspan="2"  class="text-center">AKSI</th>
                        <% end %>
                      </tr>
                    </thead>
                    <tbody>
                      <% @semua_jadwalkuliah_mesin.group_by(&:hari).each do |hari, items| %>
                      <tr>
                        <td class="text-center" rowspan="<%= items.pluck(:id).size + 1 %>"><%= hari %> </td>
                        <% items.each do |m| %>
                        <tr>
                          <td class="text-center"><%= m.jam %></td>
                          <td class="text-center"><%= m.subject.matakuliah.upcase rescue nil %></td>
                          <td class="text-center"><%= m.subject.semester rescue nil %></td>
                          <td class="text-center"><%= link_to m.dummy_lecture_1.nama_dengan_gelar.upcase, edit_dummy_lecture_path(id: m.dummy_lecture_1_id) rescue nil %></td>
                          <td class="text-center"><%= link_to m.dummy_lecture_2.nama_dengan_gelar.upcase, edit_dummy_lecture_path(id: m.dummy_lecture_2_id) rescue nil %></td>
                          <td class="text-center"><%= m.ruang rescue nil %></td>
                          <% if user_signed_in? && current_user.is_staf? %>
                            <td class="text-center"><%= link_to icon_edit(""), edit_schedule_subject_path(m) %></td>
                            <td class="text-center"><%= link_to icon_delete(""), schedule_subject_path(m), method: :delete, data: {confirm: "Anda Yakin Hapus?"} %></td>
                          <% end %>
                        </tr>
                        <% end %>

                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% else %>
                  Maaf, Data Belum Dibuat <br /> <%= link_to "Buat Jadwal Kuliah", new_schedule_subject_path(teknik: "mesin"), class: "btn btn-success" if user_signed_in? && current_user.is_staf? %>
                <% end %>
              </div>
              <div class="tab-pane fade" id="nav-jadwalkuliahinformatika" role="tabpanel" aria-labelledby="nav-jadwalkuliahinformatika-tab">
                <% if @semua_jadwalkuliah_informatika.present? %>
                <% if user_signed_in? && current_user.is_staf? %>
                  <%= link_to "Buat Jadwal Kuliah", new_schedule_subject_path(teknik: "informatika"), class: "btn btn-success my-2" %>
                <% end %>
                <table class="table table-stripped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">HARI</th>
                      <th class="text-center">JAM</th>
                      <th class="text-center">MATAKULIAH</th>
                      <th class="text-center">SMTR</th>
                      <th class="text-center">DOSEN 1</th>
                      <th class="text-center">DOSEN 2</th>
                      <th class="text-center">RUANG</th>
                      <% if user_signed_in? && current_user.is_staf? %>
                        <th colspan="2"  class="text-center">AKSI</th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% @semua_jadwalkuliah_informatika.each do |i| %>
                    <tr>
                      <td class="text-center"><%= i.hari %></td>
                      <td class="text-center"><%= i.jam %></td>
                      <td class="text-center"><%= i.subject.matakuliah.upcase rescue nil %></td>
                      <td class="text-center"><%= i.subject.semester rescue nil %></td>
                      <td class="text-center"><%= link_to i.dummy_lecture_1.nama_dengan_gelar.upcase, edit_dummy_lecture_path(id: i.dummy_lecture_1_id) rescue nil %></td>
                      <td class="text-center"><%= link_to i.dummy_lecture_2.nama_dengan_gelar.upcase, edit_dummy_lecture_path(id: i.dummy_lecture_2_id) rescue nil %></td>
                      <td class="text-center"><%= i.ruang rescue nil %></td>
                      <% if user_signed_in? && current_user.is_staf? %>
                        <td class="text-center"><%= link_to icon_edit(""), edit_schedule_subject_path(i) %></td>
                        <td class="text-center"><%= link_to icon_delete(""), schedule_subject_path(i), method: :delete, data: {confirm: "Anda Yakin Hapus?"} %></td>
                      <% end %>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                  Maaf, Data Belum Dibuat <br /><%= link_to "Buat Jadwal Kuliah", new_schedule_subject_path(teknik: "informatika"), class: "btn btn-success" if user_signed_in? && current_user.is_staf? %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex my-auto justify-content-between">
          </div>
        </div>
    </div>
  </div>
</div>
