<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card mb-5">
          <div class="card-header ">
            <h6>Kalendar Akademik Semester Genap TA 2017/2018</h6>
          </div>
          <div class="card-body">
            <h6> Surat Keputusan Dekan No 153/D-FT/UPRI/I/2018</h6><br />
              <ul class="list-group">
                <li class="list-group-item">1. Pembayaran BPP untuk pendaftaran ulang (registrasi) Semester Genap TA 2017/2018 dimulai tanggal <span class="badge badge-success">22 Januari s/d 28 Februari 2018</span></li>
                <li class="list-group-item">2. Blangko Pembayaran BPP dapat diambil di tata usaha bagian keuangan Fakultas Teknik dan membayarkan pada Bank BRI</li>
                <li class="list-group-item">3. Kartu Rencana Studi (KRS) dapat diberikan apabila sudah melunasi pembayran BPP sampai dengan semester genap TA 2017/2018</li>
                <li class="list-group-item">4. Bagi mahasiswa yang terlambat membayar BPP / daftar ulang sesuai jadwal point 1, disarankan untuk <span class="badge badge-danger">Cuti Akademik</span></li>
                <li class="list-group-item">5. Cuti Akademik dapat diberikan apabila mengajukan Surat Permohonan Cuti yang disetujui oleh Ketua Jurusan dan Dekan paling lambat <span class="badge badge-warning">22 Januari s/d 28 Februari 2018</span></li>
                <li class="list-group-item">6. Bagi mahasiswa yang terlambat membayar BPP/ daftar ulang sesuai jadwal pada point 1, dan tidak mengurus Surat Cuti Akademik dinyatakan <span class="badge badge-dark">tidak terdaftar pada Pangkalan Data Perguruan Tinggi (PDPT)</span></li>
                <li class="list-group-item">7. Kegiatan perwalian (Pengambilan, Pengisian, Dan Pengembalian KRS) dimulai tanggal <span class="badge badge-success">22 Januari s/d 28 Februari 2018</span></li>
                <li class="list-group-item">8. Perkuliahan dimulai tanggal <span class="badge badge-primary">5 Maret s/d 7 Juli 2018</span></li>
                <li class="list-group-item">9. Pembatalan Mata Kuliah dimulai tanggal <span class="badge badge-primary">5 Maret s/d 10 Maret 2018</span></li>
                <li class="list-group-item">10. Ujian Peningkatan Mutu (Final Tes) Semester Genap TA 2017/2018 akan dilaksanakan mulai tanggal <span class="badge badge-primary">16 Juli 2018</span></li>
              </ul>
          </div>
          <div class="card-footer d-flex my-auto justify-content-between">
          </div>
        </div>
    </div>
  </div>
</div>
