
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card mb-5">
          <div class="card-header ">
            <h6 class="p-2">Daftar Mata Kuliah Fakultas Teknik UPRI</h6>
          </div>
          <div class="card-body">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-matakuliahtambang-tab" data-toggle="tab" href="#nav-matakuliahtambang" role="tab" aria-controls="nav-matakuliahtambang" aria-selected="true">Tambang</a>
                <a class="nav-item nav-link" id="nav-matakuliahmesin-tab" data-toggle="tab" href="#nav-matakuliahmesin" role="tab" aria-controls="nav-matakuliahmesin" aria-selected="false">Mesin</a>
                <a class="nav-item nav-link" id="nav-matakuliahinformatika-tab" data-toggle="tab" href="#nav-matakuliahinformatika" role="tab" aria-controls="nav-matakuliahinformatika" aria-selected="false">Informatika</a>
              </div>
            </nav>
            <br />
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-matakuliahtambang" role="tabpanel" aria-labelledby="nav-matakuliahtambang-tab">
                <% if @semua_matakuliah_tambang.present? %>
                <%= link_to "Buat Mata Kuliah", new_subject_path(teknik: "pertambangan"), class: "btn btn-success my-2" %>
                <table class="table table-stripped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">SEMESTER</th>
                      <th class="text-center">SKS</th>
                      <th class="text-center">KODE</th>
                      <th class="text-center">STATUS</th>
                      <th>MATA KULIAH</th>
                      <th>KONSENTRASI</th>
                      <th colspan="2"  class="text-center">AKSI</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @semua_matakuliah_tambang.each do |t| %>
                    <tr>
                      <td class="text-center"><%= t.semester %></td>
                      <td class="text-center"><%= t.kredit %></td>
                      <td class="text-center"><%= t.kode.upcase rescue nil %></td>
                      <td class="text-center"><%= t.status.upcase rescue nil %></td>
                      <td><%= t.matakuliah.upcase rescue nil %></td>
                      <td><%= t.konsentrasi.upcase rescue nil %></td>
                      <td class="text-center"><%= link_to icon_edit(""), edit_subject_path(t) %></td>
                      <td class="text-center"><%= link_to icon_delete(""), subject_path(t), method: :delete, data: {confirm: "Anda Yakin Hapus?"} %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                  Maaf, Data Belum Dibuat <br /><%= link_to "Buat Mata Kuliah", new_subject_path(teknik: "pertambangan"), class: "btn btn-success" %>
                <% end %>
              </div>
              <div class="tab-pane fade table-responsive" id="nav-matakuliahmesin" role="tabpanel" aria-labelledby="nav-matakuliahmesin-tab-tab">
                <% if @semua_matakuliah_mesin.present? %>
                  <%= link_to "Buat Mata Kuliah", new_subject_path(teknik: "mesin"), class: "btn btn-success my-2" %>
                  <table class="table table-stripped table-hover table-bordered table-sm">
                    <thead class="thead-light">
                      <tr>
                        <th class="text-center">SEMESTER</th>
                        <th class="text-center">SKS</th>
                        <th class="text-center">KODE</th>
                        <th class="text-center">STATUS</th>
                        <th>MATA KULIAH</th>
                        <th colspan="2" class="text-center">AKSI</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @semua_matakuliah_mesin.each do |m| %>
                      <tr>
                        <td class="text-center"><%= m.semester %></td>
                        <td class="text-center"><%= m.kredit %></td>
                        <td class="text-center"><%= m.kode.upcase rescue nil %></td>
                        <td class="text-center"><%= m.status.upcase rescue nil %> <%= m.konsentrasi.upcase rescue nil %></td>
                        <td><%= m.matakuliah.upcase rescue nil %></td>
                        <td class="text-center"><%= link_to icon_edit(""), edit_subject_path(m) %></td>
                        <td class="text-center"><%= link_to icon_delete(""), subject_path(m), method: :delete, data: {confirm: "Anda Yakin Hapus?"} %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% else %>
                  Maaf, Data Belum Dibuat <br /> <%= link_to "Buat Mata Kuliah", new_subject_path(teknik: "mesin"), class: "btn btn-success" %>
                <% end %>
              </div>
              <div class="tab-pane fade" id="nav-matakuliahinformatika" role="tabpanel" aria-labelledby="nav-matakuliahinformatika-tab-tab">
                <% if @semua_matakuliah_informatika.present? %>
                <%= link_to "Buat Mata Kuliah", new_subject_path(teknik: "informatika"), class: "btn btn-success my-2" %>
                <table class="table table-stripped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">SEMESTER</th>
                      <th class="text-center">SKS</th>
                      <th class="text-center">KODE</th>
                      <th class="text-center">STATUS</th>
                      <th>MATA KULIAH</th>
                      <th colspan="2" class="text-center">AKSI</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @semua_matakuliah_informatika.each do |i| %>
                    <tr>
                      <td class="text-center"><%= i.semester %></td>
                      <td class="text-center"><%= i.kredit %></td>
                      <td class="text-center"><%= i.kode.upcase rescue nil %></td>
                      <td class="text-center"><%= i.status.upcase rescue nil %></td>
                      <td><%= i.matakuliah.upcase rescue nil %></td>
                      <td class="text-center"><%= link_to icon_edit(""), edit_subject_path(i) %></td>
                      <td class="text-center"><%= link_to icon_delete(""), subject_path(i), method: :delete, data: {confirm: "Anda Yakin Hapus?"} %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                  Maaf, Data Belum Dibuat <br /><%= link_to "Buat Mata Kuliah", new_subject_path(teknik: "informatika"), class: "btn btn-success" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex my-auto justify-content-between">
          </div>
        </div>
    </div>
  </div>
</div>
