<div class="card">
    <div class="card-header has-background-white-ter">
      <div class="card-header-title">
          DAFTAR KARTU RENCANA STUDI
      </div>
    </div>
    <div class="card-content" id="tableIndex">
      <% if @subject_plans.present? %>
        <%= render partial: "subject_plans/index/table_#{current_user.type.downcase.pluralize}" %>
      <% else %>
          Maaf data belum ada
      <% end %>
    </div>
</div>
