<div class="card">
    <div class="card-header has-background-white-ter">
      <div class="card-header-title">
          DAFTAR KARTU RENCANA STUDI
      </div>
      <div class="card-header-icon">
        <%= form_tag subject_plans_path, method: :get do %>
            <div class="field has-addons">
              <div class="control">
                <%= text_field_tag :search, params[:search], placeholder: "--cari kata--", class: "input is-small is-fullwidth"  %>
              </div>
              <div class="control">
                <%= submit_tag "Cari", name:nil, class: "button is-success is-small" %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <div class="card-content" id="tableIndex">
      <% if @subject_plans.present? %>
        <%= render partial: "subject_plans/index/table_#{current_user.type.downcase.pluralize}" %>
      <% else %>
          Maaf data belum ada
      <% end %>
    </div>
</div>
