<div class="card">
    <div class="card-header has-background-white-ter">
      <div class="card-header-title">
          DAFTAR KARTU RENCANA STUDI
      </div>
      <% unless current_academic_year.semester == "Pendek" && @subject_plan_semester_pendek.present? %>
      <div class="card-header-icon">
          <%= link_to "Tambah", new_subject_plan_path, class:'button is-success is-small' %>
      </div>
      <% end %>
    </div>
    <div class="card-content" id="tableIndex" >
      <% if @subject_plans.present? %>
        <%= render partial: "subject_plans/index/table_#{current_user.type.downcase.pluralize}" %>
      <% else %>
          Maaf data belum ada
      <% end %>
    </div>
</div>
