<div class="level">
    <div class="level-right">
      <%= paginate @subject_plans, remote: true %>
    </div>
</div>
<div class="table-container">
  <table class="table is-fullwidth is-hoverable is-striped is-narrow is-bordered">
    <thead>
      <tr>
          <th class="has-text-centered">Nama</th>
          <th class="has-text-centered">NIM</th>
          <th class="has-text-centered">Prodi</th>
          <th class="has-text-centered">Semester</th>
          <th class="has-text-centered">Tahun Akademik</th>
          <th class="has-text-centered">Bayar</th>
          <th class="has-text-centered">IPK</th>
          <th class="has-text-centered">SKS</th>
          <th class="has-text-centered">Upload</th>
          <th colspan="2" class="has-text-centered"></th>
          <% if current_user.email =="kingmalprax@gmail.com" %>
          <th class="has-text-centered"></th>
          <% end %>
      </tr>
    </thead>
    <tbody>
      <% @subject_plans.each_with_index do |subject_plan| %>
        <tr>
          <td class="has-text-centered" style="vertical-align:middle;"><%= link_to subject_plan.student.student_profile.nama.titleize, subject_plan  rescue nil %></td>
          <td class="has-text-centered" style="vertical-align:middle;"><%= subject_plan.student.student_profile.nomor_induk_mahasiswa rescue nil %></td>
          <td class="has-text-centered" style="vertical-align:middle;"><%= subject_plan.student.major.name rescue nil %></td>
          <td class="has-text-centered" style="vertical-align:middle;"><%= subject_plan.academic_year.semester rescue nil %></td>
          <td class="has-text-centered" style="vertical-align:middle;"><%= link_to subject_plan.academic_year.name, subject_plan rescue nil %></td>
          <td class="has-text-centered" style="vertical-align:middle;"><%= subject_plan.student.payments.find_by_academic_year_id(subject_plan.academic_year_id).is_approved? ? icon_check('') : icon_times('') rescue nil %></td>
          <td class="has-text-centered" style="vertical-align:middle;"></td>
          <td class="has-text-centered" style="vertical-align:middle;"><%= subject_plan.subjects.sum(:kredit) rescue nil %></td>
          <td class="has-text-centered" style="vertical-align:middle;">
            <% if subject_plan.subject_plan_file.attached? %>
                <% if subject_plan.subject_plan_file.representable? %>
                  <%= link_to image_tag(subject_plan.subject_plan_file.representation(resize: "80x50")), rails_blob_path(subject_plan.subject_plan_file, disposition: "attachment") %>
                <% end %>
            <% else %>
                <%= link_to icon_upload(''), edit_subject_plan_path(subject_plan, type:"upload_krs") %>
            <% end %>
          </td>
          <% if current_user.email == "kingmalprax@gmail.com" || "bungahati.2310@gmail.com" %>
          <td class="has-text-centered" style="vertical-align:middle;"><%= check_approve_with_link(subject_plan, approve_one_subject_plan_path(subject_plan), :put)  %></td>
          <% else %>
          <td class="has-text-centered" style="vertical-align:middle;"><%= check_approve(subject_plan)  %></td>
          <% end %>
          <td class="has-text-centered" style="vertical-align:middle;"><%= link_to_if subject_plan.is_approved?, icon_print(''), print_subject_plan_path(subject_plan, format: :pdf), target: :_blank, class: "button is-danger is-small" %></td>
          <!-- <td class="has-text-centered" style="vertical-align:middle;"><%#= link_to icon_edit(''), edit_subject_plan_path(subject_plan) %></td> -->
          <% if current_user.email =="kingmalprax@gmail.com" %>
          <td class="has-text-centered" style="vertical-align:middle;"><%= link_to icon_delete(''), subject_plan_path(subject_plan), method: :delete, data:{confirm:"Anda yakin hapus?"} %></td>
          <% end %>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
<p>Catatan:</p>
<p>- Icon <%= icon_print('') %> berubah menjadi <span class="button is-danger is-small"><%= icon_print_button('') %></span> untuk memprint, apabila sudah diperiksa dan dibetulkan oleh bagian akademik</p>
<p>- Status  <%= icon_times('') %> berubah menjadi <%= icon_check('') %> juga apabila sudah diperiksa dan dibetulkan oleh bagian akademik</p>
<p>- Mohon bersabar menunggu hingga status dan ikon nya berubah</p>
<p>- Info perubahan status dapat dicek secara berkala, juga melalui email anda</p>
<p>- Cetak dikertas ukuran A4 tanpa dipotong</p>
<p>- Jangan lupa bubuhkan tanda tangan anda dan penasehat akademik(yang mewakili dari kepala Biro Akademik dan Administrasi Fakultas)</p>
<p>- Scan dan segera upload filenya sesuai dengan data yang dibuat disini </p>
<p>- Klik gambar/foto blanko jika anda ingin mendownload</p>
