<div class="level">
    <div class="level-right">
      <%= paginate @subject_plans, remote: true %>
    </div>
</div>
<div class="table-container" >
  <table class="table is-fullwidth is-hoverable is-striped is-narrow is-bordered">
    <thead>
      <tr>
          <th class="has-text-centered">Semester</th>
          <th class="has-text-centered">Tahun Akademik</th>
          <th class="has-text-centered">SKS</th>
          <th>Penasehat</th>
          <th class="has-text-centered">Upload</th>
          <th class="has-text-centered">Status</th>
          <th colspan="3" class="has-text-centered"></th>
      </tr>
    </thead>
    <tbody>
      <% @subject_plans.each_with_index do |subject_plan| %>
        <tr>
          <td class="has-text-centered" style="vertical-align:middle;"><%= link_to subject_plan.academic_year.semester, subject_plan %></td>
          <td class="has-text-centered" style="vertical-align:middle;"><%= subject_plan.academic_year.name %></td>
          <td class="has-text-centered" style="vertical-align:middle;"><%= subject_plan.subjects.sum(:kredit) %></td>
          <td style="vertical-align:middle;"><%= subject_plan.penasehat_akademik %></td>
          <td class="has-text-centered" style="vertical-align:middle;">
            <% if subject_plan.subject_plan_file.attached? %>
                <% if subject_plan.subject_plan_file.representable? %>
                  <%= link_to image_tag(subject_plan.subject_plan_file.representation(resize: "80x50")), rails_blob_path(subject_plan.subject_plan_file, disposition: "attachment") %>
                <% end %>
            <% else %>
                <%= link_to icon_upload(''), edit_subject_plan_path(subject_plan, type:"upload_krs") %>
            <% end %>
          </td>
          <td class="has-text-centered" style="vertical-align:middle;"><%= check_approve(subject_plan) %></td>
          <% unless @academic_year_active.semester == "Pendek" %>
          <td class="has-text-centered" style="vertical-align:middle;"><%= link_to_if subject_plan.is_approved?, icon_print(''), print_subject_plan_path(subject_plan, format: :pdf), target: :_blank, class: "button is-danger is-small" %></td>
          <% else %>
          <td class="has-text-centered" style="vertical-align:middle;"><%= link_to icon_print(''), print_sp_subject_plan_path(subject_plan, format: :pdf), target: :_blank, class: "button is-danger is-small" %></td>
          <% end %>
          <td class="has-text-centered" style="vertical-align:middle;"><%= link_to_if subject_plan.is_not_approved?, icon_edit(''), edit_subject_plan_path(subject_plan) %></td>
          <td class="has-text-centered" style="vertical-align:middle;"><%= link_to_if subject_plan.is_not_approved?, icon_delete(''), subject_plan_path(subject_plan), method: :delete, data:{confirm:"Anda yakin hapus?"} %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
<p>Catatan:</p>
<p>- Icon <%= icon_print('') %> berubah menjadi <span class="button is-danger is-small"><%= icon_print_button('') %></span> untuk memprint, apabila sudah diperiksa dan dibetulkan oleh bagian akademik</p>
<p>- Status  <%= icon_times('') %> berubah menjadi <%= icon_check('') %> juga apabila sudah diperiksa dan dibetulkan oleh bagian akademik</p>
<p>- Mohon bersabar menunggu hingga status dan ikon nya berubah</p>
<p>- Info perubahan status dapat dicek secara berkala, juga melalui email anda</p>
<p>- Cetak dikertas ukuran A4 tanpa dipotong</p>
<p>- Jangan lupa bubuhkan tanda tangan anda dan penasehat akademik(yang mewakili dari kepala Biro Akademik dan Administrasi Fakultas)</p>
<p>- Scan dan segera upload filenya sesuai dengan data yang dibuat disini </p>
<p>- Klik gambar/foto blanko jika anda ingin mendownload</p>
