<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">

          <% if current_user.is_active? %>
          <h3>Selamat Datang</h3><br />
          <p>Akses halaman ini berhasil</p>
          <% else %>
          <h3>Selamat Datang</h3><br />
          <p>Akun Anda Belum Aktif</p><br />
          <p>Untuk mengaktifkannya anda perlu : </p>
          <ol>
            <li>Verifikasi Nomor Handphone Anda</li>
            <li>Menunggu Konfirmasi Admin</li>
            <li>Membayar Uang Pendaftaran, SPP, BPP dan Sumbangan, dan Mengupload Bukti Pembayarannya</li>
          </ol>
          <p>
            <%= link_to "Lengkapi Biodata", edit_mahasiswa_profile_path(current_user.id), class: "btn btn-success" %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
