<div class="navbar-end">
  <%= link_to "Dashboard", staffs_dashboards_path, class: "navbar-item" %>
  <%= link_to "Kabar",campus_newspapers_path, class: "navbar-item" %>
  <%= link_to "Dosen",lecture_lists_path, class: 'navbar-item' %>
  <%= link_to "Mahasiswa", students_path, class:'navbar-item' %>

  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
      Akademik
    </a>
    <div class="navbar-dropdown is-right">
      <%= link_to "Tahun Akademik", academic_years_path, class:"navbar-item" %>
      <%= link_to "Matakuliah", subjects_path, class:"navbar-item" %>
      <%= link_to "KRS",subject_plans_path, class: "navbar-item" %>
      <%= link_to "Jadwal Kuliah",'', class: "navbar-item" %>
    </div>
  </div>
  <%#= link_to "Fasilitas","", class: "navbar-item" %>
  <%#= link_to "Mahasiswa",students_path, class: "navbar-item" %>
  <%= render partial: "navigations/top_navigation/user_account" %>
</div>
