<ul class="navbar-nav mr-auto mt-2 mt-md-0">
  <li><%= link_to "Dashboard", root_url, class: "nav-link" %></li>
  <li><%= link_to "Pribadi", graduate_path(current_user), class: "nav-link" %></li>
  <li><%= link_to "Semua", wisudawan_path, class: "nav-link" %></li>
  <li><%= link_to "Biodata", edit_graduate_path(id: current_user.id), class: "nav-link btn btn-success" %></li>
</ul>
<ul class="navbar-nav mt-2 mt-md-0">
  <% if current_user.name? %>
  <li class="nav-link"><%= current_user.name %></li>
  <% else %>
  <li class="nav-link"><%= current_user.email %></li>
  <% end %>
  <li class="nav-link"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
</ul>
