<div class="navbar-end">
  <%= link_to "Dashboard", lectures_dashboards_path, class: "navbar-item" %>
  <%= link_to "Curriculum Vitae", lecture_path(current_user), class: "navbar-item" %>
  <% if current_user.email == "risabernadip@gmail.com" || "ibrahimdosen@gmail.com" %>
    <%= link_to "Kabar",campus_newspapers_path, class: "navbar-item" %>
    <%#= link_to "Dosen",lectures_path, class: 'navbar-item' %>
    <%= link_to "Mahasiswa", students_path, class:'navbar-item' %>
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        Keuangan
      </a>
      <div class="navbar-dropdown is-right">
        <%#= link_to "Tahun Akademik", academic_years_path, class:"navbar-item" %>
        <%= link_to "Pembayaran", payments_path, class:"navbar-item" %>
        <%#= link_to "KRS",subject_plans_path, class: "navbar-item" %>
        <%#= link_to "Jadwal Kuliah",'', class: "navbar-item" %>
      </div>
    </div>

    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        Akademik
      </a>
      <div class="navbar-dropdown is-right">
        <%#= link_to "Tahun Akademik", academic_years_path, class:"navbar-item" %>
        <%= link_to "Matakuliah", subjects_path, class:"navbar-item" %>
        <%= link_to "KRS",subject_plans_path, class: "navbar-item" %>
        <%#= link_to "Jadwal Kuliah",'', class: "navbar-item" %>
      </div>
    </div>
  <% end %>
  <%= render partial: "navigations/top_navigation/user_account" %>
</div>
