<ul class="navbar-nav mr-sm-2">
  <% if current_user.name %>
    <li><%= link_to current_user.name,"#", class: "text-info nav-link" %></li>
  <% else %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_user.mahasiswa_profile.nama || current_user.email %>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <%= link_to "Edit Password", edit_user_registration_path, class:"dropdown-item" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  <% end %>
</ul>
