<ul class="navbar-nav mr-auto mt-2 mt-md-0">
  <li class="nav-item"><%= link_to "Dashboard", root_url, class: "nav-link" %></li>
  <li class="nav-item"><%= link_to "Biodata", biodata_mahasiswa_path(current_user.id), class: "nav-link" %></li>
  <li class="nav-item"><%= link_to "Dokumen", mahasiswa_documents_path(current_user.id), class: "nav-link" %></li>
  <li class="nav-item"><%#= link_to "Nilai", "#", class: "nav-link" %></li>
  <li class="nav-item"><%#= link_to "Jadwal Kuliah", "#", class: "nav-link" %></li>
  <li class="nav-item"><%#= link_to "Surat", "#", class: "nav-link" %></li>
  <li class="nav-item"><%#= link_to "Skripsi", "#", class: "nav-link" %></li>
</ul>
<ul class="navbar-nav mr-sm-2">
  <% if current_user.name %>
    <li class="nav-item"><%= link_to current_user.name,"#", class: "text-info nav-link" %></li>
  <% else %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.email %>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to "Edit Password", edit_user_registration_path, class:"dropdown-item" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  <% end %>
</ul>
