<div class="navbar-start">
  <%= link_to "Beranda", root_path, class:"navbar-item" %>
  <%= link_to "Kabar", kabar_teknik_path, class:"navbar-item" %>
</div>

<div class="navbar-end">
  <div class="navbar-item">
    <div class="buttons">
      <%= link_to "Login", new_user_session_path, class: "button is-light is-small" %>
    </div>
  </div>
</div>
