<div class="navbar-end">
  <%= link_to "Dashboard", staffs_dashboards_path, class: "navbar-item" %>
  <% if current_user.is_staff? && current_user.is_active? && current_user.major.present? && current_user.staff_profile.present? %>
    <%= link_to "Jurnal", journals_path, class:'navbar-item' %>
    <%= link_to "Kabar",campus_newspapers_path, class: "navbar-item" %>

    <%# if current_user.is_admin? %>
    <%= link_to "Dosen",lectures_path, class: 'navbar-item' %>

    <%# end %>
    <%= link_to "Mahasiswa", students_path, class:'navbar-item' %>


    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        Keuangan
      </a>
      <div class="navbar-dropdown is-right">
        <%#= link_to "Tahun Akademik", academic_years_path, class:"navbar-item" %>
        <%= link_to "Pembayaran", payments_path, class:"navbar-item" %>
        <%#= link_to "KRS",subject_plans_path, class: "navbar-item" %>
        <%#= link_to "Jadwal Kuliah",'', class: "navbar-item" %>
      </div>
    </div>

    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        Akademik
      </a>
      <div class="navbar-dropdown is-right">
        <%#= link_to "Tahun Akademik", academic_years_path, class:"navbar-item" %>
        <%= link_to "Matakuliah", subjects_path, class:"navbar-item" %>
        <%= link_to "KRS",subject_plans_path, class: "navbar-item" %>
        <%#= link_to "Jadwal Kuliah",'', class: "navbar-item" %>
      </div>
    </div>
  <% end %>
  <%= render partial: "navigations/top_navigation/user_account" %>
</div>
