<div class="navbar-end">
  <% if current_user.is_active? %>
    <%= link_to "Dashboard", students_dashboards_path, class: "navbar-item" %>
    <%= link_to "Biodata", student_path(current_user), class: "navbar-item" %>
  <% end %>

  <% if current_user.is_active?  && current_user.student_profile.present? && current_user.major.present?  %>
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        Pembayaran
      </a>
      <div class="navbar-dropdown is-right">
        <%= link_to "Semua Pembayaran", student_payments_path(current_user), class:"navbar-item" %>
        <% unless current_academic_year.semester == "Pendek" %>
          <% unless current_user.payments.where(kind: 'spp').present? %>
          <%= link_to "+ Buat SPP", new_student_payment_path(current_user, type:"spp"), class: "navbar-item" %>
          <% end %>
          <%= link_to "+ Buat BPP", new_student_payment_path(current_user, type:"bpp"), class: "navbar-item" %>
        <% end %>
        <!-- <hr class="navbar-divider"> -->
        <%#= link_to "Surat Penangguhan BPP", letter_student_payment_path(current_user, type:"bpp"), class:"navbar-item" %>
        <%#= link_to "+ Buat Laboratorium", new_student_payment_path(current_user, type: "laboratorium"), class: "navbar-item" %>
        <%#= link_to "+ Buat Praktikum", new_student_payment_path(current_user, type: "proposal"), class: "navbar-item" %>
        <%#= link_to "+ Buat Proposal", new_student_payment_path(current_user, type: "seminar_hasil"), class: "navbar-item" %>
        <%#= link_to "+ Buat Seminar Hasil", new_student_payment_path(current_user, type: "ujian_tutup"), class: "navbar-item" %>
        <%#= link_to "+ Buat Ujian Tutup", new_student_payment_path(current_user, type: "wisuda"), class: "navbar-item" %>
      </div>
    </div>
  <% end %>

  <% if current_user.is_active?  && current_user.student_profile.present? && current_user.major.present? && current_user.is_student? && current_user.payments.present? %>
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        Akademik
      </a>
      <div class="navbar-dropdown is-right">
        <%= link_to "Matakuliah", subjects_path, class: "navbar-item" %>
        <%= link_to "Kartu Rencana Studi", subject_plans_path, class: "navbar-item" %>
      </div>
    </div>
  <% end %>
  <%= render partial: "navigations/top_navigation/user_account" %>
</div>
