<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">
    <% if current_user.is_active? %>
    <%#= info_profile %><%= current_user.type  %>
    <% else %>
      <%= current_user.email  %>
    <% end %>
  </a>
  <div class="navbar-dropdown is-right">
    <% if current_user.is_staff? %>
      <%= link_to "Profil", edit_staff_path(current_user), class: "navbar-item" %>
    <% end %>
    <%#= link_to "Edit Profil", edit_staff_path(current_user), class: "navbar-item" if current_user.is_staff? && current_user.staff_profile.present? %>
    <%= link_to "Edit Password", edit_user_registration_path, class:"navbar-item" %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-item" %>
  </div>
</div>
