<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          
          <h3>Halo Staf Tata Usaha!</h3><br />
          <p>Akses halaman ini berhasil</p>
        </div>
      </div>
    </div>
  </div>
</div>
