<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Hai, <%= @user.name %>&nbsp;&nbsp;Stambuk&nbsp;&nbsp;<%= @user.stambuk %></h5>
    <p>
      Token Anda<br>
    </p>
    <p>========================================</p>
    <p>
      <%= @user.access_token %>
    </p>
    <p>========================================</p>

    <p>Gunakan pada saat mengisi dan mengedit <span class="badge badge-success">Formulir</span> wisuda</p>

    <p>Terima Kasih</p>
  </body>
</html>
