Hai, <%= @user.name %> stambuk <%= @user.stambuk %>

Token Anda :
=======================
<%= @user.access_token %>
=======================

Gunakan pada saat anda mengisi dan mengedit formulir wisuda

Terima Kasih
