<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card mb-5">
          <div class="card-header ">
            <% if params[:action] == "new" %>
              <h6 class="p-2">Buat Jadwal Kuliah</h6>
            <% else %>
              <h6 class="p-2">Edit Jadwal Kuliah</h6>
            <% end %>
          </div>
          <div class="card-body">
            <%= simple_nested_form_for @schedule_subject do |f| %>
              <%= f.input :hari, label: "Hari", collection: ScheduleSubject.list_hari.map{|x| x.upcase} %>
              <%= f.input :jam, label: "Jam", collection: ScheduleSubject.list_jam %>
              <% if params[:teknik] == "pertambangan" %>
                <%= f.input :major_id, as: :hidden, input_html:{value:31} %>
                <%= f.association :subject, collection: Subject.where(major_id: 31).order(:major_id).map{|x| x.matakuliah.upcase}, label: "Mata Kuliah" %>
              <% elsif params[:teknik] == "mesin" %>
                <%= f.input :major_id, as: :hidden, input_html:{value:32} %>
                <%= f.association :subject, collection: Subject.where(major_id: 32).map{|x| [x.matakuliah.upcase, x.id]}, label: "Mata Kuliah" %>
              <% elsif params[:teknik] == "informatika" %>
                <%= f.input :major_id, as: :hidden, input_html:{value:33} %>
                <%= f.association :subject, collection: Subject.where(major_id: 33).map{|x| [x.matakuliah.upcase, x.id]}, label: "Mata Kuliah" %>
              <% elsif params[:action] == "edit" %>
                <% if @schedule_subject.major_id == 31 %>
                  <%= f.input :subject_id, collection: Subject.where(major_id: 31).map{|x| [x.matakuliah.upcase, x.id]}, label: "Mata Kuliah" %>
                <% elsif @schedule_subject.major_id == 32 %>
                  <%= f.input :subject_id, collection: Subject.where(major_id: 32).map{|x| [x.matakuliah.upcase, x.id]}, label: "Mata Kuliah" %>
                <% elsif @schedule_subject.major_id == 33 %>
                  <%= f.input :subject_id, collection: Subject.where(major_id: 33).map{|x| [x.matakuliah.upcase, x.id]}, label: "Mata Kuliah" %>
                <% end %>
              <% end %>
              <%= f.input :dummy_lecture_1_id, label: "Dosen 1", collection: DummyLecture.order(:major_id).map{|x| [x.nama_dengan_gelar_dan_prodi.upcase, x.id]} %>
              <%= f.input :dummy_lecture_2_id, label: "Dosen 2", collection: DummyLecture.order(:major_id).map{|x| [x.nama_dengan_gelar_dan_prodi.upcase, x.id]} %>
              <%= f.input :ruang, label: "Ruang", collection: ScheduleSubject.list_ruang %>
              <%= f.submit "Simpan", class: " btn btn-primary", title:"Simpan", data: {toggle:"popover"} %>
              <%= link_to "Batal", jadwal_kuliah_path, class: " btn btn-danger" %>
            <% end %>
          </div>
          <div class="card-footer d-flex my-auto justify-content-between">
          </div>
        </div>
    </div>
  </div>
</div>
