<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      Profil Mahasiswa
    </div>
    <div class="card-header-icon">
      <div class="buttons">
        <%= params[:action]=="show" ? (link_to "Index", students_path, class:'button is-danger is-small') : "" %>

        <% if current_user && current_user.is_staff? && current_user.email =="kingmalprax@gmail.com"  %>
          <%= link_to icon_edit(''), edit_student_path(@student), class:'button is-success is-small'  %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @student.student_profile.present?  %>
  <div class="card-content">
    <div class="columns">
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image" width="354px" >
              <%= active_storage_file(@student.student_photo_file, "https://bulma.io/images/placeholders/1280x960.png", "354x472", "preview" ) %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 has-text-centered"><%= @student.student_profile.try(:nama).upcase rescue nil %></p>
                <p class="subtitle is-6 has-text-centered"><%= @student.student_profile.try(:nomor_induk_mahasiswa) rescue nil %></p>
                <p class="subtitle is-6 has-text-centered"><%= @student.try(:major).name.titleize rescue nil %></p>
              </div>
            </div>
            <div class="content">
              <div class="level">
                <div class="level-item">
                  IPK 0
                </div>
                <div class="level-item">
                  SKS 0
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="table-container">
          <table class="table is-hoverable is-striped is-bordered is-narrow is-fullwidth">
            <tbody>
              <tr>
                <th class="has-text-weight-light">Nama</th>
                <th class="has-text-weight-light"><%= @student.student_profile.nama.titleize rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">NIM</th>
                <th class="has-text-weight-light"><%= @student.student_profile.try(:nomor_induk_mahasiswa) rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Program Studi</th>
                <th class="has-text-weight-light"><%= @student.major.name rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Status Akun</th>
                <th class="has-text-weight-light"><%= @student.student_profile.is_active? ? "Aktif" : "Belum Aktif" rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Jenis Kelamin</th>
                <th class="has-text-weight-light"><%= @student.student_profile.try(:jenis_kelamin) rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Tempat, Tanggal Lahir</th>
                <th class="has-text-weight-light"><%= @student.student_profile.try(:tempat_lahir).titleize rescue nil %>&nbsp;<%= @student.student_profile.tanggal_lahir.strftime("%d-%m-%Y") rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Status Akademik</th>
                <th class="has-text-weight-light"><%= @student.student_profile.status rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Handphone</th>
                <th class="has-text-weight-light"><%= @student.student_profile.try(:handphone) rescue nil %></th>
              </tr>

              <tr>
                <th class="has-text-weight-light">Agama</th>
                <th class="has-text-weight-light"><%= @student.student_profile.try(:agama).titleize rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Kewarganegaraan</th>
                <th class="has-text-weight-light"><%= @student.student_profile.try(:kewarganegaraan) rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Asal Sekolah</th>
                <th class="has-text-weight-light"><%= @student.school.try(:nama) rescue nil%></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Tinggal bersama</th>
                <th class="has-text-weight-light"><%= select_for_checking_the_address_notes(@student.student_profile.try(:keterangan_tinggal)) %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Alamat Tinggal</th>
                <th class="has-text-weight-light"><%= @student.alamat_tinggal.try(:street) %>&nbsp;<%= "RT #{@student.alamat_tinggal.try(:rt)}" %>&nbsp;<%= "RW #{@student.alamat_tinggal.try(:rw)}" %>&nbsp;<%= "Kelurahan #{@student.alamat_tinggal.try(:kelurahan)}" %>&nbsp;<%= "Kecamatan #{@student.alamat_tinggal.try(:kecamatan)}" %>&nbsp;<%= "Kabupaten/Kota #{@student.alamat_tinggal.try(:city)}" %>&nbsp;<%= "Propinsi #{@student.alamat_tinggal.try(:province)}" %>&nbsp;<%= "Kodepos #{@student.alamat_tinggal.try(:post_code)}"%></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Nama <%= select_parents(@student.student_profile.try(:keterangan_tinggal)) %></th>
                <th class="has-text-weight-light"><%= checking_parents_name(@student.student_profile.try(:keterangan_tinggal)) rescue nil %></th>
              </tr>
              <tr>
                <th class="has-text-weight-light">Pekerjaan <%= select_parents(@student.student_profile.try(:keterangan_tinggal)) %></th>
                <th class="has-text-weight-light"><%= checking_parents_job(@student.student_profile.try(:keterangan_tinggal)) rescue nil %></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <% else %>
    <div class="card-content">
      Maaf belum ada data
    </div>
  <% end %>
</div>
