<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-5">
        <div class="card-header">
          <div class="card-title my-auto mr-auto">
            Biodata Mahasiswa
          </div>
        </div>
        <div class="card-body">
          <% unless current_user.mahasiswa_profile.nil? %>
          <table class="table">
            <tbody>
              <tr>
                <th>Identitas Diri</th>
              </tr>
              <tr>
                <td>Nama</td>
                <td><%= @mahasiswa.mahasiswa_profile.nama rescue nil %></td>
              </tr>
              <tr>
                <td>Tempat/Tanggal Lahir</td>
                <td><%= @mahasiswa.mahasiswa_profile.tempat_lahir rescue nil %> <%= @mahasiswa.mahasiswa_profile.tanggal_lahir rescue nil %></td>
              </tr>
              <tr>
                <td>Jenis Kelamin</td>
                <td><%= @mahasiswa.mahasiswa_profile.jenis_kelamin rescue nil %></td>
              </tr>
              <tr>
                <td>Agama</td>
                <td><%= @mahasiswa.mahasiswa_profile.religion.nama rescue nil %></td>
              </tr>
              <tr>
                <td>No. Handphone</td>
                <td><%= @mahasiswa.mahasiswa_profile.handphone rescue nil %></td>
              </tr>
              <tr>
                <td>No. Induk KTP</td>
                <td><%= @mahasiswa.mahasiswa_profile.nik rescue nil %></td>
              </tr>
              <tr>
                <td>No. Pokok Wajib Pajak</td>
                <td><%= @mahasiswa.mahasiswa_profile.npwp rescue nil %></td>
              </tr>
              <tr>
                <td>No. Induk Siswa Nasional</td>
                <td><%= @mahasiswa.mahasiswa_profile.nisn rescue nil %></td>
              </tr>
              <tr>
                <td>Alamat</td>
                <td><%= @mahasiswa.mahasiswa_profile.jalan rescue nil %> <%= @mahasiswa.mahasiswa_profile.dusun rescue nil %> <%= @mahasiswa.mahasiswa_profile.rt rescue nil %> <%= @mahasiswa.mahasiswa_profile.rw rescue nil %> </td>
              </tr>
              <tr>
                <td>Kelurahan</td>
                <td><%= @mahasiswa.mahasiswa_profile.kelurahan rescue nil %></td>
              </tr>
              <tr>
                <td>Kecamatan</td>
                <td><%= @mahasiswa.mahasiswa_profile.district_id rescue nil %></td>
              </tr>
              <tr>
                <td>Kodepos</td>
                <td><%= @mahasiswa.mahasiswa_profile.kodepos rescue nil %></td>
              </tr>
              <tr>
                <td>Negara</td>
                <td><%= @mahasiswa.mahasiswa_profile.state_id rescue nil %></td>
              </tr>
              <tr>
                <td>Transportasi</td>
                <td><%= @mahasiswa.mahasiswa_profile.transportation_id rescue nil %></td>
              </tr>
              <tr>
                <td>Tinggal Dengan</td>
                <td><%= @mahasiswa.mahasiswa_profile.live_id rescue nil %></td>
              </tr>
              <tr>
                <td>Kategori</td>
                <td><%= @mahasiswa.mahasiswa_profile.kategori rescue nil %></td>
              </tr>
              <tr>
                <td>Program Studi</td>
                <td><%= @mahasiswa.mahasiswa_profile.major_id rescue nil %></td>
              </tr>
              <tr>
                <td>Fakultas</td>
                <td><%= @mahasiswa.mahasiswa_profile.faculty_id rescue nil %></td>
              </tr>
              <tr>
                <td>No. Kartu Perlindungan Sosial</td>
                <td><%= @mahasiswa.mahasiswa_profile.nomor_kps rescue nil %></td>
              </tr>
              <tr>
                <td>Kebutuhan Khusus Mahasiswa</td>
                <td><%= @mahasiswa.mahasiswa_profile.kebutuhan_khusus_mahasiswa rescue nil %></td>
              </tr>

              <tr>
                <th>Ayah</th>
              </tr>
              <tr>
                <td>Nama</td>
                <td><%= @mahasiswa.mahasiswa_profile.nama_ayah rescue nil %></td>
              </tr>
              <tr>
                <td>NIK</td>
                <td><%= @mahasiswa.mahasiswa_profile.nik_ayah rescue nil %></td>
              </tr>
              <tr>
                <td>Tanggal Lahir</td>
                <td><%= @mahasiswa.mahasiswa_profile.tanggal_lahir_ayah rescue nil %></td>
              </tr>
              <tr>
                <td>Pendidikan</td>
                <td><%= @mahasiswa.mahasiswa_profile.pendidikan_ayah rescue nil %></td>
              </tr>
              <tr>
                <td>Pekerjaan</td>
                <td><%= @mahasiswa.mahasiswa_profile.pekerjaan_ayah rescue nil %></td>
              </tr>
              <tr>
                <td>Penghasilan</td>
                <td><%= @mahasiswa.mahasiswa_profile.penghasilan_ayah rescue nil %></td>
              </tr>
              <tr>
                <td>Kebutuhan Khusus</td>
                <td><%= @mahasiswa.mahasiswa_profile.kebutuhan_khusus_ayah rescue nil %></td>
              </tr>
              <tr>
                <th>Ibu</th>
              </tr>
              <tr>
                <td>Nama</td>
                <td><%= @mahasiswa.mahasiswa_profile.nama_ibu rescue nil %></td>
              </tr>
              <tr>
                <td>NIK</td>
                <td><%= @mahasiswa.mahasiswa_profile.nik_ibu rescue nil %></td>
              </tr>
              <tr>
                <td>Tanggal Lahir Ibu</td>
                <td><%= @mahasiswa.mahasiswa_profile.tanggal_lahir_ibu rescue nil %></td>
              </tr>
              <tr>
                <td>Pendidikan Ibu</td>
                <td><%= @mahasiswa.mahasiswa_profile.pendidikanibu rescue nil %></td>
              </tr>
              <tr>
                <td>Pekerjaan</td>
                <td><%= @mahasiswa.mahasiswa_profile.pekerjaan_ibu rescue nil %></td>
              </tr>
              <tr>
                <td>Penghasilan</td>
                <td><%= @mahasiswa.mahasiswa_profile.penghasilan_ibu rescue nil %></td>
              </tr>
              <tr>
                <td>Kebutuhan Khusus</td>
                <td><%= @mahasiswa.mahasiswa_profile.kebutuhan_khusus_ibu rescue nil %></td>
              </tr>
              <tr>
                <th>Wali</th>
              </tr>
              <tr>
                <td>Nama</td>
                <td><%= @mahasiswa.mahasiswa_profile.nama_wali rescue nil %></td>
              </tr>
              <tr>
                <td>NIK</td>
                <td><%= @mahasiswa.mahasiswa_profile.nik_wali rescue nil %></td>
              </tr>
              <tr>
                <td>Tanggal Lahir</td>
                <td><%= @mahasiswa.mahasiswa_profile.tanggal_lahir_wali rescue nil %></td>
              </tr>
              <tr>
                <td>Pendidikan</td>
                <td><%= @mahasiswa.mahasiswa_profile.pendidikan_wali rescue nil %></td>
              </tr>
              <tr>
                <td>Pekerjaan</td>
                <td><%= @mahasiswa.mahasiswa_profile.pekerjaan_wali rescue nil %></td>
              </tr>
              <tr>
                <td>Penghasilan</td>
                <td><%= @mahasiswa.mahasiswa_profile.penghasilan_wali rescue nil %></td>
              </tr>
            </tbody>
          </table>
          <% else %>
            Maaf Belum Ada Data
          <% end %>
        </div>
        <div class="card-footer">
          <%= link_to "Edit Biodata", edit_biodata_mahasiswa_path(@mahasiswa), class: "btn btn-success pull-right" %>
        </div>
      </div>
    </div>

  </div>
</div>
