<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 mb-5">
      <div class="card">
        <% if current_user.is_active? %>
        <div class="card-header p-2">
          <h5 class="card-title">Biodata</h5>
        </div>
        <%= simple_form_for @mahasiswa, method: :put, wrapper: :horizontal_form do |f| %>
        <div class="card-body ">

            <%= f.simple_fields_for :mahasiswa_profile, @mahasiswa.mahasiswa_profile do |mahasiswa_profile| %>
              <%#= mahasiswa_profile.input :kategori, collection: Mahasiswa.kategori_list.map{|key, value| [key, value]}, include_blank: "-Pilih-", label: "Kategori Mahasiswa", hint: "Reguler: mahasiswa baru,
                                                                                                                                                                            Non Reguler: mahasiswa baru khusus karyawan, Konversi: mahasiswa pindahan status sudah tidak aktif kuliah, Transfer: mahasiswa pindahan status masih aktif kuliah" %>
              <%= render partial: "mahasiswas/form/mahasiswa_profile", locals: {f: f, mahasiswa_profile: mahasiswa_profile} %>
            <% end %>
        </div>
        <div class="card-footer text-right p-2">
          <%= f.submit "Simpan Biodata", class: "btn btn-success" %>
        </div>

        <% end %>
      <% else %>
        <p class="p-2">
          Maaf Verifikasi Nomor Handphone Anda Terlebih Dahulu
        </p>
      <% end %>
      </div>
    </div>
  </div>
</div>
