<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-header">
          <h5>Daftar Calon Mahasiswa Fakultas Teknik UPRI</h5>
        </div>
        <div class="card-body">
          <%= link_to 'Tambah mahasiswa', new_mahasiswa_path, class: "btn btn-success mb-2" %>
          <%= form_tag activate_mahasiswas_path, method: :put do %>
          <table class="table table-sm table-bordered ">
            <thead>
              <tr>
                <th class="text-center">NO</th>
                <th >EMAIL</th>
                <th class="text-center">TGL DAFTAR</th>
                <th>STATUS</th>
                <th colspan="2">AKSI</th>
              </tr>
            </thead>

            <tbody>
              <% if params[:page].nil? || params[:page]== "0" || params[:page]=="1" %>
                <% x = 0 %>
              <% else %>
                <% page = params[:page].to_i - 1 %>
                <% x = page*10 %>
              <% end %>
              <% @mahasiswas.each_with_index do |mahasiswa, i| %>
                <tr>
                  <td class="text-center"><%= i = i + x + 1 %></td>
                  <td><%= mahasiswa.email %></td>
                  <td class="text-center"><%= mahasiswa.created_at.strftime("%d-%m-%Y") %></td>
                  <td><%= mahasiswa.is_active? %></td>
                  <td><%= check_box_tag 'mahasiswa_id[]', mahasiswa.id %></td>
                  <td><%= link_to icon_edit(''), "#" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= submit_tag "Status Aktif" %><%= submit_tag "Hapus Semua" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12 text-center mb-5">
      <%= paginate @mahasiswas %>
    </div>
  </div>
</div>
