<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Hai, <%= @user.student_profile.nama %>&nbsp;&nbsp;Stambuk&nbsp;&nbsp;<%= @user.student_profile.nomor_induk_mahasiswa %></h5>
    <p>
      Token Anda<br>
    </p>
    <p>========================================</p>
    <p>
      <%= @user.access_token %>
    </p>
    <p>========================================</p>

    <p>Gunakan pada saat mencetak Kartu Rencana Studi</p>

    <p>Terima Kasih</p>
  </body>
</html>
