Hai, <%= @user.student_profile.nama %>&nbsp;&nbsp;Stambuk&nbsp;&nbsp;<%= @user.student_profile.nomor_induk_mahasiswa %></h5>

Token Anda
========================================

<%= @user.access_token %>

========================================

Gunakan pada saat mencetak Kartu Rencana Studi
Terima Kasih
