<% if current_user.is_student? %>
  <% if params[:type]=="bpp" %>
    <%= render partial: "payments/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase}/bpp", locals: {student: @student}%>
  <% end %>
  <% if params[:type]=="upload_bpp" %>
    <%= render partial: "payments/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase}/upload_bpp", locals: {student: @student}%>
  <% end %>

  <% if params[:type]=="spp" %>
    <%= render partial: "payments/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase}/spp", locals: {student: @student}%>
  <% end %>
  <% if params[:type]=="upload_spp" %>
    <%= render partial: "payments/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase}/upload_spp", locals: {student: @student}%>
  <% end %>

  <% if params[:type]=="laboratorium" %>
    <%= render partial: "payments/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase}/laboratorium", locals: {student: @student}%>
  <% end %>
  <% if params[:type]=="upload_laboratorium" %>
    <%= render partial: "payments/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase}/upload_laboratorium", locals: {student: @student}%>
  <% end %>

  <% if params[:type]=="proposal" %>
    <%= render partial: "payments/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase}/proposal", locals: {student: @student}%>
  <% end %>
  <% if params[:type]=="upload_proposal" %>
    <%= render partial: "payments/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase}/upload_proposal", locals: {student: @student}%>
  <% end %>

  <% if params[:type]=="seminar hasil" %>
    <%= render partial: "payments/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase}/seminar_hasil", locals: {student: @student}%>
  <% end %>
  <% if params[:type]=="upload_seminar_hasil" %>
    <%= render partial: "payments/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase}/upload_seminar_hasil", locals: {student: @student}%>
  <% end %>

  <% if params[:type]=="ujian tutup" %>
    <%= render partial: "payments/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase}/ujian_tutup", locals: {student: @student}%>
  <% end %>
  <% if params[:type]=="upload_ujian_tutup" %>
    <%= render partial: "payments/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase}/upload_ujian_tutup", locals: {student: @student}%>
  <% end %>

  <% if params[:type]=="wisuda" %>
    <%= render partial: "payments/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase}/wisuda", locals: {student: @student}%>
  <% end %>
  <% if params[:type]=="upload_wisuda" %>
    <%= render partial: "payments/form/#{current_user.type.downcase.pluralize}/#{current_user.major.name.downcase}/upload_wisuda", locals: {student: @student}%>
  <% end %>
<% elsif current_user.is_staff? %>
  <%= render partial: "payments/form/#{current_user.type.downcase.pluralize}/payment", payment: @payment %>
<% end %>
