<section class="section">
    <div class="columns">
        <div class="column is-12">
          <div class="table-container">
            <table class="table is-borderless is-fullwidth">
              <tbody>
                  <tr class="has-background-white" >
                    <th class="has-text-left has-text-weight-bold" colspan="6">
                      <span class="is-size-7">TANGGAL CETAK :</span>&nbsp;&nbsp;<span class="is-size-7"><%= Time.now.strftime("%d-%m-%Y") %></span>
                    </th>
                  </tr>
                  <tr class="has-background-white" >

                    <th class="has-text-weight-light has-text-centered" colspan="4" style="vertical-align: middle;">

                          <span class="is-size-5 has-text-weight-bold">SURAT PERMOHONAN PENANGGUHAN &nbsp;<%= @payment.kind.upcase %> </span><br />
                    </th>
                    <th colspan="1" class="has-text-centered" style="vertical-align: middle;"  width="10%" height="50px" ><%= @payment.barcode_data(xdim: 3).html_safe%></th>
                  </tr>

                  <tr>
                    <th class="has-text-weight-light" colspan="6">
                      <p>Kepada Yth</p>
                      <p>Bapak Dekan Fakultas Teknik</p>
                      <p>Universitas Pejuang R.I Makassar</p>
                      <p>Di</p>
                      <p>Tempat</p>
                    </th>
                  </tr>

                  <tr>
                    <th class="has-text-weight-light has-text-justified" colspan="6">
                      <p>Dengan ini saya: </p>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nama &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= @payment.student.student_profile.nama.titleize %></p>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NIM  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= @payment.student.student_profile.nomor_induk_mahasiswa %></p>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Program Studi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= @payment.student.major.name %></p>
                      <p>Memohon kepada bapak agar kiranya bersedia memberikan kesempatan bagi saya untuk kuliah walapun saya belum memiliki kemampuan untuk membayar uang BPP sebagai kewajiban saya. Dan saya bersedia untuk tetap mengusahakan pembayaran BPP Semester <%= @payment.academic_year.semester %> Tahun Ajaran <%= @payment.academic_year.name %>, sebelum semester ini berakhir.</p>
                    </th>

                  </tr>
                  <tr>
                    <th class="has-text-weight-light has-text-centered" colspan="3">

                    </th>
                    <th class="has-text-weight-light has-text-right" colspan="3">
                      <p>Hormat Saya</p>
                      <br />
                      <br />
                      <br />
                      <p><strong><%= @payment.student.student_profile.nama.titleize %></strong></p>
                      <p><strong>NIM  : <%= @payment.student.student_profile.nomor_induk_mahasiswa %></strong></p>
                    </th>

                  </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</section>
