<div class="card">
    <div class="card-content">
      <div class="columns is-mobile is-centered">
          <div class="column is-12">
            <table class="table is-striped is-narrow is-hoverable is-bordered is-fullwidth">
              <tbody>
                  <tr class="has-background-white" >
                    <th class="has-text-left has-text-weight-bold" colspan="5">
                      <span class="is-size-7">TANGGAL CETAK :</span>&nbsp;&nbsp;<span class="is-size-7"><%= Time.now.strftime("%d-%m-%Y") %></span>
                    </th>
                  </tr>
                  <tr class="has-background-white" >
                    <th class="has-text-centered has-text-weight-light" colspan="1" style="vertical-align: middle;" width="22%" height=100px >
                          <%= wicked_pdf_image_tag 'upri_20.png', style: 'width: 45%;' %>
                    </th>
                    <th class="has-text-weight-light has-text-centered" colspan="2" style="vertical-align: middle;">
                          <span class="is-size-4">UNIVERSITAS PEJUANG REPUBLIK INDONESIA</span><br />
                          <span class="is-size-5">FAKULTAS TEKNIK</span><br />
                          <span class="is-size-4 has-text-weight-bold">BUKTI <%= @payment.kind.upcase %> MAHASISWA BARU</span><br />
                          <!-- .variant(resize_to_limit:[100,100]) -->
                    </th>
                    <th colspan="1" class="has-text-centered" style="vertical-align: middle;"  width="20%" height="50px" ><%= image_tag @payment.bank.logo_file.service_url  %></th>
                  </tr>
                  <tr>
                    <th class="has-text-weight-light" colspan="4">
                      <p>Kepada Yth</p>
                      <p>Pimpinan Bank <%= @payment.bank.name.upcase %></p>
                      <p>Harap diterima dan dibukukan setoran <%= @payment.kind.upcase %> Calon Mahasiswa Fakultas Teknik UPRI</p>
                      <p>Ke dalam Rekening Nomor <strong><%= @payment.bank.account_number%></strong></p>
                      <!-- <p><strong>Semester <%#= @payment.academic_year.semester.titleize %> Tahun Akademik <%#= @payment.academic_year.name %></strong> </p> -->
                      <p><strong>Jumlah <%= number_to_currency(@payment.in_number, precision:0, unit:'Rp', separator:'.') %></strong></p>
                    </th>
                  </tr>
                  <tr>
                    <th class="has-text-weight-light has-text-centered" colspan="4">
                      <p class="is-size-4"><strong><%= @payment.in_word.upcase %></strong></p>
                    </th>
                  </tr>

                  <tr>
                    <th class="has-text-weight-light" rowspan="9">
                      <figure class="image" width="354px" >
                        <%= wicked_pdf_image_tag @payment.student.student_photo_file.service_url %>
                      </figure>
                    </th>
                    <th class="has-text-weight-light" colspan="1">Nama</th>
                    <th class="has-text-weight-light" colspan="1"><%= @payment.student.student_profile.nama.titleize rescue nil %></th>
                    <th class="has-text-weight-light" rowspan="8">
                      Dokumen Diunggah:
                      <ul>
                        <li>1. Pasfoto</li>
                        <li>2. KTP</li>
                        <li>3. Kartu Keluarga</li>
                        <li>4. Ijazah atau SKL</li>
                      </ul>
                    </th>
                  </tr>

                  <tr>
                    <th class="has-text-weight-light" colspan="1">Program Studi Pilihan</th>
                    <th class="has-text-weight-light" colspan="1"><%= @payment.student.major.name rescue nil %></th>
                  </tr>

                  <tr>
                    <th class="has-text-weight-light" colspan="1">Jenis Kelamin</th>
                    <th class="has-text-weight-light" colspan="1"><%= @payment.student.student_profile.try(:jenis_kelamin) rescue nil %></th>
                  </tr>
                  <tr>
                    <th class="has-text-weight-light" colspan="1">Tempat, Tanggal Lahir</th>
                    <th class="has-text-weight-light" colspan="1"><%= @payment.student.student_profile.tempat_lahir.titleize rescue nil %>&nbsp;<%= @payment.student.student_profile.tanggal_lahir.strftime("%d-%m-%Y") rescue nil %></th>
                  </tr>

                  <tr>
                    <th class="has-text-weight-light" colspan="1">Handphone</th>
                    <th class="has-text-weight-light" colspan="1"><%= @payment.student.student_profile.try(:handphone) rescue nil %></th>
                  </tr>

                  <tr>
                    <th class="has-text-weight-light" colspan="1">Agama</th>
                    <th class="has-text-weight-light" colspan="1"><%= @payment.student.student_profile.try(:agama).titleize rescue nil %></th>
                  </tr>
                  <tr>
                    <th class="has-text-weight-light" colspan="1">Kewarganegaraan</th>
                    <th class="has-text-weight-light" colspan="1"><%= @payment.student.student_profile.try(:kewarganegaraan) rescue nil %></th>
                  </tr>
                  <tr>
                    <th class="has-text-weight-light" colspan="1">Asal Sekolah</th>
                    <th class="has-text-weight-light" colspan="1"><%= @payment.student.school.try(:nama).titleize rescue nil%></th>
                  </tr>
                  <tr>
                    <th class="has-text-weight-light" colspan="1">Referal/Pengurus</th>
                    <th class="has-text-weight-light" colspan="1"><%= @payment.student.referral.titleize rescue nil%></th>
                  </tr>

                  <tr>
                    <th class="has-text-weight-light has-text-centered" style="vertical-align: middle;" >
                        <%= @payment.barcode_data(xdim: 3).html_safe%>
                    </th>

                    <th class="has-text-weight-light has-text-centered" colspan="1">
                      <p>TTD Calon Mahasiswa</p>
                      <br />
                      <br />
                      <br />
                      <p><strong><%= @payment.student.student_profile.nama.titleize %></strong></p>
                    </th>
                    <th class="has-text-weight-light has-text-centered" colspan="1">

                    </th>
                    <th class="has-text-weight-light has-text-centered" style="vertical-align: middle;">
                    </th>
                  </tr>
                  <tr>
                    <th class="has-text-weight-light has-text-centered" colspan="5">
                      Diprint pada kertas A4, ditanda tangani, dan mohon disetorkan file fotonya bersama bukti transfer dari Bank (boleh print out ATM atau lembar kuning) pada bagian keuangan Fakultas Teknik UPRI
                    </th>
                  </tr>
              </tbody>
            </table>
          </div>
      </div>
      <br />
      <br />
  </div>
</div>
