<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      BUAT PEMBAYARAN SUMBANGAN PENYELENGGARAAN PENDIDIKAN (SPP)
    </div>
  </div>
  <div class="card-content">
    <%= simple_form_for [@student, @student.payments.build], wrapper: :default do |f| %>
      <%= render 'shared/errors', object: @student %>
        <%= f.input :kind, as: :hidden, disabled: true, input_html:{value:'spp'} %>
        <%= f.label :academic_year, "Semester Dan Tahun Akademik" %>
        <%= f.association :academic_year, include_blank: "--Semester Dan Tahun Akademik--", collection: AcademicYear.order(:created_at).map{|x| ["#{x.semester} - #{x.name}", x.id]} ,wrapper: :select_bulma_small %>
        <%= f.input :in_number, input_html:{value:4000000},disabled:true, wrapper: :text_bulma_small %>
        <%= f.input :in_word,  wrapper: :text_bulma_small %>
        <%= f.association :bank, wrapper: :select_bulma_small %>
      <div class="buttons is-right">
        <%= f.button :submit, "Simpan", class: 'button is-small is-success' %>
        <%= link_to 'Kembali', student_payments_path(@student), class: 'button is-small is-danger' %>
      </div>
    <% end %>
  </div>
</div>
