<section class="section">
    <div class="columns">
        <div class="column">
            <%= simple_form_for [@lecture, @conference] do |conference| %>
              <%#= render 'shared/errors', object: conference %>
              <%= conference.label :year, "Tahun" %>
              <%= conference.input :year,label:false, wrapper: :text_bulma_small %>

              <%= conference.label :conference, "Judul Kegiatan" %>
              <%= conference.input :conference,label:false, wrapper: :text_bulma_small %>

              <%= conference.label :presented_by, "Penyelenggara" %>
              <%= conference.input :presented_by,label:false, wrapper: :text_bulma_small %>

              <%= conference.label :role, "Peran" %>
              <%= conference.input :role, collection:["Panitia", "Peserta","Pembicara"], wrapper: :select_bulma_small %>


              <div class="buttons is-right">
                <%= conference.submit "Simpan", class: "button is-success"%>
                <%= link_to "Kembali", lecture_path(@lecture, type:"KONFERENSI"), class: "button is-danger"%>
              </div>
            <% end %>
        </div>
    </div>
</section>
