    <% @graduates.in_groups_of(2, false) do |row_graduates| %>
      <div class="container">
        <div class="row">
            <% for graduate in row_graduates %>
              <div class="col-6 book_margin ">

                      <table class="table table-condense">
                        <tbody>
                          <tr>
                            <td >
                              <%= image_tag set_thumb_resource(graduate), size:"150x200" rescue nil %>
                            </td>
                            <td >
                              <ul class="list-group">
                                <li class="list-group-item">NAMA&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<%= graduate.name.upcase rescue nil %></li>
                                <li class="list-group-item">STAMBUK&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<%= graduate.stambuk %></li>
                                <li class="list-group-item">PRODI&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<%= graduate.major.name.upcase rescue nil %></li>
                                <li class="list-group-item">TTL&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<%= graduate.birth_place.upcase rescue nil %>&nbsp;&nbsp;<%= l graduate.birth_date, format: :default rescue nil %></li>

                              </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>


              </div>
            <% end %>
        </div>
      </div>
    <% end %>
