<!-- <div id="no-more-tables"> -->
  <table class="table table-striped table-bordered">

    <tbody>
      <% if params[:page].nil? || params[:page]== "0" || params[:page]=="1" %>
        <% x = 0 %>
      <% else %>
        <% page = params[:page].to_i - 1 %>
        <% x = page*10 %>
      <% end %>
      <% @graduates.each_with_index do |f, i| %>
      <tr class="justify-content-center">
        <td><%= i = i + x + 1 %></td>
        <td class="image-index">
          <%= link_to graduate_path(f) do %>
            <%= image_tag set_image_resource(f), class:"img-thumbnail" rescue nil %>
          <% end %>
        </td>
        <td>
            <%= link_to f.name.upcase, graduate_path(f) rescue nil %>
        </td>
        <td><%= f.stambuk rescue nil %></td>
        <td><%= f.birth_place rescue nil %>,&nbsp;<%= l f.birth_date, format: :default rescue nil %></td>
        <td><%= f.faculty.name.upcase rescue nil %></td>
        <td><%= f.major.name.upcase rescue nil %></td>
        <!-- <td><%#= f.essay.title.upcase rescue nil %></td> -->
        <td><%= f.dummy_lecture_1.nama.upcase rescue nil %></td>
        <td><%= f.dummy_lecture_2.nama.upcase rescue nil %></td>

        <!-- <td><%#= l f.created_at, format: :short rescue nil %></td> -->
        <!-- <td> -->
          <%#= link_to icon_lock(""), "#", class: "btn btn-primary" %>&nbsp;
          <%#= link_to icon_edit(""), "#", class: "btn btn-primary" %>
        <!-- </td> -->
      </tr>
      <% end %>
    </tbody>
  </table>
<!-- </div> -->
