<% if params[:controller] == "graduates" && params[:action] == "token" %>
  <%= form_tag(token_path, method: :get, class: "input-group col-sm-4 ") do %>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
    <span class="input-group-btn">
      <%= submit_tag 'Cari!', class: "btn btn-primary" %>
    </span>
  <% end %>
<% elsif params[:controller] == "graduates" && params[:action] == "wisudawan" %>
  <%= form_tag(wisudawan_path, method: :get, class: "input-group col-sm-4 ") do %>
      <%= text_field_tag :search, params[:search], class: "form-control " %>
    <span class="input-group-btn">
      <%= submit_tag 'Cari!', class: "btn btn-primary" %>
    </span>

  <% end %>
<% end %>
