<div id="no-more-tables">
  <table class="table table-striped table-bordered text-center">
    <thead >
      <tr >
        <th class="text-center">NO</th>
        <th class="text-center">EMAIL</th>
        <th class="text-center">STAMBUK</th>
        <th class="text-center">FOTO</th>
        <th class="text-center">BLANGKO</th>
        <th class="text-center">AKSI</th>
      </tr>
    </thead>
    <tbody>
      <% if params[:page].nil? || params[:page]== "0" || params[:page]=="1" %>
        <% x = 0 %>
      <% else %>
        <% page = params[:page].to_i - 1 %>
        <% x = page*10 %>
      <% end %>
      <% @graduates.each_with_index do |f, i| %>
      <tr>
        <td class="my-auto"><%= i = i + x + 1 %></td>
        <td><%= f.email rescue nil %></td>
        <td><%= f.stambuk rescue nil %></td>
        <td >
          <%= f.image_data.present? ? icon_check("") : icon_times("") %>
        </td>
        <td class="image-index">
          <%= f.blangko_data.present? ? icon_check("") : icon_times("") %>
        </td>
        <td>
          <%= link_to icon_edit(""), edit_formulir_graduate_path(f), class: "btn btn-info", title:"Edit Data", data: {toggle:"popover"} %>
          <%= link_to icon_plane(""), send_token_email_graduate_path(f), class: "btn btn-success", title:"Email Token", data: {toggle:"popover"} %>
          <%= link_to icon_times(""), graduate_path(f), method: :delete, title: "Hapus Akun", data: {toggle:"popover", confirm:"Yakin Hapus"}, class: "btn btn-danger" %>
          <%= link_to icon_download(""), download_graduate_path(f), title: "Download", data: {toggle:"popover"}, class: "btn btn-warning" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
