<div class="section">
  <div class="container">
    <div class="tabs">
      <ul>
        <li class="is-active"><a>Pertambangan</a></li>
        <li><a>Mesin</a></li>
        <li><a>Informatika</a></li>
      </ul>
    </div>
    <table class="table">

    </table>
  </div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card mb-5">
          <div class="card-header ">
            <h6>Daftar Dosen</h6>
          </div>
          <div class="card-body">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-dosen-tambang-tab" data-toggle="tab" href="#nav-dosen-tambang" role="tab" aria-controls="nav-dosen-tambang" aria-selected="true">Tambang</a>
                <a class="nav-item nav-link" id="nav-dosen-mesin-tab" data-toggle="tab" href="#nav-dosen-mesin" role="tab" aria-controls="nav-dosen-mesin" aria-selected="false">Mesin</a>
                <a class="nav-item nav-link" id="nav-dosen-informatika-tab" data-toggle="tab" href="#nav-dosen-informatika" role="tab" aria-controls="nav-dosen-informatika" aria-selected="false">Informatika</a>
                <a class="nav-item nav-link" id="nav-dosen-semua-tab" data-toggle="tab" href="#nav-dosen-semua" role="tab" aria-controls="nav-dosen-semua" aria-selected="false">Dan Lain Lain</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-dosen-tambang" role="tabpanel" aria-labelledby="nav-dosen-tambang-tab">
                <% if @semua_dosen_tambang.present? %>
                <%= link_to "Buat Data Dosen", new_dummy_lecture_path, class: "btn btn-success my-2" %>
                <table class="table table-stripped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">NO</th>
                      <th class="text-left">NAMA</th>
                      <th class="text-center">NIDN</th>
                      <th class="text-center">STATUS</th>
                      <th colspan="2">AKSI</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if params[:page].nil? || params[:page]== "0" || params[:page]=="1" %>
                      <% x = 0 %>
                    <% else %>
                      <% page = params[:page].to_i - 1 %>
                      <% x = page*10 %>
                    <% end %>
                    <% @semua_dosen_tambang.each_with_index do |t, i| %>
                    <tr>
                      <td class="text-center"><%= i = i + x + 1 %></td>
                      <td class="text-left"><%= t.nama_dengan_gelar.upcase %></td>
                      <td class="text-center"><%= t.nidn rescue nil %></td>
                      <td class="text-center"><%= t.status rescue nil %></td>
                      <td><%= link_to icon_edit(""), edit_dummy_lecture_path(t) %></td>
                      <td><%= link_to icon_delete(""), dummy_lecture_path(t), method: :delete, data: {confirm: "Anda Yakin Hapus?"} %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                  Maaf, Data Belum Dibuat <br /><%= link_to "Buat Data Dosen", new_dummy_lecture_path, class: "btn btn-success" %>
                <% end %>
              </div>
              <div class="tab-pane fade" id="nav-dosen-mesin" role="tabpanel" aria-labelledby="nav-dosen-mesin-tab">
                <% if @semua_dosen_mesin.present? %>
                <%= link_to "Buat Data Dosen", new_dummy_lecture_path, class: "btn btn-success my-2" %>
                <table class="table table-stripped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">NO</th>
                      <th class="text-left">NAMA</th>
                      <th class="text-center">NIDN</th>
                      <th class="text-center">STATUS</th>
                      <th colspan="2">AKSI</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if params[:page].nil? || params[:page]== "0" || params[:page]=="1" %>
                      <% x = 0 %>
                    <% else %>
                      <% page = params[:page].to_i - 1 %>
                      <% x = page*10 %>
                    <% end %>
                    <% @semua_dosen_mesin.each_with_index do |m, i| %>
                    <tr>
                      <td class="text-center"><%= i = i + x + 1 %></td>
                      <td class="text-left"><%= m.nama_dengan_gelar.upcase %></td>
                      <td class="text-center"><%= m.nidn rescue nil %></td>
                      <td class="text-center"><%= m.status rescue nil %></td>
                      <td><%= link_to icon_edit(""), edit_dummy_lecture_path(m) %></td>
                      <td><%= link_to icon_delete(""), dummy_lecture_path(m), method: :delete, data: {confirm: "Anda Yakin Hapus?"} %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                  Maaf, Data Belum Dibuat <br /><%= link_to "Buat Data Dosen", new_dummy_lecture_path, class: "btn btn-success" %>
                <% end %>
              </div>
              <div class="tab-pane fade" id="nav-dosen-informatika" role="tabpanel" aria-labelledby="nav-dosen-informatika-tab">
                <% if @semua_dosen_informatika.present? %>
                <%= link_to "Buat Data Dosen", new_dummy_lecture_path, class: "btn btn-success my-2" %>
                <table class="table table-stripped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">NO</th>
                      <th class="text-left">NAMA</th>
                      <th class="text-center">NIDN</th>
                      <th class="text-center">STATUS</th>
                      <th colspan="2">AKSI</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if params[:page].nil? || params[:page]== "0" || params[:page]=="1" %>
                      <% x = 0 %>
                    <% else %>
                      <% page = params[:page].to_i - 1 %>
                      <% x = page*10 %>
                    <% end %>
                    <% @semua_dosen_informatika.each_with_index do |y, i| %>
                    <tr>
                      <td class="text-center"><%= i = i + x + 1 %></td>
                      <td class="text-left"><%= y.nama_dengan_gelar.upcase %></td>
                      <td class="text-center"><%= y.nidn rescue nil %></td>
                      <td class="text-center"><%= y.status rescue nil %></td>
                      <td><%= link_to icon_edit(""), edit_dummy_lecture_path(y) %></td>
                      <td><%= link_to icon_delete(""), dummy_lecture_path(y), method: :delete, data: {confirm: "Anda Yakin Hapus?"} %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                  Maaf, Data Belum Dibuat <br /><%= link_to "Buat Data Dosen", new_dummy_lecture_path, class: "btn btn-success" %>
                <% end %>
              </div>
              <div class="tab-pane fade" id="nav-dosen-semua" role="tabpanel" aria-labelledby="nav-dosen-semua-tab">
                <% if @semua_dosen.present? %>
                <%= link_to "Buat Data Dosen", new_dummy_lecture_path, class: "btn btn-success my-2" %>
                <table class="table table-stripped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">NO</th>
                      <th class="text-left">NAMA</th>
                      <th class="text-center">NIDN</th>
                      <th class="text-center">STATUS</th>
                      <th colspan="2">AKSI</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if params[:page].nil? || params[:page]== "0" || params[:page]=="1" %>
                      <% x = 0 %>
                    <% else %>
                      <% page = params[:page].to_i - 1 %>
                      <% x = page*10 %>
                    <% end %>
                    <% @semua_dosen.each_with_index do |y, i| %>
                    <tr>
                      <td class="text-center"><%= i = i + x + 1 %></td>
                      <td class="text-left"><%= y.nama_dengan_gelar.upcase %></td>
                      <td class="text-center"><%= y.nidn rescue nil %></td>
                      <td class="text-center"><%= y.status rescue nil %></td>
                      <td><%= link_to icon_edit(""), edit_dummy_lecture_path(y) %></td>
                      <td><%= link_to icon_delete(""), dummy_lecture_path(y), method: :delete, data: {confirm: "Anda Yakin Hapus?"} %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                  Maaf, Data Belum Dibuat <br /><%= link_to "Buat Data Dosen", new_dummy_lecture_path, class: "btn btn-success" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex my-auto justify-content-between">
          </div>
        </div>
    </div>
  </div>
</div>
