<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card mb-5">
        <div class="card-header">
          <% if @student.is_student == false %>
            <h5 class="card-title my-auto">Biodata Calon Mahasiswa</h5>
          <% else %>
            <h5 class="card-title my-auto">Biodata Mahasiswa</h5>
          <% end %>
        </div>
          <% if @student.student_profile %>
            <div class="card-body">

              <%#= image_tag set_blangko_resource(@student), size:"500x700", class:"img-thumbnail" %>
              <%#= image_tag set_image_resource(@student), size:"151x201", class:"img-thumbnail" %>
              <table class="table">
                <tr>
                  <td><%= image_tag set_image_resource(@student), size:"151x201", class:"img-thumbnail" %></td><td><%= image_tag set_image_resource(@student), size:"151x453", class:"img-thumbnail" %></td><td><%= image_tag set_image_resource(@student), size:"151x201", class:"img-thumbnail" %></td>
                </tr>
                <% if @student.is_student == false %>
                <tr>
                  <td>Nomor Formulir</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.formulir_nomor.upcase rescue nil%></td>
                </tr>

                <tr>
                  <td>Referal</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.referal.titleize rescue nil%></td>
                </tr>
                <% end %>
                <tr>
                  <td>Pilihan Kelas</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.kategori_kelas.titleize rescue nil%></td>
                </tr>
                <tr>
                  <td>Data Calon Mahasiswa</td>
                </tr>
                <tr>
                  <td>Nama</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.name.titleize rescue nil%></td>
                </tr>
                <tr>
                  <td>Tempat,Tanggal Lahir</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.birth_place.titleize rescue nil %>, <%= l @student.birth_date, format: :default rescue nil%></td>
                </tr>
                <tr>
                  <td>Jenis Kelamin</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.gender.titleize rescue nil %></td>
                </tr>
                <tr>
                  <td>Alamat</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.alamat_rumah_rt_rw.titleize rescue nil %></td>
                </tr>
                <tr>
                  <td>Kota/Kabupaten</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.kota_propinsi_kode_pos.titleize rescue nil %></td>
                </tr>
                <tr>
                  <td>Handphone</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.phone_number rescue nil %></td>
                </tr>
                <tr>
                  <td>Asal Sekolah</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.sekolah_asal  rescue nil %></td>
                </tr>
                <tr>
                  <td>Alamat Sekolah</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.sekolah_alamat  rescue nil %></td>
                </tr>
                <tr>
                  <td>Jurusan</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.jurusan  rescue nil %></td>
                </tr>
                <!-- <tr>
                  <td>Jurusan</td><td>:</td><td><%#= l @student.student_profile.yudisium_date, format: :default rescue nil %></td>
                </tr> -->
                <tr>
                  <td>NISN</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.nisn rescue nil %></td>
                </tr>
                <tr>
                  <td>Nomor KTP</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.ktp_nomor rescue nil %></td>
                </tr>
                <tr>
                  <td>Data Orang Tua</td>
                </tr>
                <tr>
                  <td>Nama Ayah</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.ayah_nama rescue nil %></td>
                </tr>
                <tr>
                  <td>Pekerjaan Ayah</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.ayah_pekerjaan rescue nil %></td>
                </tr>
                <tr>
                  <td>Penghasilan Per Bulan</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.ayah_penghasilan rescue nil %></td>
                </tr>
                <tr>
                  <td>Nama Ibu</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.ibu_nama rescue nil %></td>
                </tr>
                <tr>
                  <td>Pekerjaan Ibu</td><td>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.ibu_pekerjaan rescue nil %></td>
                </tr>
                <tr>
                  <td>Penghasilan Per Bulan</td><td>&nbsp;&nbsp;&nbsp;&nbsp;<%= @student.student_profile.ibu_penghasilan rescue nil %></td>
                </tr>


              </table>
            </div>
            <div class="card-footer text-right">
              <% if @student.student_profile  %>
                <% if @student.is_student == false %>
                <%= link_to "Edit Formulir", edit_formulir_student_path(@student), class: 'btn btn-success' %>
                <%= link_to "Cetak Formulir", "#", class: 'btn btn-info' %>
                <% else %>
                <%= link_to "Edit", edit_student_path(@student), class: 'btn btn-success' %>
                <% end %>
              <% else %>
                <%#= link_to "Isi Formulir", isi_formulir_student_path(@student), class: 'btn btn-success' %>
              <% end %>
            </div>
          <% else %>
            <div class="card-body">
              <h3 class="lead">Maaf Data Tidak Ada, Silahkan Mengisi Data Pada Menu "Isi Formulir"</h3>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
