
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card mb-5">
          <div class="card-header ">
            <h6 class="p-2">Calon Mahasiswa UPRI <%=  %></h6>
          </div>
          <div class="card-body">
                <% if @calon_maba.present? %>
                <% if user_signed_in? && current_user.is_staf? %>
                  <%= link_to "Daftar", "#", class: "btn btn-success my-2" %>
                <% end %>
                <table class="table table-stripped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">NAMA</th>
                      <th class="text-center">NO HP</th>
                      <th class="text-center">Pilihan I</th>
                      <th class="text-center">Pilihan II</th>
                      <th class="text-center">REFERAL</th>
                      <% if user_signed_in? && current_user.is_staf? %>
                        <th colspan="3"  class="text-center">AKSI</th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% @calon_maba_fatek.each do |t| %>
                    <tr>
                      <td class="text-center"><%= t.name %></td>
                      <td class="text-center"><%= t.phone_number %></td>
                      <td class="text-center"><%= t.student_profile.prodi_pertama rescue nil %></td>
                      <td class="text-center"><%= t.student_profile.prodi_kedua rescue nil %></td>
                      <td class="text-center"><%= t.student_profile.referal rescue nil %></td>
                      <% if user_signed_in? && current_user.is_staf? %>
                        <td class="text-center"><%= link_to icon_edit(""), edit_formulir_student_path(t) %></td>
                        <td class="text-center"><%= link_to icon_delete(""), student_path(t), method: :delete, data: {confirm: "Anda Yakin Hapus?"} %></td>
                        <td class="text-center"><%= link_to icon_check(""), make_student_path(t), method: :patch, data: {confirm: "Jadikan Mahasiswa?"} %></td>
                      <% end %>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                  Maaf, Data Belum Dibuat <br /><%= link_to "Daftar", new_user_registration_path(type_check: "student"), class: "btn btn-success" if user_signed_in? && current_user.is_staf? %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
