<div class="card">
    <div class="card-header has-background-white-ter">
      <div class="card-header-title">
          BUAT/EDIT JOURNAL
      </div>
    </div>
    <div class="card-content">
      <%= simple_form_for @journal do |f| %>
        <%= render "shared/errors", object: @journal %>
        <%= f.input :number, label: "Nomor", wrapper: :text_bulma_small %>
        <%= f.input :volume, label: "Volume", wrapper: :text_bulma_small %>
        <%= f.input :issn, label: "ISSN", wrapper: :text_bulma_small %>
        <%= f.input :description, label: "Deskripsi", wrapper: :text_bulma_small %>
        <% if params[:action] == "edit" %>
          <% if @journal.journal_files %>
              <% for journal in @journal.journal_files %>
                <%= image_tag journal.preview(resize:"200x200") %>
              <% end %>
          <% end %>
        <% end %>


        <%= f.input :journal_files, as: :file, input_html:{direct_upload: true, multiple: true}, wrapper: :file_bulma %>
        <%= f.input :published, label:"Publish" %>
        <div class="buttons">
            <%= f.submit "Simpan", class:"button is-success is-small"  %>
            <%= link_to "Kembali", journals_path, class: "button is-danger is-small" %>
        </div>
      <% end %>
    </div>
</div>
