<div class="card">
    <div class="card-header has-background-white-ter">
      <div class="card-header-title">
          JOURNAL IMTEK
      </div>
      <div class="card-header-icon">
        <% if user_signed_in?  %>
        <%= link_to "Buat Journal", new_journal_path, class: "button is-success is-small" %>
        <% end %>
        <%#= form_tag subject_plans_path, method: :get do %>
            <div class="field has-addons">
              <div class="control">
                <%#= text_field_tag :search, params[:search], placeholder: "--cari kata--", class: "input is-small is-fullwidth"  %>
              </div>
              <div class="control">
                <%#= submit_tag "Cari", name:nil, class: "button is-success is-small" %>
              </div>
            </div>
        <%# end %>
      </div>
    </div>
    <div class="card-content">
      <% if @journals.present? %>
        <% @journals.each do |f| %>
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-256x256">
                  <% if f.journal_files.attached? %>
                    <% for journal in f.journal_files %>
                        <%#= image_tag journal.representation(resize:"200x200") %>
                        <%= image_tag journal.preview(resize:"256x256") %>
                        <%= link_to "download", rails_blob_path(journal, disposition: :attachment) %>
                        <%= link_to "hapus", delete_journal_file_attachment_journal_url(f, journal_files_id: journal.id), method: :delete, data: {confirm: 'Yakin Hapus Gambar?'} %>
                    <% end %>
                  <% end %>
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <h4>
                    <strong>Volume&nbsp;&nbsp;<%= f.volume %></strong>
                  </h4>
                  <p>
                    Deskripsi :<br />
                    <%= f.description %>
                  </p>
                  <p>
                    <%= link_to icon_edit(""), edit_journal_path(f), class:"is-info is-size-7	" %>
                    <%= link_to icon_delete(""), journal_path(f), method: :delete, class:"is-danger is-size-7	" %>
                  </p>
                </div>
              </div>
            </article>
          </div>
        <% end %>
      <% else %>
          Maaf data belum ada
      <% end %>
    </div>
</div>
