<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title is-size-7">
      PENGHARGAAN/PIAGAM
    </div>
    <div class="card-header-icon">
      <%= link_to "Buat data", new_lecture_lecture_appreciation_path(@lecture), class: "button is-success is-small"  %>
    </div>
  </div>
  <div class="card-content">
    <% if appreciations.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td class="is-size-7">Tahun</td>
                <td class="is-size-7">Bentuk Penghargaan</td>
                <td class="is-size-7">Pemberi</td>
                <td class="is-size-7" colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% appreciations.each do |piagam| %>
          <tr>
              <td class="is-size-7"><%= piagam.year %></td>
              <td class="is-size-7"><%= piagam.appreciation %></td>
              <td class="is-size-7"><%= piagam.presented_by %></td>
              <td class="is-size-7"><%= link_to "Edit", edit_lecture_lecture_appreciation_path(@lecture, piagam)  %></td>
              <td class="is-size-7"><%= link_to "Hapus", lecture_lecture_appreciation_path(@lecture, piagam), method: :delete, data: {confirm: "Anda yakin hapus?"} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    Maaf belum ada data
    <% end %>
  </div>
</div>
