<div class="card">
  <div class="card-header has-background-white-ter ">
    <div class="card-header-title">
      KONFERENSI/SEMINAR/LOKAKARYA/SIMPOSIUM
    </div>
    <div class="card-header-icon">
      <%= link_to "Buat data", new_lecture_lecture_conference_path(@lecture), class:"button is-success is-small" %>
    </div>
  </div>
  <div class="card-content">
    <% if conferences.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Judul Kegiatan</td>
                <td>Penyelenggara</td>
                <td>Panitia/peserta/pembicara</td>
                <td colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% conferences.each do |conference| %>
          <tr>
              <td><%= conference.year %></td>
              <td><%= conference.conference %></td>
              <td><%= conference.presented_by %></td>
              <td><%= conference.role %></td>
              <td><%= link_to "Edit", edit_lecture_lecture_conference_path(@lecture, conference)  %></td>
              <td><%= link_to "Hapus", lecture_lecture_conference_path(@lecture, conference), method: :delete, data: {confirm: "Anda yakin hapus?"} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    Maaf belum ada data
    <% end %>
  </div>
</div>
