<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      RIWAYAT PENDIDIKAN PERGURUAN TINGGI
    </div>
    <div class="card-header-icon">
      <%= link_to "Buat data", new_lecture_lecture_education_history_path(@lecture), class: "button is-success is-small" %>
    </div>
  </div>
  <div class="card-content">
    <% if educations.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun Lulus</td>
                <td>Program Pendidikan(diploma, sarjana, magister, spesialis, dan doktor)</td>
                <td>Perguruan Tinggi</td>
                <td>Jurusan/Program Studi</td>
                <td colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% educations.each do |education| %>
          <tr>
              <td><%= education.try(:graduation_year) %></td>
              <td><%= education.try(:level) %></td>
              <td><%= education.try(:institute) %></td>
              <td><%= education.try(:major) %></td>
              <td><%= link_to "Edit", edit_lecture_lecture_education_history_path(@lecture, education)  %></td>
              <td><%= link_to "Hapus", lecture_lecture_education_history_path(@lecture, education), method: :delete, data: {confirm: "Anda yakin hapus?"} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    Maaf belum ada data
    <% end %>
  </div>
</div>
