<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      JABATAN DALAM PENGELOLAAN INSTITUSI
    </div>
    <div class="card-header-icon">
      <%= link_to "Buat data", new_lecture_lecture_position_history_path(@lecture), class: "button is-success is-small"  %>
    </div>
  </div>
  <div class="card-content">
    <% if positions.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Peran/Jabatan</td>
                <td>Institut(Univ,Fak,Jurusan,Lab,Studio,Manajemen Sistem Informasi Akademik dll)</td>
                <td>Tahun... s.d. ...</td>
                <td colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% positions.each do |jabatan| %>
          <tr>
              <td><%= jabatan.position %></td>
              <td><%= jabatan.institute %></td>
              <td><%= jabatan.try(:start_at).strftime("%m-%Y") %> s.d. <%= jabatan.try(:end_at).strftime("%m-%Y") %></td>
              <td><%= link_to "Edit", edit_lecture_lecture_position_history_path(@lecture, jabatan) %></td>
              <td><%= link_to "Hapus", new_lecture_lecture_position_history_path(@lecture, jabatan), method: :delete, data:{confirm: "Anda yakin hapus?"}%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    Maaf belum ada data
    <% end %>
  </div>
</div>
