<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title ">
      IDENTITAS DIRI
    </div>
    <div class="card-header-icon">
      <% if @lecture.lecture_profile.present? %>
        <%= link_to "Edit data", edit_lecture_path(@lecture, type:"IDENTITAS DIRI"), class: "button is-success is-small" %>
      <% else %>
        <%= link_to "Buat data", edit_lecture_path(@lecture, type:"IDENTITAS DIRI"), class: "button is-success is-small" %>
      <% end %>
    </div>
  </div>
  <div class="card-content">
    <% if @lecture.lecture_profile.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow">
        <tbody>
          <tr><td>Nama</td><td><%= lecture_name(profile.try(:gelar_depan_nama), profile.try(:nama), profile.try(:gelar_belakang_nama).gsub(" \r\n", "&nbsp;").html_safe) %></td></tr>
          <tr><td>NIP/NIDN</td><td><%= profile.try(:nomor_induk_pegawai) rescue nil %>&nbsp;/&nbsp;<%= profile.try(:nomor_induk_dosen_negara) rescue nil %></td></tr>
          <tr><td>Tempat dan Tanggal Lahir</td><td><%= profile.try(:tempat_lahir).titleize %>&nbsp;/&nbsp;<%= profile.try(:tanggal_lahir).strftime("%d-%m-%Y") rescue nil %></td></tr>
          <tr><td>Jenis Kelamin</td><td><%= profile.try(:jenis_kelamin) rescue nil %></td></tr>
          <tr><td>Status Perkawinan</td><td><%= profile.try(:marital_status) rescue nil %></td></tr>
          <tr><td>Agama</td><td><%= lecture.religion.try(:name) rescue nil %></td></tr>
          <tr><td>Golongan / Pangkat</td><td><%= lecture.lecture_functional_type.try(:lecture_level_type).group rescue nil %>&nbsp;/&nbsp;<%= lecture.lecture_functional_type.try(:lecture_level_type).letter  rescue nil %></td></tr>
          <tr><td>Jabatan Akademik</td><td><%= lecture.lecture_functional_type.try(:name) rescue nil %></td></tr>
          <tr><td>Perguruan Tinggi</td><td><%= lecture.try(:major).faculty.university.name rescue nil%></td></tr>
          <tr><td>Alamat</td><td><%= lecture.try(:major).faculty.university.alamat rescue nil %></td></tr>
          <tr><td>Telp. / Faks.</td><td><%= lecture.try(:major).faculty.university.telepon rescue nil %></td></tr>
          <tr><td>Alamat Rumah</td><td><% if addresses.present? %><%= address_format(addresses.first.try(:street).titleize, addresses.first.try(:rt), addresses.first.try(:rw), addresses.first.try(:kelurahan).titleize, addresses.first.try(:kecamatan).titleize, addresses.first.try(:city)) %><% end %> </td></tr>
          <tr><td>Handphone</td><td><%= profile.handphone rescue nil %></td></tr>
          <tr><td>Alamat Email</td><td><%= @lecture.email %></td></tr>
        </tbody>
      </table>
    </div>
    <% else %>
      Maaf belum ada data
    <% end %>
  </div>
</div>
