<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      PENGALAMAN PENELITIAN
    </div>
    <div class="card-header-icon">
      <%= link_to "Buat data", new_lecture_lecture_research_path(@lecture), class: "button is-success is-small"  %>
    </div>
  </div>
  <div class="card-content">
    <% if researchs.present? %>
    <div class="table-container">
      <table class="table is-fullwidth is-hover is-hoverable is-narrow is-bordered">
        <thead>
            <tr>
                <td>Tahun</td>
                <td>Judul Penelitian</td>
                <td>Ketua/Anggota Tim</td>
                <td>Sumber Dana</td>
                <td colspan="2">Aksi</td>
            </tr>
        </thead>
        <tbody>
          <% researchs.each do |research| %>
          <tr>
              <td><%= research.year %></td>
              <td><%= research.research %></td>
              <td><%= research.role %></td>
              <td><%= research.source_funds %></td>
              <td><%= link_to "Edit", edit_lecture_lecture_research_path(@lecture, research) %></td>
              <td><%= link_to "Hapus", lecture_lecture_research_path(@lecture, research), method: :delete, data:{confirm: "Anda yakin hapus?"}%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
      Maaf belum ada data
    <% end %>
  </div>
</div>
