<div class="card">
    <div class="card-content">
      <p class="is-size-7">Input / Edit Matakuliah</p><br />
      <%= simple_form_for @subject, wrapper: :default do |f| %>
        <%= f.input :semester, collection:Subject.semester_list.map{|x| x}, include_blank:"--Pilih Semester--", wrapper: :select_bulma_small %>
        <%= f.input :matakuliah, label: false, placeholder: "--Nama Matakuliah--", wrapper: :text_bulma_small %>
        <%= f.input :kode, placeholder: "--Kode--", label:false, wrapper: :text_bulma_small %>
        <%= f.input :kredit, collection:["1","2","3","4", "5"],include_blank: "--Satuan Kredit--", wrapper: :select_bulma_small %>
        <%= f.input :kategori, collection:Subject::CATEGORY_MATAKULIAH_LIST.map{|x| x},include_blank: "--Kategori--", wrapper: :select_bulma_small %>
        <%= f.input :faculty, collection:Subject::FACULTY_LIST.map{|x| x},include_blank: "--Fakultas--", wrapper: :select_bulma_small %>
        <%= f.input :major, collection:Subject::MAJOR_LIST.map{|x| x},include_blank: "--Program Studi--", wrapper: :select_bulma_small %>
        <%= f.input :khusus, collection:Subject::KHUSUS_LIST.map{|x| x}, include_blank: "--Konsentrasi--", wrapper: :select_bulma_small %>
        <%= f.input :tahun_berlaku, collection:Subject::TAHUN_BERLAKU_LIST.map{|x| x},include_blank: "--Tahun Berlaku--", wrapper: :select_bulma_small %>
        <% if current_user.email == "kingmalprax@gmail.com" %>
        <div class="buttons is-right">
          <% if params[:action]=="index" %>
            <%= f.submit "Simpan", class: " button is-primary is-small", remote: true %>
          <% elsif params[:action]=="new" %>
            <%= f.submit "Simpan", class: " button is-primary is-small", remote: true %>
          <% elsif params[:action]=="edit" %>
            <%= f.submit "Simpan", class: "button is-primary is-small", remote: true %>
            <%= link_to "Batal", subjects_path, class: "button is-danger is-small" %>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
</div>
