<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          
          <h3>Halo Mahasiswa</h3><br />
          <p>Anda perlu melakukan 4 hal pokok sebagai langkah awal dalam akun anda</p>
          <ol>
            <li>Masukkan nomor handphone aktif anda yang akan diverifikasi otomatis oleh sistem <br />
                <%#= link_to "Verifikasi Handphone", edit_biodata_mahasiswa_path(current_user.id), class: "btn btn-sm btn-success m-2" if current_user.mahasiswa_profile.handphone %>
            </li>
            <li>Mengisi biodata anda yang akan diverifikasi oleh admin</li>
            <li>Mengupload dokumen pribadi sekali saja (Phasfoto, KK, KTP, Akte Kelahiran, Ijazah, dan lain lain)</li>
            <li>Mengupload dokumen bukti pembayaran setiap Semester(Uang Pendaftaran, SPP, BPP, dan lain lain)</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
