<section class="section">
  <div class="columns is-tablet">
    <div class="column is-4 is-offset-4">
      <div class="field has-text-centered">
        <div class="columns">
          <div class="column">
            <%= image_tag 'https://upri.s3-ap-southeast-1.amazonaws.com/images/upri.png', style: 'width: 20%;' %><br />
            <p >FAKULTAS TEKNIK</p>
            <p >UNIVERSITAS PEJUANG REPUBLIK INDONESIA</p><br />
          </div>
        </div>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, wrapper: :default, defaults: {wrapper: false}) do |f| %>
        <%= render 'shared/devise_message', resource: resource %>
        <%= f.full_error :confirmation_token %>
        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>
        <%= f.input :password, placeholder:"--Password Baru--", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, placeholder:"--Konfirmasi Password Baru--", required: true %>
        <p class="buttons">
            <%= f.button :submit, "Ubah Password", class: "is-fullwidth" do %>
              <span class="icon is-small">
                <i class="fas fa-check"></i>
              </span>
            <% end %>
        </p>
        <div class="field">
          <div class="control">
            <span >
              <%= link_to "Kembali", root_path %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
