<section class="section">
  <div class="columns is-tablet">
    <div class="column is-4 is-offset-4">
      <div class="field has-text-centered">
        <div class="columns">
          <div class="column">
            <%= image_tag 'https://upri.s3-ap-southeast-1.amazonaws.com/images/upri.png', style: 'width: 20%;' %><br />
            <p >FAKULTAS TEKNIK</p>
            <p >UNIVERSITAS PEJUANG REPUBLIK INDONESIA</p><br />
          </div>
        </div>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), wrapper: :default, defaults: {wrapper: false}) do |f| %>
        <%= render 'shared/devise_message' %>
        <%= f.full_error :confirmation_token %>
        <%= f.input :email, required: false, autofocus: true, wrapper: :email_bulma, placeholder:"--Email--", label: false %>
        <p class="buttons">
            <%= f.button :submit, "Kirim Ulang Petunjuk Reset Password", class: "is-fullwidth" do %>
              <span class="icon is-small">
                <i class="fas fa-check"></i>
              </span>
            <% end %>
        </p>
        <div class="field">
          <div class="control">
            <span >
              <%= link_to "Kembali", root_path %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
