<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 mb-5">
      <%= simple_form_for @book_collection, wrapper: :horizontal_form do |buku| %>
        <div class="card ">
          <div class="card-header">
            <%= params[:action] == "new" ? "Tambah Buku" : "Edit Buku" %>
          </div>
          <div class="card-body" style="padding-bottom: 1.25rem;">
            <table class="table">
              <tr>
                <td>
                  <%= buku.input :judul %>
                  <%= buku.input :penulis %>
                  <%= buku.input :penerbit %>
                  <%= buku.input :kategori, collection: BookCollection.book_list, include_blank: "-pilih-" %>
                  <%= buku.input :posisi, collection: BookCollection.posisi_list, include_blank:"-pilih-" %>
                </td>
              </tr>
              <tr>
                <td  class="text-center upload-preview">
                <%= image_tag @book_collection.cover_buku_url(:thumbnail).to_s, class: "img-thumbnail file-upload-preview mb-3", id: "preview-cover-buku" %>
                </td>
              </tr>
              <tr class="text-center">
                <td>
                  <label class="btn btn-primary">
                    Upload Foto
                    <span style="display:none;">
                      <%= buku.input_field :cover_buku, as: :hidden, input_html:{value: @book_collection.cached_cover_buku_data , id: "cover-buku-upload-result" } %>
                      <%= buku.input_field :cover_buku, as: :file, multiple: true, accept: CoverUploader::ALLOWED_TYPES.join(","), data: { upload_server: upload_server, preview_element: "preview-cover-buku", upload_result_element: "cover-buku-upload-result" }, class: "btn btn-success" %>
                    </span>
                  </label>
                </td>

              </tr>
            </table>
          </div>
          <div class="card-footer">
            <%= link_to "Kembali", index_buku_path, class:"btn btn-danger pull-right ml-2" %>
            <%= params[:action] == "new" ? (buku.submit "Tambah Buku", class: "btn btn-success pull-right")  : (buku.submit "Edit Buku", class: "btn btn-success pull-right")  %>
          </div>
        </div>
        <% end %>
    </div>
</div>
