<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5>Katalog Buku Perpustakaan Fakultas Teknik UPRI</h5>
        </div>
        <div class="card-body">
          <%= link_to 'Tambah Buku', new_book_collection_path, class: "btn btn-success mb-2" %>
          <table class="table table-sm table-bordered table-responsive">
            <thead>
              <tr>
                <th class="text-center">No</th>
                <th>Kode</th>
                <th class="text-center">Cover</th>
                <th>Judul</th>
                <th>Penulis</th>
                <th>Penerbit</th>
                <th>Kategori</th>
                <th>Posisi</th>
                <th colspan="2">Aksi</th>
              </tr>
            </thead>

            <tbody>
              <% if params[:page].nil? || params[:page]== "0" || params[:page]=="1" %>
                <% x = 0 %>
              <% else %>
                <% page = params[:page].to_i - 1 %>
                <% x = page*10 %>
              <% end %>
              <% @book_collections.each_with_index do |buku, i| %>
                <tr>
                  <td class="text-center"><%= i = i + x + 1 %></td>
                  <td><%= buku.kode rescue nil %></td>
                  <td style="width:80px;height:100%;" class="text-center"><%= image_tag set_book_resource(buku), class:"img-thumbnail" %></td>
                  <td><%= buku.judul %></td>
                  <td><%= buku.penulis %></td>
                  <td><%= buku.penerbit %></td>
                  <td><%= buku.kategori %></td>
                  <td><%= buku.posisi %></td>
                  <td><%= link_to icon_edit(''), edit_book_collection_path(buku) %></td>
                  <td><%= link_to icon_delete(''), book_collection_path(buku), method: :delete, data: { confirm: 'Yakin Hapus?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 text-center mb-5">
      <%= paginate @book_collections%>
    </div>
  </div>
</div>
