<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5>Katalog Buku Perpustakaan</h5>
        </div>
        <div class="card-body">
          <%= link_to 'Tambah Buku', new_book_collection_path, class: "btn btn-success mb-2" %>
          <table class="table table-sm table-bordered table-responsive">
            <thead>
              <tr>
                <th>Nomor</th>
                <th>Cover</th>
                <th>Judul</th>
                <th>Penulis</th>
                <th>Penerbit</th>
                <th>Kategori</th>
                <th>Posisi</th>
                <th colspan="2">Aksi</th>
              </tr>
            </thead>

            <tbody>
              <% @book_collections.each_with_index do |buku, i| %>
                <tr>
                  <td><%= i = i + 1 %></td>
                  <td><%= buku.cover %></td>
                  <td><%= buku.judul %></td>
                  <td><%= buku.nama %></td>
                  <td><%= buku.penulis %></td>
                  <td><%= buku.penerbit %></td>
                  <td><%= buku.kategori %></td>
                  <td><%= buku.posisi %></td>
                  <td><%= link_to icon_edit(''), edit_book_collection_path(buku) %></td>
                  <td><%= link_to icon_delete(''), book_collection_path(buku), method: :delete, data: { confirm: 'Yakin Hapus?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
