<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-6 ">
      <div class="card">
        <div class="card-body">
          <%= form_tag phone_verifications_path, method: :post do  %>
            
            <div>
              <label for="phone_number">Nomor Handphone</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= telephone_field_tag :phone_number %>
            </div>
            <br />
            <div>
              <%= submit_tag "Input", class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
