<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-6 ">
      <div class="card">
        <div class="card-body">
          <%= form_tag(konfirmasi_phone_verifications_path, method: :post) do -%>
            <% if @response %>
              <% @response.errors.each do |key, message| %>
                <p><%= message %></p>
              <% end %>
            <% end %>
            <div>
              <%= label_tag "code", "Masukkan 4 Digit Karakter Yang Terkirim Ke Inbox :" %>
              <%= text_field_tag "code" %>
            </div>
            <%= submit_tag "Konfirmasi", class: "btn btn-success" %>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>
