.container
  .row.justify-content-center
    .col-12
      .card
        .card-header
          %h5 Daftar Dokumen Yang harus Dipersiapkan Pada Saat Visitasi
        .card-body
          %table.table.table-bordered
            %thead
              %tr
                %th No
                %th Item
                %th
                %th
                %th

            %tbody
              - @accreditations.each do |accreditation|
                %tr
                  %td= accreditation.item
                  %td= accreditation.academic_year_id
                  %td= link_to 'Show', accreditation
                  %td= link_to 'Edit', edit_accreditation_path(accreditation)
                  %td= link_to 'Destroy', accreditation, method: :delete, data: { confirm: 'Are you sure?' }

          %br

          = link_to '+ Item', new_accreditation_path, class:"btn btn-success"

    .col-12
      -# =paginate @book_collections
