<section class="section">
    <div class="columns">
        <div class="column">
            <%= simple_form_for [@lecture, @teaching] do |teaching| %>
              <%#= render 'shared/errors', object: teaching %>
              <%= teaching.label :subject, "Matakuliah" %>
              <%= teaching.input :subject, label:false, wrapper: :text_bulma_small %>

              <%= teaching.label :major, "Program Pendidikan" %>
              <%= teaching.input :major, label:false, wrapper: :text_bulma_small %>

              <%= teaching.label :institute, "Institut/Jurusan/Program Studi" %>
              <%= teaching.input :institute, label:false, wrapper: :text_bulma_small %>

              <%= teaching.label :semester_status, "Semester" %>
              <%= teaching.input :semester_status, collection:["Ganjil", "Genap"], wrapper: :select_bulma_small %>

              <%= teaching.label :academic_year, "Tahun Akademik" %>
              <%= teaching.input :academic_year, label:false, wrapper: :text_bulma_small %>

              <div class="buttons is-right">
                <%= teaching.submit "Simpan", class: "button is-success"%>
                <%= link_to "Kembali", lecture_path(@lecture, type:"MENGAJAR"), class: "button is-danger"%>
              </div>
            <% end %>
        </div>
    </div>
</section>
