<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hai, <%= @user.email %></p>
    <p>Anda berhasil diaktivasi</p>
    <p>Selamat bergabung di Fakultas Teknik</p>
    <p>Terima Kasih</p>
  </body>
</html>
