<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card mb-5">
          <div class="card-header ">
            <% if params[:action] == "new" %>
              <h6 class="p-2">Buat Data Dosen</h6>
            <% else %>
              <h6 class="p-2">Edit Data Dosen</h6>
            <% end %>
          </div>
          <div class="card-body">
            <%= simple_nested_form_for @dummylecture do |f| %>
              <%= f.input :major_id, collection: @majors.map{|x| [x.name, x.id]},label: "Program Studi" %>
              <%= f.input :nama, label:"Nama" %>
              <%= f.input :gelar_depan_nama, label:"Gelar Depan Nama" %>
              <%= f.input :gelar_belakang_nama, label:"Gelar Belakang Nama" %>
              <%= f.input :nidn, label:"Nomor Induk Dosen Negara" %>
              <%= f.input :status, collection: ["Dosen DPK","Dosen Yayasan", "Dosen Luar Biasa"], label: "Status" %>
              <%= f.submit "Simpan", class: " btn btn-primary", title:"Simpan", data: {toggle:"popover"} %>
              <%= link_to "Batal", index_dosen_path, class: " btn btn-danger" %>
            <% end %>
          </div>
          <div class="card-footer d-flex my-auto justify-content-between">
          </div>
        </div>
    </div>
  </div>
</div>
