<section class="section">
    <div class="columns is-mobile is-centered">
        <div class="column is-12">
          <div class="table-container">
            <table class="table is-striped is-narrow is-hoverable is-bordered is-fullwidth">
              <tbody>
                  <tr class="has-background-white" >
                    <th class="has-text-weight-light is-size-7" colspan=5>
                        <span class="is-size-7"><%= @subject_plan.student.student_profile.try(:nama).upcase %></span>&nbsp;&nbsp;<span class="is-size-7"><%= @subject_plan.student.student_profile.try(:nomor_induk_mahasiswa) %></span><br />
                        <span class="is-size-7">TANGGAL CETAK :</span>&nbsp;&nbsp;<span class="is-size-7"><%= Time.now.strftime("%d-%m-%Y") %></span><br />
                      </th>
                  </tr>
                  <tr class="has-background-white" >
                    <th class="has-text-centered has-text-weight-light" width=50px  style="vertical-align:middle;" colspan=2><%= wicked_pdf_image_tag 'upri_20.png', style: 'width: 55%;' %></th>
                    <th class="has-text-centered has-text-weight-light" colspan=2 style="vertical-align:middle;">
                      <span class="is-size-5">UNIVERSITAS PEJUANG REPUBLIK INDONESIA</span><br />
                      <span class="is-size-6"><%= @subject_plan.student.major.faculty.name.upcase %></span><br />
                      <span class="is-size-7">PROGRAM STUDI <%= @subject_plan.student.major.name.upcase %></span><br />
                      <span class="is-size-5 has-text-weight-bold">KARTU RENCANA STUDI&nbsp;<%= @subject_plan.academic_year.try(:name) %>&nbsp;<%= @subject_plan.academic_year.try(:semester).upcase  %></span><br />
                    </th>
                    <th class="has-text-centered has-text-weight-light" style="vertical-align:middle;"><%= @subject_plan.barcode_data(xdim: 3).html_safe%></th>
                  </tr>

                  <tr class="has-background-white" >
                    <th class="has-text-centered has-text-weight-light">No</th>
                    <th class="has-text-centered has-text-weight-light">Kode</th>
                    <th class="has-text-weight-light" colspan="1">Matakuliah</th>
                    <th class="has-text-centered has-text-weight-light">SKS</th>
                    <th class="has-text-centered has-text-weight-light">Biaya(Rp)</th>
                  </tr>
                  <% @subject_plan.subjects.each_with_index do |subject, i| %>
                  <tr class="is-size-7 has-text-weight-light">
                    <th class="has-text-centered has-text-weight-light"><%= i = i + 1 %></th>
                    <td class="has-text-centered"><%= subject.kode.try(:upcase) %></td>
                    <td colspan="1"><%= subject.try(:matakuliah).upcase %></td>
                    <td class="has-text-centered"><%= subject.try(:kredit) %></td>
                    <td class="has-text-centered"><%= subject.try(:kredit)*75000 %></td>
                  </tr>
                  <% end %>
                  <tr class="is-size-7 has-background-white" >
                    <th class="has-text-centered has-text-weight-light"></th>
                    <th class="has-text-centered has-text-weight-light"></th>
                    <th class="has-text-weight-light" colspan="1">Biaya Daftar</th>
                    <th class="has-text-centered has-text-weight-light"></th>
                    <th class="has-text-centered has-text-weight-light">50000</th>
                  </tr>
                  <tr class="is-size-7 has-text-weight-light">
                    <th class="has-text-right has-text-weight-light" colspan=3><strong>TOTAL SKS DAN BIAYA SEMESTER PENDEK</strong></th>
                    <td class="has-text-centered" id="total_sks"><strong><%= @subject_plan.subjects.sum(:kredit) %></strong></td>
                    <td class="has-text-centered" id="total_sks"><strong><%= (@subject_plan.subjects.sum(:kredit)*75000) + 50000 %></strong></td>
                  </tr>
                  <tr class="has-background-white" >
                    <th class="has-text-weight-light" colspan="4">
                      <p>Kepada Yth</p>
                      <p>Pimpinan Bank BRI</p>
                      <p>Harap diterima dan dibukukan setoran Semester Pendek, Mahasiswa Fakultas Teknik UPRI</p>
                      <% @biaya_sp =  (@subject_plan.subjects.sum(:kredit)*75000) + 50000 %>
                      <p>Ke dalam Rekening Nomor <strong>034301001373303</strong> Sebesar <strong> <%= number_to_currency(@biaya_sp, precision:0, unit:'Rp', separator:'.') %></strong></p>
                      <!-- <p><strong>Semester <%#= @payment.academic_year.semester.titleize %> Tahun Akademik <%#= @payment.academic_year.name %></strong> </p> -->
                      <p></p>
                    </th>
                    <th class="has-text-weight-light" colspan="1">
                      <p class="ha-text-weight-light is-size-7 has-text-centered">Paraf Petugas Bank</p>
                      <br />
                      <br />
                      <br />

                      <p class="ha-text-weight-light is-size-7 has-text-centered">........</p>
                    </th>
                  </tr>
                  <tr>
                    <th class="has-text-weight-light has-text-centered" colspan="5">
                      Diprint pada kertas A4, ditanda tangani, dan foto beserta bukti transfer dari Bank (boleh print out ATM atau lembar kuning). Setelah itu upload pada bagian KRS
                    </th>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</section>
