#galleryPreview{
  .imgBox {
  	width: 720px;
  	margin: 50px auto 20px;
  }
  .imgBox img {
  	width: 100%;
  	border: 4px solid #fff;
  	box-shadow: 0 5px 25px rgba(0,0,0,.5);
  }
  ul.thumb {
  	margin: 0 auto;
  	padding:0;
  	display: flex;
  	align-item:center;
  	justify-content:center;
  }
  ul.thumb li {
  	list-style: none;
  	margin: 0 10px;
  	width:125px;
  	height:100px;
  }
  ul.thumb li img {
  	border: 4px solid #fff;
  	box-shadow: 0 5px 25px rgba(0,0,0,.5);
  	width:100%;
  	height:100%;
  }
}
