#main_page{
  background-image: url('https://s3-ap-southeast-1.amazonaws.com/upri/store/web+image/gold_shiny.png');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  text-shadow: 4px 4px 6px #fff;
  .btn{
    text-shadow: none;
  }
  .shadow_image{
    box-shadow: 0 8px 6px -6px white;
  }
}
