.cid-qB7KbHp5Ra {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #ffe0e7;
    background: linear-gradient(#ffe0e7, #ecfafc);
}
.mbr-section-title {
    font-style: normal;
    line-height: 1.2;
}
.cid-qB7KbHp5Ra .mbr-section-subtitle {
    color: #767676;
}

.cid-qyvf9K0GGo {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #ffffff;
}
