

#sambutan_rektor{
   margin: 30px 0 0 30px auto;

  .aboutus-section {
      padding: 90px 0;
  }
  .aboutus-title {
      font-size: 30px;
      letter-spacing: 0;
      line-height: 32px;
      margin: 0 0 39px;
      padding: 0 0 11px;
      position: relative;
      text-transform: uppercase;
      color: #000;
  }
  .aboutus-title::after {
      background: #fdb801 none repeat scroll 0 0;
      bottom: 0;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      width: 54px;
  }
  .aboutus-text {
      color: #606060;
      font-size: 13px;
      line-height: 22px;
      margin: 0 0 35px;
  }

  a:hover, a:active {
      color: #ffb901;
      text-decoration: none;
      outline: 0;
  }
  .aboutus-more {
      border: 1px solid #fdb801;
      border-radius: 25px;
      color: #fdb801;
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0;
      padding: 7px 20px;
      text-transform: uppercase;
  }
  .feature .feature-box .iconset {
      background: #fff none repeat scroll 0 0;
      float: left;
      position: relative;
      width: 18%;
  }
  .feature .feature-box .iconset::after {
      background: #fdb801 none repeat scroll 0 0;
      content: "";
      height: 150%;
      left: 43%;
      position: absolute;
      top: 100%;
      width: 1px;
  }

  .feature .feature-box .feature-content h4 {
      color: #0f0f0f;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 22px;
      margin: 0 0 5px;
  }


  .feature .feature-box .feature-content {
      float: left;
      padding-left: 28px;
      width: 78%;
  }
  .feature .feature-box .feature-content h4 {
      color: #0f0f0f;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 22px;
      margin: 0 0 5px;
  }
  .feature .feature-box .feature-content p {
      color: #606060;
      font-size: 13px;
      line-height: 22px;
  }
  .icon {
      color : #f4b841;
      padding:0px;
      font-size:40px;
      border: 1px solid #fdb801;
      border-radius: 100px;
      color: #fdb801;
      font-size: 28px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      width: 70px;
  }

  img {
    vertical-align: middle;
  }

  .img-responsive {
      display: block;
      height: auto;
      max-width: 100%;
  }

  .img-rounded {
      border-radius: 3px;
  }

  .img-thumbnail {
      background-color: #fff;
      border: 1px solid #ededf0;
      border-radius: 3px;
      display: inline-block;
      height: auto;
      line-height: 1.428571429;
      max-width: 100%;
      moz-transition: all .2s ease-in-out;
      o-transition: all .2s ease-in-out;
      padding: 2px;
      transition: all .2s ease-in-out;
      webkit-transition: all .2s ease-in-out;
  }

  .img-circle {
      border-radius: 50%;
  }

  .timeline-centered {
      position: relative;
      margin-bottom: 30px;
  }

  .timeline-centered:before, .timeline-centered:after {
      content: " ";
      display: table;
  }

  .timeline-centered:after {
      clear: both;
  }

  .timeline-centered:before, .timeline-centered:after {
      content: " ";
      display: table;
  }

  .timeline-centered:after {
      clear: both;
  }

  .timeline-centered:before {
      content: '';
      position: absolute;
      display: block;
      width: 4px;
      background: #f5f5f6;
      /*left: 50%;*/
      top: 20px;
      bottom: 20px;
      margin-left: 30px;
  }

  .timeline-centered .timeline-entry {
      position: relative;
      /*width: 50%;
      float: right;*/
      margin-top: 5px;
      margin-left: 30px;
      margin-bottom: 10px;
      clear: both;
  }

  .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
      content: " ";
      display: table;
  }

  .timeline-centered .timeline-entry:after {
      clear: both;
  }

  .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
      content: " ";
      display: table;
  }

  .timeline-centered .timeline-entry:after {
      clear: both;
  }

  .timeline-centered .timeline-entry.begin {
      margin-bottom: 0;
  }

  .timeline-centered .timeline-entry.left-aligned {
      float: left;
  }

  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
      margin-left: 0;
      margin-right: -18px;
  }

  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
      left: auto;
      right: -100px;
      text-align: left;
  }

  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
      float: right;
  }

  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
      margin-left: 0;
      margin-right: 70px;
  }

  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
      left: auto;
      right: 0;
      margin-left: 0;
      margin-right: -9px;
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  }

  .timeline-centered .timeline-entry .timeline-entry-inner {
      position: relative;
      margin-left: -20px;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
      content: " ";
      display: table;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner:after {
      clear: both;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
      content: " ";
      display: table;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner:after {
      clear: both;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
      position: absolute;
      left: -100px;
      text-align: right;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
      display: block;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
      font-size: 15px;
      font-weight: bold;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
      font-size: 12px;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
      background: #fff;
      color: #737881;
      display: block;
      width: 40px;
      height: 40px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      text-align: center;
      -moz-box-shadow: 0 0 0 5px #f5f5f6;
      -webkit-box-shadow: 0 0 0 5px #f5f5f6;
      box-shadow: 0 0 0 5px #f5f5f6;
      line-height: 40px;
      font-size: 15px;
      float: left;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
      background-color: #303641;
      color: #fff;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
      background-color: #ee4749;
      color: #fff;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
      background-color: #00a651;
      color: #fff;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
      background-color: #21a9e1;
      color: #fff;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
      background-color: #fad839;
      color: #fff;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
      background-color: #cc2424;
      color: #fff;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
      position: relative;
      background: #f5f5f6;
      padding: 1em;
      margin-left: 60px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 9px 9px 0;
      border-color: transparent #f5f5f6 transparent transparent;
      left: 0;
      top: 10px;
      margin-left: -9px;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
      color: #737881;
      font-family: "Noto Sans",sans-serif;
      font-size: 12px;
      margin: 0;
      line-height: 1.428571429;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
      margin-top: 15px;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
      font-size: 16px;
      margin-bottom: 10px;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
      color: #303641;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
      -webkit-opacity: .6;
      -moz-opacity: .6;
      opacity: .6;
      -ms-filter: alpha(opacity=60);
      filter: alpha(opacity=60);
  }
}
