#visi_misi{
  body, html {
    height: 100%;
  }

  body {
    // font-size: 1.1em;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.4em;
    color: #6F7C80;
    background-color: #fff !important;

  }

  article{
    font-size: 20px !important;
  }

  .content {
    padding-top: 100px;
  }

  section {
    width: 700px;
    margin: auto;
    text-align: center;
    margin-bottom: 3em;
    padding: 60px 0 50px 0 !important;

  }

  .line-title {
    margin-bottom: 1.3em;
    font-size: 2.5em;

    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
    color: #41b91c !important;
  }
  .line-title:before, .line-title:after {
    content: '';
    display: inline-block;
    height: 1px;
    background: #6F7C80;
    width: 50%;
    position: relative;
    vertical-align: middle;
  }
  .line-title:before {
    left: -0.5em;
    margin-left: -50%;
  }
  .line-title:after {
    right: -0.5em;
    margin-right: -50%;
  }
}
