/* Footer styles
-------------------------------------------------- */
#footer {
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 400px;
  padding: 20px 30px 100px 30px;

  // background-image: url('https://s3-ap-southeast-1.amazonaws.com/upri/store/web+image/darkdenim3.png');
  // background-image: asset-url('linen_texture.png');
  // background: #6d7cab;
  // background: 100% auto;
  background-color: grey;
  background-position: center;
  background-repeat: repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border-top: 2px solid #34D7D7;
  color: yellow;
  .footertext {
    color: yellow;
  }

  div{
    background-color: #7777777;
    border-color: #7777777;
    ul{
      margin-bottom: 20px;
      list-style-type: none;
      li{
            color: #fff;
            text-decoration: none;
            padding: 15px 0 0 0;
            .glyphicon-map-marker{
              color: yellow;
              font-size: 20px;
              vertical-align: baseline;
              float:left;
              margin-right:10px;
            }
            .glyphicon-earphone{
              color: blue;
              font-size: 20px;
              margin-right:10px;
              vertical-align: baseline;
              float:left;
            }
            > a{
              background-color: transparent;
              color: #fff;
              margin-left: -38px;
            }
            > a:hover{
              text-decoration:none;
              color: yellow;
              -webkit-transition: color 100ms ease-in-out 200ms;
              -moz-transition: color 100ms ease-in-out 200ms;
              -o-transition: color 100ms ease-in-out 200ms;
              transition: color 100ms ease-in-out 200ms;
            }

      }
    }
  }

  div > .katabijak{
//    margin: 30px;
    min-height:100%;
    padding: 10px 0 0 15px;
    border-left: 1px solid #515151;
  }

  .bottom-footer{
    margin: 20px 0 -50px 0px;
    border-top: 1px solid #93f3af;
    color: #fff;
    bottom: -55px;
    padding: 15px 0 0 0px;
    width: 100%;
  }

}
