<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      BIAYA PENYELENGGARAAN PENDIDIKAN (BPP)
    </div>
  </div>
  <div class="card-content">
    <%= simple_form_for [@student, @payment], wrapper: :default do |f| %>
        <%= render 'shared/errors', object: @payment %>
        <%= f.input :kind, input_html: {value:'bpp'}, as: :hidden %>

        <%= f.label :academic_year, "Semester Dan Tahun Akademik" %>
        <%= f.association :academic_year, include_blank: "--Semester Dan Tahun Akademik--", collection: AcademicYear.sortir_dari_tahun_terakhir_dan_aktifnya.map{|x| ["#{x.semester} - #{x.name}", x.id]} ,wrapper: :select_bulma_small %>

        <%= f.label :in_number, "Besar Biaya:" %>
        <%= f.input :in_number, include_blank: '--besar biaya--',priority: :in_number, collection: Payment.bpp_tambang_list_price , wrapper: :select_bulma_small %>

        <%= f.label :type_student, "Program Kelas Mohon Kosongkan Bila Bukan Jalur P2K" %>
        <%= f.input :type_student, include_blank: '--Program Kelas--', collection: Payment.class_type_list, wrapper: :select_bulma_small %>
        <% if params[:action]=="edit" %>
          <%= active_storage_file(@payment.payment_file, "https://bulma.io/images/placeholders/128x128.png", "100x100", "attachment") %>
          <%= f.input :payment_file, as: :file, input_html:{direct_upload: true}, wrapper: :file_bulma %>
          <%= f.label :paid, "Tanggal Bayar dari Bank" %>
          <%= f.input :paid, as: :date, html5: true, wrapper: :date_bulma %>
        <% end %>
      <div class="buttons is-right">
        <%= f.button :submit, "Simpan", class: 'button is-small is-success' %>
        <%= link_to 'Kembali', student_payments_path(@student), class: 'button is-small is-danger' %>
      </div>
    <% end %>
  </div>
</div>
