<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      BIAYA PENYELENGGARAAN PENDIDIKAN (BPP)
    </div>
  </div>
  <div class="card-content">
    <%= simple_form_for [@student, @student.payments.build], wrapper: :default do |f| %>
      <%= f.error_notification %>
      <%= render 'shared/errors', object: @payment %>
      <%= f.input :kind,  input_html: {value:'spj'}, as: :hidden %>

      <%= f.label :academic_year, "Semester Dan Tahun Akademik" %>
      <%= f.association :academic_year, include_blank: "--Semester Dan Tahun Akademik--", collection: AcademicYear.order(:created_at).map{|x| ["#{x.semester} - #{x.name}", x.id]} ,wrapper: :select_bulma_small %>

      <%= f.label :academic_year, "Besar Biaya:" %>
      <%= f.input :in_number, include_blank: '--besar biaya--', collection: Payment::SPJ_TAMBANG_LIST_PRICE.map{|k, v| [k,v]}, wrapper: :select_bulma_small %>
      <% if params[:action]=="edit" %>
          <%= image_tag @payment.payment_file.variant(resize_to_limit: [100, 100])  %>
          <%= f.input :payment_file, as: :file, label:false, input_html:{direct_upload: true}, wrapper: :file_bulma %>
      <% end %>
      <%#= f.label :bank, "Bank" %>
      <%= f.input :bank_id, input_html:{value:2}, as: :hidden %>
    <div class="buttons is-right">
      <%= f.button :submit, "Simpan", class: 'button is-small is-success' %>
      <%= link_to 'Kembali', student_payments_path(@student), class: 'button is-small is-danger' %>
    </div>
    <% end %>
  </div>
</div>
