<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      UPLOAD FILE SUMBANGAN PEMBINAAN PENDIDIKAN (SPP)
    </div>
  </div>
  <div class="card-content">
    <%= simple_form_for [@student, @payment], wrapper: :default do |f| %>
      <%= render 'shared/errors', object: @payment %>
        <%= f.input :payment_file, as: :file, wrapper: :file_bulma %>
        <%= f.label :paid, "Tanggal Bayar dari Bank" %>
        <%= f.input :paid, as: :date, html5: true, wrapper: :date_bulma %>
      <div class="buttons is-right">
        <%= f.button :submit, "Simpan", class: 'button is-small is-success' %>
        <%= link_to 'Kembali', student_payments_path(@student), class: 'button is-small is-danger' %>
      </div>
    <% end %>
  </div>
</div>
