<div class="card">
  <div class="card-header has-background-white-ter">
    <div class="card-header-title">
      WISUDA
    </div>
  </div>
  <div class="card-content">
    <%= simple_form_for [@student, @student.payments.build], wrapper: :default do |f| %>
      <%= f.error_notification %>
        <%= f.input :kind, disabled: true, input_html:{value:'wisuda'} %>
        <%= f.association :academic_year, placeholder: "--Semester Dan Tahun Akademik--", wrapper: :select_bulma_small %>
        <%= f.input :in_number, disabled:true, wrapper: :text_bulma_small %>
        <%= f.input :in_word,  wrapper: :text_bulma_small %>
        <%= f.association :bank, wrapper: :select_bulma_small %>
      <div class="buttons is-right">
        <%= f.button :submit, "Simpan", class: 'button is-small is-success' %>
        <%= link_to 'Kembali', student_payments_path(@student), class: 'button is-small is-danger' %>
      </div>
    <% end %>
  </div>
</div>
