<section class="hero is-medium is-warning is-bold">
  <div class="hero-body">
    <div class="container ">
      <h1 class="title has-text-white">
        Dashboard Mahasiswa
      </h1>

    </div>
  </div>
</section>
<% if current_user.is_active? %>
<section class="section">
  <div class="container">
    <div class="box">
      <% @campus_newspapers.limit(2).each do |campus_newspaper| %>
        <article class="media is-warning">
          <div class="media-left">
            <figure class="image is-32x32 is-rounded">
              <% if campus_newspaper.attachment.attached? %>
                <% if campus_newspaper.attachment.representable? %>
                  <%= image_tag campus_newspaper.attachment.representation(resize:"32x32") %>
                <% end %>
              <% end %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p class="is-size-7">
                <strong><%= campus_newspaper.try(:judul) %></strong> <small><%#= campus_newspaper.user_id %></small> <small><%= time_ago_in_words(campus_newspaper.created_at) %></small>
                <br>
                <%= truncate(campus_newspaper.try(:isi), :length => 200, :omission => '...'){link_to "selengkapnya", kabar_teknik_path, class:'has-text-link'}  %>
              </p>
            </div>
          </div>
        </article>
      <% end %>
    </div>
    <%#= render 'notifications/content', object: @notifications %>
  </div>
</section>
<% end %>
