<!DOCTYPE html>
<html>
  <head>
    <title>UPRI</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'students', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'subject_plans', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.js', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'https://upri.s3-ap-southeast-1.amazonaws.com/images/upri.ico', :rel => 'shortcut icon' %>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- using bulma -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  </head>

  <body>
    <%= render 'navigations/top_navigation' unless @disable_nav %>
    <%= render "shared/message" %>
    <%= yield %>
  </body>
</html>
