<!DOCTYPE html>
<html>
  <head>
    <title>Berita Kampus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.js', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'https://upri.s3-ap-southeast-1.amazonaws.com/images/upri.ico', :rel => 'shortcut icon' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
      <%= render 'navigations/top_navigation' unless @disable_nav %>
      <%= yield %>
  </body>
</html>
