<% if @name.present? %>
  <p>Halo <%= @name %>!</p>
<% else %>
  <p>Halo <%= @email %>!</p>
<% end %>
  <p>Anda dapat konfirmasi akun email anda dengan mengklik tombol link berikut:</p>
  <p><%= link_to 'Klik Disini', confirmation_url(@resource, confirmation_token: @token), class: "btn btn-success" %></p>
