<p>Halo <%= @resource.email %>!</p>

<!-- <p>Someone has requested a link to change your password. You can do this through the link below.</p> -->
<p>Seseorang telah meminta link untuk mengubah password anda. Anda dapat melakukannya dengan mengikuti link berikut.</p>

<p><%= link_to 'Ubah Password Saya', edit_password_url(@resource, reset_password_token: @token) %></p>

<!-- <p>If you didn't request this, please ignore this email.</p> -->
<p>Jika Anda tidak meminta hal ini, tolong abaikan email ini.</p>
<!-- <p>Your password won't change until you access the link above and create a new one.</p> -->
<p>Password Anda tidak akan berubah hingga anda mengakses link di atas dan membuat lagi yang baru.</p>
