<section class="section">
  <div class="column is-three-fifths is-offset-one-fifth">
    <div class="card">
      <div class="card-content">
        <%= simple_form_for @lecture_list, wrapper: :default, defaults: {wrapper: false} do |lecture_list| %>
          <%= lecture_list.input :name %>
          <%= lecture_list.input :nidn %>
          <%= lecture_list.input :nip %>
          <%= lecture_list.input :status, collection: LectureList.status_list, include_blank: "-Status Dosen-", wrapper: :inline_input %>
          <%= lecture_list.input :major_id, collection: Major.order(:name).find_each{|prodi| prodi.name.upcase}, include_blank: "-Program Studi-", wrapper: :inline_input %>
          <%= lecture_list.input :faculty_id, as: :hidden, input_html: {value: 3 } %>

          <div class="buttons">
            <%= params[:action] == "new" ? (lecture_list.submit "Buat Berita", class: "button is-success")  : (lecture_list.submit "Edit Berita", class: "button is-success")  %>
            <%= link_to "Kembali", lecture_lists_path, class:"button is-danger" %>
          </div>

        <% end %>
        </div>
      </div>
  </div>
</section>
