<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>NIDN</th>
      <th>NIP</th>
      <th>Status</th>
      <th>Program Studi</th>
      <th class="has-text-centered" colspan="2">Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% if params[:page].nil? || params[:page]== "0" || params[:page]=="1" %>
      <% x = 0 %>
    <% else %>
      <% page = params[:page].to_i - 1 %>
      <% x = page*10 %>
    <% end %>
    <% @lecture_lists.each_with_index do |lecture, i| %>
    <tr>
      <td><%= i = i + x + 1 %></td>
      <td><%= lecture.name %></td>
      <td><%= lecture.nidn %></td>
      <td><%= lecture.nip %></td>
      <td><%= lecture.status %></td>
      <td><%= lecture.major_id %></td>
      <td class="has-text-centered"><%= link_to icon_edit(''), edit_lecture_list_path(lecture) %></td>
      <td class="has-text-centered"><%= link_to icon_delete(''), lecture_list_path(lecture), method: :delete, data: {confirm: "Anda Yakin Hapus?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
