<%#= render 'tabs_navigation' %>
<section class="section">
  <div class="container">
      <% if @lecture_lists.present? %>
        <div class="card">
          <div class="card-content">
              <%= link_to "Buat Data", new_lecture_list_path, class:"button is-primary card-header-padding" %>
          </div>
          <div class="card-content">
            <%= render "lecture_Lists/table"  %>
          </div>
        </div>
      <% else %>
        <div class="box">
          <p class="p-5">Maaf belum ada data.  </p>
          <p><%= link_to "Buat Data", new_lecture_list_path, class:"button is-primary card-header-padding" %></p>
        </div>
      <% end %>

  </div>
</section>
