<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Dashboard Admin
      </h1>
      <% if current_user.is_active == true  %>
        <h2 class="subtitle">
          Mohon saran dan kritik membangun untuk fitur staf.
        </h2>
      <% else %>
        <h2 class="subtitle">
          Akun anda belum aktif, silahkan mengisi profil anda terlebih dahulu, nanti staf kami akan mereview dan mengkonfirmasi anda
        </h2>
      <% end %>
    </div>
  </div>
</section>
