<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 mb-5">
      <%= simple_form_for @essay, wrapper: :horizontal_form do |skripsi| %>
        <div class="card ">
          <div class="card-header">
            <%= params[:action] == "new" ? "Tambah Skripsi" : "Edit Skripsi" %>
          </div>
          <div class="card-body" style="padding-bottom: 1.25rem;">
            <table class="table">
              <tr>
                <td colspan="2">
                  <p>Judul : <%= @essay.title.upcase %></p>
                  <p>Mahasiswa :<%= @essay.graduate.name.upcase %></p>
                  <p>Stambuk :<%= @essay.graduate.stambuk %></p>
                </td>
              </tr>
              <tr>
                <td>
                  <%= skripsi.input :kode %>
                  <%= skripsi.input :posisi %>
                </td>
              </tr>
              <tr>
                <td  class="text-center">
                <%= image_tag set_skripsi_show_resource(@essay), style: "width: 30%;", class:"mb-3"%>
                </td>
              </tr>


              <tr class="text-center">
                <td>
                  <label class="btn btn-primary">
                    Cover Upload
                    <span style="display:none;">
                      <%= skripsi.input_field :cover_skripsi, as: :hidden, input_html:{value: skripsi.object.cached_cover_skripsi_data } %>
                      <%= skripsi.input_field :cover_skripsi, as: :file, class: "btn btn-success" %>
                    </span>
                  </label>
                </td>

              </tr>

              <%= skripsi.simple_fields_for :essay_document do |dokumen| %>
              <tr class="text-center">
                <td>
                  <%= dokumen.input :kategori, collection: EssayDocument.kategori_dokumen_list.map{|key, value|[key,value]}, include_blank: "-Pilih-" %>
                </td>
              </tr>

              <tr>
                <td>
                  <label class="btn btn-primary">
                    Dokumen Upload
                    <span style="display:none;">
                      <%#= dokumen.input_field :document_upload, as: :hidden, input_html:{value: dokumen.cached_document_upload_data  } %>
                      <%= dokumen.input_field :document_upload, as: :file, class: "btn btn-success" %>
                    </span>
                  </label>
                </td>
              </tr>
              <% end %>
            </table>
          </div>
          <div class="card-footer">
            <%= link_to "Kembali", index_skripsi_path, class:"btn btn-danger pull-right ml-2" %>
            <%= params[:action] == "new" ? (skripsi.submit "Tambah Skripsi", class: "btn btn-success pull-right")  : (skripsi.submit "Edit Skripsi", class: "btn btn-success pull-right")  %>
          </div>
        </div>
        <% end %>
    </div>
</div>
