<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-header">
          <h5>Katalog Skripsi Perpustakaan Fakultas Teknik UPRI</h5>
        </div>
        <div class="card-body">
          <%#= link_to 'Tambah Skripsi', new_book_collection_path, class: "btn btn-success mb-2" %>
          <table class="table table-sm table-bordered table-responsive">
            <thead>
              <tr>
                <th class="text-center">No</th>
                <th>Kode</th>
                <th class="text-center">Cover</th>
                <th>Judul</th>
                <th>Mahasiswa</th>
                <th>Stambuk</th>
                <th>Program Studi</th>
                <th>Tahun</th>
                <th>Posisi</th>
                <th colspan="2" class="text-center">File</th>
                <th>Edit</th>
              </tr>
            </thead>

            <tbody>
              <% if params[:page].nil? || params[:page]== "0" || params[:page]=="1" %>
                <% x = 0 %>
              <% else %>
                <% page = params[:page].to_i - 1 %>
                <% x = page*10 %>
              <% end %>
              <% @essays.each_with_index do |skripsi, i| %>
                <tr>
                  <td class="text-center"><%= i = i + x + 1 %></td>
                  <td><%= skripsi.kode rescue nil %></td>
                  <td style="width:80px;height:100%;" class="text-center"><%= image_tag set_skripsi_resource(skripsi), class:"img-thumbnail" %></td>
                  <td><%= link_to skripsi.title.truncate(30).upcase, skripsi %></td>
                  <td><%= skripsi.graduate.name.upcase rescue nil %></td>
                  <td><%= skripsi.graduate.stambuk rescue nil %></td>
                  <td><%= skripsi.graduate.major.name.upcase rescue nil %></td>
                  <td><%= skripsi.graduate.created_at.strftime("%Y") rescue nil %></td>
                  <td><%= skripsi.posisi %></td>
                  <td><%= link_to icon_word(''), "#" %></td>
                  <td><%= link_to icon_pdf(''), "#" %></td>
                  <td><%= link_to icon_edit(''), edit_essay_path(skripsi) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 text-center mb-5">
      <%= paginate @essays%>
    </div>
  </div>
</div>
