<div class="container p-5" style="background-color: #fff">
  <div class="row">
    <div class="col-3 text-center">
      <%= image_tag set_skripsi_show_resource(@essay) %>
    </div>
    <div class="col-9">
      <table class="table table-borderless table-responsive">
        <tr>
          <td>JUDUL</td><td><%= @essay.title.upcase %></td>
        </tr>
        <tr>
          <td>MAHASISWA</td><td><%= @essay.graduate.name.upcase %></td>
        </tr>
        <tr>
          <td>STAMBUK</td><td><%= @essay.graduate.stambuk %></td>
        </tr>
        <tr>
          <td>JURUSAN</td><td><%= @essay.graduate.major.name.upcase %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= link_to icon_out(''), index_skripsi_path, class:"btn btn-danger btn-sm pull-right" %>
    </div>
  </div>
</div>
