<section class="section">
    <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    Ubah Password
                  </div>
            </div>
            <div class="card-content">
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, wrapper: :default, defaults: {wrapper: false}) do |f| %>
                <%= f.error_notification %>
                <%= f.input :type_check, disabled: true, input_html:{value: current_user.type.titleize}, as: :hidden %>
                <%= f.input :email, required: true, autofocus: true, placeholder:"--Email--", disabled: true, wrapper: :text_bulma_small %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Menunggu konfirmasi untuk: <%= resource.unconfirmed_email %></p>
                <% end %>
                <%= f.input :password, autocomplete: "off", hint: "biarkan kosong jika tidak igin dirubah.", required: false,wrapper: :password_bulma_small  %>
                <%= f.input :password_confirmation, required: false, placeholder:"--Ulangi Password--", wrapper: :password_confirmation_bulma_small%>
                <%#= f.input :current_password, required: false, placeholder:"--Password Sekarang--", wrapper: :password_bulma_small%>

                <div class="buttons">
                  <%= f.button :submit, "Update", class:"is-success is-small" %>
                  <%= link_to "Kembali", root_url, class:"is-small" %>
                </div>
              <% end %>

            </div>
          </div>
        </div>
    </div>
</section>
