<section class="section">
  <div class="columns is-tablet">
    <div class="column is-4 is-offset-4">
      <div class="field has-text-centered">
        <div class="columns">
          <div class="column">
            <%= image_tag 'https://upri.s3-ap-southeast-1.amazonaws.com/images/upri.png', style: 'width: 20%;' %><br />
            <p >FAKULTAS TEKNIK</p>
            <p >UNIVERSITAS PEJUANG REPUBLIK INDONESIA</p><br />
          </div>
        </div>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :default, defaults: {wrapper: false}) do |f| %>
        <%= render 'shared/devise_message' %>
        <% if params[:check] %>
          <%= f.input :type_check, input_html:{value:params[:check]}, as: :hidden %>
        <% else %>
              <%= f.input :type_check, collection:["Dosen", "Mahasiswa", "Staff", "Mahasiswa Baru"], include_blank:"Daftar Sebagai", wrapper: :select_bulma %>
        <% end %>
        <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "--Masukkan Email--" %>
        <%= f.input :password, required: false, autofocus: true, label: false, placeholder: "--Masukkan Password--" %>
        <%= f.input :password_confirmation, required: false, autofocus: true, label: false, placeholder: "--Ulangi Password--" %>

        <% if devise_mapping.rememberable? %>
        <div class="field">
          <div class="control">
            <span style="display: inline-block">
              <%= f.input :remember_me, as: :boolean, label: "&nbsp;&nbsp;Ingat Saya".html_safe, wrapper: :boolean %>
            </span>
            <span >
              <%= link_to "Lupa Password", new_user_password_path, class:"pull-right" %>
            </span>
          </div>
        </div>
        <% end %>
        <p class="buttons">
            <%= f.button :submit, "Daftar", class: "is-fullwidth" do %>
              <span class="icon is-small">
                <i class="fas fa-check"></i>
              </span>
            <% end %>
        </p>
        <div class="field">
          <div class="control">
            <span >
              <%= render "users/shared/links" %>
              <%= link_to "Kembali", root_path %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
